<include file="Public/head" />
<include file="Public/top" />
<div class="clearfix">
    <div class="page-container">
    <include file="Public/left" />
    
        <div class="page-content-wrapper">
        <div class="page-content">
            <!-- BEGIN SAMPLE PORTLET CONFIGURATION MODAL FORM-->
            <div aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" id="portlet-config" class="modal fade">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button aria-hidden="true" data-dismiss="modal" class="close" type="button"></button>
                            <h4 class="modal-title">Modal title</h4>
                        </div>
                        <div class="modal-body">
                             Widget settings form goes here
                        </div>
                        <div class="modal-footer">
                            <button class="btn blue" type="button">Save changes</button>
                            <button data-dismiss="modal" class="btn default" type="button">Close</button>
                        </div>
                    </div>
                    <!-- /.modal-content -->
                </div>
                <!-- /.modal-dialog -->
            </div>
            <!-- /.modal -->
            <!-- END SAMPLE PORTLET CONFIGURATION MODAL FORM-->
            <!-- BEGIN PAGE HEADER-->
            <!-- BEGIN PAGE HEAD -->
            <div class="page-head">
                <!-- BEGIN PAGE TITLE -->
                <!-- END PAGE TITLE -->
            </div>
            <!-- END PAGE HEAD -->
            <!-- BEGIN PAGE BREADCRUMB -->
            <!-- END PAGE BREADCRUMB -->
            <!-- END PAGE HEADER-->
            <!-- BEGIN PAGE CONTENT-->
            <div class="row">
                <div class="col-md-12">
                    <div class="portlet box">
                        <!--搜索-->
                        <!-- <div class="portlet-body form">
                            <div calss="col-md-offset-3 form-body">
                            <a  class="btn btn-default" data-toggle="modal"  href="{:addons_url('Comment://Comment/index')}">评论管理</a>
                            <a  class="btn btn-default" data-toggle="modal"  href="{:addons_url('Comment://Comment/user')}">用户管理</a>
                            <a  class="btn btn-default" data-toggle="modal"  href="{:addons_url('Comment://Comment/counttable')}">统计信息</a>
                            <a  class="btn btn-default" data-toggle="modal"  href="{:addons_url('Comment://Comment/commentsettings')}">留言设置</a>
                            </div>
                        </div> -->
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <!-- BEGIN EXAMPLE TABLE PORTLET-->
                    <div class="portlet box blue">
                        <div class="portlet-title">
                            <div class="caption">
                                 <i class="fa fa-edit"></i>爆料列表
                            </div>
                            <div class="tools">
                                
                            </div>
                        </div>
                        <div class="portlet-body">
                            <table class="table table-striped table-hover table-bordered">
                                <thead>
                                    <tr>
                                        <th width="4%" style="display:none">
                                             <input type="checkbox" class="ace" name="check_any" id="cace"/>
                                        </th>
                                        <th width="29%">
                                             爆料标题
                                        </th>
                                        <th width="15%">
                                             爆料内容
                                        </th>
                                        <th width="7%">
                                             爆料人
                                        </th>
                                        <th width="15%">
                                            创建时间
                                        </th>
                                        <th width="15%">
                                            操作时间
                                        </th>
                                        <th width="19%">
                                             操作
                                        </th>
                                    </tr>
                                </thead>
                                
                                <tbody>
                                    <if condition="$count gt 0">
	                                    <foreach name="list" item="v" >
		                                    <tr>
		                                        <td style="display:none">
		                                            <input type="checkbox" name="ids" class="ace" value="{$v.voteid}"/>
		                                        </td>
		                                        <td>
		                                             {$v.title}
		                                        </td>
		                                        <td>
		                                            {$v.content}
		                                        </td>
                                                <td>
                                                     {$v.userid}
                                                </td>
                                                <td>
                                                     {$v.ctime|date='Y-m-d H:i:s',###}
                                                </td>
                                                <td>
                                                     {$v.utime|date='Y-m-d H:i:s',###}
                                                </td>
		                                        <td>
		                                            <!-- <a><i sid="{$v.id}" class="glyphicon glyphicon-briefcase  guanli" title="管理"></i></a>
                                                    <a><i sid="{$v.id}" class="glyphicon glyphicon-edit  bianji" title="编辑"></i></a> -->
                                                    <a><i sid="{$v.id}" class="glyphicon glyphicon-trash deletetest" title="删除"></i></a>
		                                        </td>
                                            </tr>
		                                </foreach>
	                                <else />
                                        <tr>
	                                       <td colspan="7">暂无数据</td>
                                        </tr>
	                                </if>
                                </tbody>
                            </table>
                            <div class="row">
							
								<div class="col-md-5 col-sm-12">
									<div class="dataTables_info" id="sample_editable_1_info" role="status" aria-live="polite">
									    当前是第 {$p} 页  总页数 <empty name='totalpage'>0<else />{$totalpage}</empty>
									</div>
								</div>
								<div class="col-md-7 col-sm-12">
									<div class="dataTables_paginate paging_simple_numbers" id="sample_editable_1_paginate">
										  {$page}
									 </div>
								</div>
							</div>
                            
                        </div>
                    </div>
                    <!-- END EXAMPLE TABLE PORTLET-->
                </div>
            </div>
            
            <!-- END PAGE CONTENT-->
        </div>
        </div></div></div>
<script>
$('.table-bordered').on('click', '.deletetest', function (e) {
    var obj = this;
    e.preventDefault();
    bootbox.confirm({
         buttons: {  
            confirm: {  
                label: '确认',  
                className: 'btn-myStyle'  
            },  
            cancel: {  
                label: '取消',  
                className: 'btn-default'  
            }  
        },  
        message: '确定要删除此条记录吗？',  
        callback: function(result) {  
            if(result) {
                $.post("{:U('Baoliao/delbaoliao')}",{i:$(obj).attr("sid")}, function(data) {
                    if (data.status == '1') {
                        Metronic.alert({
                            container: "", // alerts parent container(by default placed after the page breadcrumbs)
                            place: "append", // append or prepent in container 
                            type: "info",  // alert's type
                            message: '删除成功',  // alert's message
                            close: false, // make alert closable
                            reset: true, // close all previouse alerts first
                            focus: true, // auto scroll to the alert after shown
                            closeInSeconds: 2, // auto close after defined seconds
                            width:"col-md-offset-3 col-md-3",
                            fixed:"fixed",
                            icon: "" // put icon before the message
                        });
                        $(obj).parent().parent().parent().remove();
                    }
                },'json');
            }
        }
     });

});

$('.table-bordered').on('click', '.guanli', function (e) {
	var str = "{:U('Baoliao/baoliao','','')}";
	url = str+"/id/"+$(this).attr("sid");;
	location.href=url;
});

$('.table-bordered').on('click', '.bianji', function (e) {
    var str = "{:U('Baoliao/saveobj','','')}";
    url = str+"/id/"+$(this).attr("sid");
    location.href=url;
    
});
</script>
<include file="Public/footer" />