<include file="Public/head" />
<script type="text/javascript" src="__PUBLIC__/static/uploadify/jquery.uploadify.min.js"></script>

<include file="Public/top" />
<div class="clearfix">
	<div class="page-container">
	<include file="Public/left" />	
	    <div class="page-content-wrapper">
			<div class="page-content">
				<!-- BEGIN PAGE HEADER-->
				<!-- BEGIN PAGE HEAD -->
				<div class="page-head"></div>
				<!-- END PAGE HEAD -->
				<!-- BEGIN PAGE BREADCRUMB -->
				<!-- END PAGE BREADCRUMB -->
				<!-- END PAGE HEADER-->
				<!-- BEGIN PAGE CONTENT-->
				
				<div class="row">
					<div class="col-md-12">
						<!-- BEGIN EXAMPLE TABLE PORTLET-->
						<div class="portlet box blue">
							<div class="portlet-title">
							    <div class="caption">
                                     <i class="fa fa-edit"></i>{$title}
                                </div>
                                <div class="tools">
                                   <button class="btn btn-default" onclick="goback()" type="button">返回爆料主体列表</button>
                                </div>
							</div>
							<div class="portlet-body form">
							    <div class="form-body">
                                    <div class="alert alert-danger display-hide">
                                        <button data-close="alert" class="close"></button>
                                        <span></span>
                                    </div>
                                </div>
								<!-- begin form -->
								<div data-width="400">
									<!-- <div class="modal-dialog">
										<div class="modal-content"> -->
											<div class="modal-body">
												<div class="row">
													<div class="col-md-12">
														<form id="topicform" class="form-horizontal">
															<notempty name='objinfo'>
															<input type="hidden" name="id" value="{$objinfo.id}" />
															</notempty>
															<div class="form-group">
																<label class="col-md-3 control-label">主体名称<span class="required">
																* </span></label>
																<div class="col-md-4">
																	<input name="title" type="text" class="form-control" value="{$objinfo.title}">
																	<span class="help-block">请填写爆料主体名称</span>
																</div>
															</div>
															<!-- <div class="form-group">
																<label class="control-label col-md-3">Phone Number <span class="required">
																* </span>
																</label>
																<div class="col-md-4">
																	<input type="text" class="form-control" name="phone"/>
																	<span class="help-block">Provide your phone number</span>
																</div>
															</div> -->
															<div class="form-group">
																<label class="control-label col-md-3">主体图片<span class="required">
																* </span></label>
																<div class="col-md-5">
																	<div class="upload-img-box" id="litpic_show" style="float: left; padding-right: 1px;">
																		<if condition="$objinfo">
																		<img width="120" height="120" src="__ROOT__{$objinfo['path']}" />
																		</if>
																	</div>
																	<div class="controls uploadrow" title="点击修改图片" style="width: 100px; height: 32px; background: url(__PUBLIC__/Home/interact/images/shangchuan.png) no-repeat; float: left; overflow: hidden">
																		<input type="file" id="upload_picture_picurl">
																		<input type="hidden" name="img" id="pic_id" value="{$objinfo['img']}" />
																	</div>
																	<button class="btn btn-default BrowerPicture" data-toggle="modal" id="BrowerPicture" type="button" rel="{$uid}" style="margin-left: 5px;">选择站内图片</button>
																	<span class="required" style="color: red">* </span>
																	<span class="help-inline"> 建议尺寸:宽960像素,高280像素或等比图片</span>
																</div>
															</div>
															<div class="form-group">
																<label class="control-label col-md-3">主体详情<span class="required">
																* </span>
																</label>
																<div class="col-md-4">
																	<textarea class="form-control" name="desc">{$objinfo.desc}</textarea>
																	<span class="help-block">请填写主体详情</span>
																</div>
															</div>

															<div class="form-group">
																<label class="control-label col-md-3" for="form-field-1">发布状态<span class="required">
																* </span></label>

																<div class="md-checkbox-list col-md-4" style="padding:8px 15px">
																	<div class="md-checkbox">
																		<input type="checkbox" name="status" id="checkbox1" class="md-check"<if condition="$objinfo.status eq 1"> checked="checked"</if>>
																		<label for="checkbox1">
																		<span></span>
																		<span class="check"></span>
																		<span class="box"></span>
																		勾选后发布（默认关闭） </label>
																	</div>
																</div>
															</div>


						                                    <!-- <div class="form-group">
						                                        <label class="col-md-3 control-label">所属分类<span class="required"> * </span></label>
						                                        <div class="col-md-4">
						                                            <select class="form-control" name="sid">
						                                                <option value="">请选择分类</option>
						                                                <volist name="sortlist" id="so">
						                                                <option value="{$so.sid}" <if condition="$so['sid'] eq $topicinfo['sid']">selected="selected"</if>>{$so.sortname}</option>
						                                                </volist>
						                                            </select>
						                                        </div>
						                                    </div> -->
															<div class="form-actions">
																<div class="row">
																	<div class="col-md-offset-3 col-md-9">
																		<input type="submit"  onclick="return checkform(this.form)" class="btn blue" value="提交">
																		<input type="reset" class="btn defaults" value="重置">
																	</div>
																</div>
															</div>
														</form>

														<script type="text/javascript">
			                                                //上传图片
			                                                /* 初始化上传插件 */
			                                                $("#upload_picture_picurl").uploadify({
			                                                    "height"          : 32,
			                                                    "swf"             : "__PUBLIC__/static/uploadify/uploadify.swf",
			                                                    "fileObjName"     : "download",
			                                                    "buttonText"      : "",
			                                                    "uploader"        : "{:U('home/File/uploadPicture')}",
			                                                    "width"           : 100,
			                                                    'removeTimeout'   : 1,
			                                                    'fileTypeExts'    : '*.jpg; *.png; *.gif;',
			                                                    "onUploadStart"   : function(file){
			                                                        var element = {};
			                                                        element.uid = "{$uid}";
			                                                        $("#upload_picture_picurl").uploadify('settings','formData',element);
			                                                    },
			                                                    "onUploadSuccess" : uploadPicturepicurl
			                                                });
			                                                function uploadPicturepicurl(file, data){
			                                                	var data = eval("(" + data +")");
			                                                    //console.log(testdata);
			                                                    //var data = $.parseJSON(data);
			                                                    var src = '';
			                                                    if(data.status){
			                                                        $("#pic_id").val(data.id);
			                                                        src = data.url || '__ROOT__' + data.path;
			                                                        /*$("#cover_id_picurl").parent().find('.upload-img-box').show().html(
			                                                            '<div class="upload-pre-item"><img width="120" height="120" src="' + src + '"/></div>'
			                                                        );*/
			                                                        $("#litpic_show").show().html('<img width="120" height="120" src="' + src + '"/>');
			                                                    } else {
			                                                        $(".alert-danger").show().html(
			                                                            '<button class="close" data-close="alert"></button>'+data.info+'请重新选择图片'    
			                                                        )
			                                                        /*updateAlert(data.info);
			                                                        setTimeout(function(){
			                                                            $('#top-alert').find('button').click();
			                                                            $(that).removeClass('disabled').prop('disabled',false);
			                                                            },1500);*/
			                                                    }
			                                                }
			                                                function checkform(form) {
			                                                    if (form.title.value == '') {
			                                                        $(".display-hide > span").html("话题名称不能为空");
			                                                        $(".display-hide").show();
			                                                        form.title.focus();
			                                                        return false;
			                                                    }
			                                                    if (form.title.value.length > 40) {
			                                                        $(".display-hide > span").html("话题名称过长");
			                                                        $(".display-hide").show();
			                                                        form.title.focus();
			                                                        return false;
			                                                    }
			                                                    if (form.img.value == '') {
			                                                        $(".display-hide > span").html("请上传或选择话题Logo图");
			                                                        $(".display-hide").show();
			                                                        return false;
			                                                    }
			                                                    if (form.desc.value == '') {
                                                                    $(".display-hide > span").html("话题内容不能为空");
                                                                    $(".display-hide").show();
                                                                    form.desc.focus();
                                                                    return false;
                                                                }
                                                                if (form.desc.value > 400) {
                                                                    $(".display-hide > span").html("话题内容过长");
                                                                    $(".display-hide").show();
                                                                    form.desc.focus();
                                                                    return false;
                                                                }
                                                                // if (form.sid.value == '') {
                                                                //     $(".display-hide > span").html("请选择话题所属分类");
                                                                //     $(".display-hide").show();
                                                                //     return false;
                                                                // }
			                                                    $(".display-hide").hide();
			                                                    var data=$("#topicform").serialize();
			                                                    $.ajax({
			                                                        url:"{:U('Baoliao/saveobj')}",
			                                                        data:data,
			                                                        type:"POST",
			                                                        dataType:"json",
			                                                        success:function(msg){
			                                                            
			                                                            if(msg.status == 1){
			                                                                var msg = msg.info+",页面在三秒后自动跳转!!!";
			                                                                $.confirm({title:msg,modal: true, level:"success",buttons: {  
			                                                                       "确定": {
			                                                                           "class":"green",
			                                                                           "action":function() {
			                                                                               goback();
			                                                                           }
			                                                                       }
			                                                                   }  
			                                                                });
			                                                                setTimeout("goback()",3000);
			                                                            }else{
			                                                                var msg=msg.info+",请重新提交";
			                                                                $.confirm({title:msg,modal: true, level:"danger",buttons: {  
			                                                                       "确定": {
			                                                                           "class":"green",
			                                                                           "action":function() {
			                                                                           }
			                                                                       }
			                                                                   }  
			                                                                });
			                                                            }
			                                                        }
			                                                    });
			                                                    return false;
			                                                }
			                                                function goback(){
			                                                    var url = "{:U('Baoliao/index')}";
			                                                    location.href=url;
			                                                }
			                                                </script>
													</div>
												</div>
											</div>
										<!-- </div> -->
									<!-- </div> -->
								</div>
								<!-- end form -->
							</div>
						</div>
						<!-- END EXAMPLE TABLE PORTLET-->
					</div>
				</div>

				<!-- END PAGE CONTENT-->
			</div>
		</div>
	</div>
</div>
<include file="Public/footer" />