<include file="Public/head" />
<include file="Public/top" />
<div class="clearfix">
	<div class="page-container">
	<include file="Public/left" />
	
	    <div class="page-content-wrapper">
<!--图片上传需要引入的js-->
<script type="text/javascript" src="__PUBLIC__/static/uploadify/jquery.uploadify.min.js"></script>


<script src="__PUBLIC__/Home/interact/js/jquery.form.js" type="text/javascript"></script>
<style>

.div4_1 {
    float: left;
    margin-left: 20px;
    position: relative;
}
.inputstyle_1 {
    cursor: pointer;
    font-size: 30px;
    height: 30px;
    left: 0;
    opacity: 0;
    outline: medium none;
    position: absolute;
    top: 0;
    width: 81px;
}
</style>
<!-- BEGIN CONTAINER -->
<!-- <div class="page-container"> -->
	<!-- <div class="page-content-wrapper"> -->
		<div class="page-content">
			<!-- BEGIN SAMPLE PORTLET CONFIGURATION MODAL FORM-->
			<div class="modal fade" id="portlet-config" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
							<h4 class="modal-title">Modal title</h4>
						</div>
						<div class="modal-body">
							 Widget settings form goes here
						</div>
						<div class="modal-footer">
							<button type="button" class="btn blue">Save changes</button>
							<button type="button" class="btn default" data-dismiss="modal">Close</button>
						</div>
					</div>
					<!-- /.modal-content -->
				</div>
				<!-- /.modal-dialog -->
			</div>
			<!-- <ul class="page-breadcrumb breadcrumb">
				<li>
					<a href="index.html">首页</a>
					<i class="fa fa-circle"></i>
				</li>
				<li>
					<a href="{:addons_url('Vote://Vote/index')}">微投票</a>
					<i class="fa fa-circle"></i>
				</li>
				<li>
					<a href="#">添加投票</a>
				</li>
			</ul> -->
			<div class="row">
				<div class="col-md-12">
					<!-- BEGIN VALIDATION STATES-->
					<div class="portlet box blue">
						<div class="portlet-title">
							<div class="caption">
								<i class="fa fa-gift"></i>投票设置
							</div>
							<div class="tools">
								<button class="btn btn-default" onclick="jumpurl()" type="button">返回</button>
							</div>
						</div>
						<div class="portlet-body form">
							<!-- BEGIN FORM-->
							<form  id="form_sample_1"  class="form-horizontal">
								<input type="hidden" name="uid" value="{$uid}">
								<!-- <input type="hidden" name="type" value="{$type}"> -->
								<div class="form-body">
									<div class="alert alert-danger display-hide">
										<button class="close" data-close="alert"></button>
										您填写的表单信息有误，请检查一下！
									</div>
									<div class="alert alert-success display-hide">
										<button class="close" data-close="alert"></button>
										信息无误，验证通过！
									</div>
								<div class="form-group " style="margin-top:10px;">
										<label class="control-label col-md-3">关键词</label>
										<div class="col-md-9">
											<input type="text" placeholder="关键词" class="form-control input-inline input-medium" name="keyword">
											<span class="required" style="color:red">* </span>
											<span class="help-inline">
											活动的关键词不能重复，且不建议包含标点符号 多个关键词用空格分开</span>
										</div>
								</div> 
								<div class="form-group">
										<label class="control-label col-md-3">投票标题</label>
										<div class="col-md-9">
											<input type="text" name="title" placeholder="投票标题" class="form-control input-inline input-medium">
											<span class="required" style="color:red">* </span>
											<span class="help-inline">
											不能超过18个字</span>
										</div>
								</div> 
								<div class="form-group">
										<label class="control-label col-md-3">时间设置</label>
										<div class="col-md-9">
											<div style="float:left" class="input-group input-large date-picker input-daterange" data-date="10/11/2012" data-date-format="mm/dd/yyyy">
												<input type="text" class="form-control" name="from">
												<span class="input-group-addon">到</span>
												<input type="text" class="form-control" name="to">
											</div>
											<span class="required" style="color:red;margin-left:5px;">* </span>
											<span class="help-inline">
											结束时间不能小于开始时间</span>
										</div>
								</div> 
								
									<div class="form-group">
										<label class="control-label col-md-3">投票图片</label>
										<div class="col-md-9">
										   <div class="upload-img-box" id="litpic_show" style="float:left;padding-right:1px;">
										   </div>
											<div class="controls uploadrow" title="点击修改图片" style="width:100px;height:32px;background:url(__PUBLIC__/Home/interact/images/shangchuan.png) no-repeat;float:left;overflow:hidden">
                            					<input type="file" id="upload_picture_picurl">
                            					<input type="hidden" name="picurl" id="cover_id_picurl"/>
                          					</div>
                          					<input type="hidden" name="pic_id" id="pic_id"  value="" />
                          					<!-- <input name="voteimgurl" type="hidden" id="voteimgurl_pid" > -->
                          					<script type="text/javascript">
												//上传图片
							    				/* 初始化上传插件 */
                                                
												$("#upload_picture_picurl").uploadify({
							        				"height"          : 32,
							        				"swf"             : "__PUBLIC__/static/uploadify/uploadify.swf?a=2365163015131",
							        				"fileObjName"     : "download",
							        				"buttonText"      : "",
							        				"uploader"        : "{:U('File/uploadPicture',array('session_id'=>session_id()))}",
							        				"width"           : 100,
							        				'removeTimeout'	  : 1,
							        				'fileTypeExts'	  : '*.jpg; *.png; *.gif;',
							        				"onUploadStart"   : function(file){
							        					var element = {};
							        					element.uid = {$uid};
							        					/*
							        					 element.uname = 'xxx';
							        					*/
							        					$("#upload_picture_picurl").uploadify('settings','formData',element);
							        				},
							        				"onUploadSuccess" : uploadPicturepicurl
							        			});
												function uploadPicturepicurl(file, data){
													var data = eval("(" + data +")");
													//console.log(testdata);
							    					//var data = $.parseJSON(data);
							    					var src = '';
							        				if(data.status){
							        					$("#cover_id_picurl").val(data.id);
							        					src = data.url || '__ROOT__' + data.path;
							        					/*$("#cover_id_picurl").parent().find('.upload-img-box').show().html(
							        						'<div class="upload-pre-item"><img width="120" height="120" src="' + src + '"/></div>'
							        					);*/
							        					$("#litpic_show").show().html('<img width="120" height="120" src="' + src + '"/>');
														$("#pic_id").val(data.id);
							        					$('.weixin-cover-pic').attr('src',src);
							        				} else {
							        					$(".alert-danger").show().html(
							        						'<button class="close" data-close="alert"></button>'+data.info+'请重新选择图片'	
							        					)
							        					/*updateAlert(data.info);
							        					setTimeout(function(){
							                				$('#top-alert').find('button').click();
							               					$(that).removeClass('disabled').prop('disabled',false);
							            					},1500);*/
							        				}
							    			    }
												</script>    
											<button  class="btn btn-default BrowerPicture"  data-toggle="modal"  type="button" rel="{$uid}" style="margin-left:5px;">选择站内图片</button>	        
											<span class="required" style="color:red">* </span>
											<span class="help-inline">
											建议尺寸:宽540像素,高300像素或等比图片</span>
										</div>
								</div> 
									<div class="form-group">
										<label class="col-md-3 control-label">图片显示</label>
										<div class="col-md-9">
											<div class="radio-list">
												<label class="radio-inline">
												<input type="radio" name="img_isshow" id="optionsRadios21" value="1" checked>显示在投票页面</label>
												<label class="radio-inline">
												<input type="radio" name="img_isshow" id="optionsRadios22" value="2">不显示在投票页面</label>											</div>
										</div>
									</div>
									<div class="form-group">
										<label class="col-md-3 control-label">投票说明</label>
										<div class="col-md-9">
											<textarea rows="3" class="form-control input-inline input-medium" name="remark"></textarea>
										</div>
									</div>
									<div class="form-group">
										<label class="col-md-3 control-label">文字/图片投票</label>
										<div class="col-md-9">
											<div class="radio-list">
												<label class="radio-inline">
												<input type="radio" name="type" id="optionsRadios23" value="1" checked  onclick="imgvote()">文字投票</label>
												<label class="radio-inline">
												<input type="radio" name="type" id="optionsRadios24" value="2" onclick="imgvote()">图片投票</label>											</div>
										</div>
									</div>
									<div class="form-group">
										<label class="col-md-3 control-label">投票选项</label>
										<div class="col-md-9">
											<button  class="btn btn-default" onclick="addopt();" type="button">添加选项</button>
											<style>
									        .add_list_table{margin:10px 0px 5px 0px;display:none;}
											.add_list td {padding: 10px 5px;background-color: #f4f4f4;}
											 .add_list input {margin-bottom: 0;}

											.jbox-body{z-index:99999;!important}
									        </style>
											
											<table cellspacing="1" cellpadding="0" class="add_list_table" id="option_list">
												<tbody>
      												<tr style="" class="add_list add_list_head">
        												<td>标题</td>
        												<td>排序</td>
        												<td>初始票数</td>
        												<td style="display:none" name="pictureVote">图片链接地址</td>
        												<td style="display:none" name="pictureVote">图片跳转地址</br>以http://开头</td>
        												<td>操作</td>
      													</tr>
            										<!-- <tr class="add_list">
            											<td><input type="text"  class="form-control input-inline input-medium" name="option_title[1]" value=""></td>
            											<td><input type="text"  class="form-control input-xsmall" name="option_order[1]" value="1"></td>
            											<td><input type="text"  class="form-control input-xsmall" name="option_initvotenum[1]" value="0"></td>
            											<td style="display:none" name="pictureVote"><input type="text"  class="form-control input-xsmall" name="option_initvotenum[1]" value="0" style="float:left;"><button style="float:left;" data-target="#stack1" data-toggle="modal" class="btn btn-default" type="button">浏览</button></td>
            											<td style="display:none" name="pictureVote"><input type="text"  class="form-control input-xsmall" name="option_initvotenum[1]" value="0"></td>
            											<td><button class="btn btn-danger" onclick="delOpt(this)"  type="button">删除</button></td>
            										</tr> -->
            									</tbody>
            								</table>
										
										
									</div>
									
									
									<div class="form-group">
										<label class="col-md-3 control-label">单选/多选</label>
										<div class="col-md-9">
											<div class="radio-list">
												<label class="radio-inline">
												<input type="radio" name="optioned_type" id="optionsRadios25" value="1" checked >单选</label>
												<label class="radio-inline">
												<input type="radio" name="optioned_type" id="optionsRadios26" value="2" >多选</label>											</div>
										</div>
									</div>
									<div class="form-group" id="option_maxnum" style="display:none">
										<label class="col-md-3 control-label">多选最多选择数</label>
										<div class="col-md-9">
											<select class="form-control input-inline input-medium" name="option_number">
												
											</select>
									</div>
									</div>
									<div class="form-group">
										<label class="col-md-3 control-label">投票结果</label>
										<div class="col-md-9">
											<div class="radio-list">
												<label class="radio-inline">
												<input type="radio" name="result_show" id="optionsRadios27" value="1" checked>投票前可见</label>
												<label class="radio-inline">
												<input type="radio" name="result_show" id="optionsRadios28" value="2">投票后可见</label>	
												<label class="radio-inline">
												<input type="radio" name="result_show" id="optionsRadios29" value="3">投票结束后可见</label>										</div>
										</div>
									</div>
									<div class="form-group">
										<label class="col-md-3 control-label">投票结果</label>
										<div class="col-md-9">
											<div class="radio-list">
												<label class="radio-inline">
												<input type="radio" name="result_order" id="optionsRadios30" value="1" checked>是</label>
												<label class="radio-inline">
												<input type="radio" name="result_order" id="optionsRadios31" value="2">否</label>											</div>
										</div>
									</div>
									<div class="form-group">
										<label class="control-label col-md-3">每人每天最多投票次数</label>
										<div class="col-md-9">
											<input type="text" value="1"class="form-control input-inline input-medium" name="peverday_maxnum">
										</div>
								</div>
								<div class="form-group">
										<label class="control-label col-md-3">活动期间最多投票次数</label>
										<div class="col-md-9">
											<input type="text" value="1" class="form-control input-inline input-medium" name="voteperson_maxnum">
										</div>
								</div>
								<div class="form-group">
										<label class="control-label col-md-3" style="height:100px;line-height:98px;">投票样式</label>
										<div class="col-md-9">
											<select class="form-control input-inline input-medium" name="vote_style">
												<foreach name="template" item="v">
												   <if condition="$key eq 0">
													    <option selected value="{$v.code}" rel="{$key}" sou="{$v.source}">{$v.title}</option>
													<else />
													    <option  value="{$v.code}" rel="{$key}" sou="{$v.source}">{$v.title}</option>
													</if>
												</foreach>
											</select>
											<foreach name="template" item="vo">
											  <if condition="$key eq 0">
												  <img name="icon_{$vo.code}" src="{$vo.icon}" width=55 height=100>
												<else />
												   <img name="icon_{$vo.code}" src="{$vo.icon}" style="display:none" width=55 height=100>
												</if>
											</foreach>
											<input type="hidden" name="source" id="source" value="{$template[0]['source']}"/>
										</div>
									</div>
									<!-- <div class="form-group">
										<label class="col-md-3 control-label">投票分享后是否抽奖</label>
										<div class="col-md-9">
											<div class="radio-list">
												<label class="radio-inline">
												<input type="radio" name="is_lucky" id="optionsRadios32" value="1" checked>是</label>
												<label class="radio-inline">
												<input type="radio" name="is_lucky" id="optionsRadios33" value="2">否</label>	
											</div>
										</div>
									</div> -->
									<div class="form-group">
										<label class="col-md-3 control-label">是否强制用户注册后投票</label>
										<div class="col-md-9">
											<div class="radio-list">
												<label class="radio-inline">
												<input type="radio" name="is_register" id="optionsRadios34" value="1" checked>是</label>
												<label class="radio-inline">
												<input type="radio" name="is_register" id="optionsRadios35" value="2">否</label>	
											</div>
										</div>
									</div>
								</div>
								<div class="form-actions">
									<div class="row">
										<div class="col-md-offset-4  col-md-7">
											<button type="submit" class="btn blue">提交</button>
											<button type="reset" class="btn default">重置</button>
										</div>
									</div>
								</div>
							</form>
							<!-- END FORM-->
						</div>
					</div>
					<!-- END VALIDATION STATES-->
				</div>
			</div>
			<!-- END PAGE CONTENT-->
			
			<!-- 创建浮层的html start -->
			<!-- javascript生成弹窗HTML -->
			<!-- 创建浮层的html end -->
		</div>
		
		</div>
		</div>
		</div>
		
		
	<!-- </div> -->
	<!-- END CONTENT -->
<!-- </div> -->
<!-- END CONTAINER -->
<!-- BEGIN FOOTER -->
<script type="text/javascript" src="__PUBLIC__/Home/static/theme/assets/global/plugins/jquery-validation/js/jquery.validate.min.js"></script>
<!-- END PAGE LEVEL STYLES -->
<script>
	function creatHtml(id){
		var iframurl = "{:U('Home/Public/iframBrowseFile',array('stype'=>'picture','uid'=>$uid))}";
		    iframurl = iframurl.replace(".html","")
	    	iframurl = iframurl+"/op/"+id;
		var creathtml ='<div id="stack'+id+'" class="modal fade" tabindex="-1" data-width="400"><div class="modal-dialog"><div class="modal-content">';
			creathtml+='<div class="modal-header"><div class="interact_close" ><a class="interact_remove" data-dismiss="modal"></a></div><h4 class="modal-title"><i class="fa fa-reorder"></i>&nbsp;图片选择</h4></div>';
			creathtml+='<div class="modal-body"><div class="row"><div class="col-md-12"><div class="tabbable tabbable-tabdrop">';
			//creathtml+='<ul class="nav nav-tabs"><li class="active"><a href="#tab1_'+id+'" data-toggle="tab">本地上传</a></li><li><a href="#tab2_'+id+'" data-toggle="tab">图库选择</a></li><li><a href="#tab3_'+id+'" data-toggle="tab">网络图片</a></li></ul>';
			creathtml+='<ul class="nav nav-tabs"><li class="active"><a href="#tab1_'+id+'" data-toggle="tab">本地上传</a></li><li><a href="#tab2_'+id+'" data-toggle="tab">图库选择</a></li><li><a href="#tab3_'+id+'" data-toggle="tab">网络图片</a></li></ul>';
			creathtml+='<div class="tab-content">';
			//creathtml+='<div class="tab-pane active" id="tab1_'+id+'"><input type="text" class="form-control input-inline input-medium" style="float:left;margin-right:5px;" id="fpicurl_'+id+'" rel="'+id+'"><div class="controls uploadrow" style="width:100px;height:32px;background:url(__PUBLIC__/Home/interact/images/shangchuan.png) no-repeat;float:left;overflow:hidden"><input type="file" class="uploadImage" id="upload_picture_'+id+'"></div></div>';
			creathtml+='<div class="tab-pane active" id="tab1_'+id+'"><input type="text" class="form-control input-inline input-medium" style="float:left;" id="fpicurl_'+id+'" value="" rel="'+id+'"><form role="form" class="form-horizontal" method="post" enctype="multipart/form-data" id="upjpg_'+id+'"><input type="hidden" name="uid" value="{$uid}"><div class="div4_1"><input id="s_file_name_'+id+'" type="hidden" value=""><img alt="" src="__PUBLIC__/Home/interact/images/liune.jpg"><input rel="'+id+'" id="file_'+id+'" class="inputstyle_1" type="file" name="download" onchange="uploadimg(this)"><span style="margin-left:13px;color:red;" id="check_file_'+id+'" class="check_group"></span></div></from></div>';
			creathtml+='<div class="tab-pane" id="tab2_'+id+'"><iframe id="iframBrowsefile_'+id+'" name="iframBrowsefile_'+id+'" src="'+iframurl+'" height="330" width="560" frameborder=0  marginheight=0 marginwidth=0  ></iframe></div>';
			creathtml+='<div class="tab-pane" id="tab3_'+id+'"><label class="control-label col-md-3">图片地址：</label><div class="col-md-8"><input type="text" class="form-control input-inline input-medium" rel="'+id+'"><span style="margin-left:13px;color:red;" id="check_file_'+id+'" class="check_group"></span></div></div>';
			creathtml+='</div></div></div></div></div>';
			creathtml+='<div class="modal-footer"><button type="button"  onclick="sumbimg('+id+')" class="btn blue">确认</button><button type="button" data-dismiss="modal" class="btn">关闭</button></div></div></div></div>';
			$(".page-content").append(creathtml);
	}
	function addopt(){
		$('.add_list_table').show();
		imgvote();
		var optionsRadios23=$("#optionsRadios23").attr('checked');
		var optionsRadios24=$("#optionsRadios24").attr('checked');
		var i = 1;
		$('.btn-danger').each(function(){
			i++;
		});
		var id = i;
		var html = '<tr class="add_list">';
			html+= '<td><input type="text" class="form-control input-inline input-medium" name="option_title['+id+']" value=""></td>';
			html+= '<td><input type="text" class="form-control input-xsmall" name="option_order['+id+']" value="'+i+'" ></td>';
			html+= '<td><input type="text" class="form-control input-xsmall" name="option_initvotenum['+id+']" value="0"></td>';
			if(optionsRadios24 == 'checked'){
				html+= '<td name="pictureVote"><input type="hidden" id="pic_id_'+id+'" name="option_imgurlid['+id+']"><input type="text" id="imgurl_'+id+'"  class="form-control input-xsmall" name="option_imgurl['+id+']"  style="float:left"><button style="float:left;" data-toggle="modal" data-target="#stack'+id+'" class="btn btn-default" type="button">浏览</button></td>';
				html+= '<td name="pictureVote"><input type="text"  class="form-control input-xsmall" name="option_img_jumpurl['+id+']"></td>';
			}else if(optionsRadios23 == 'checked'){
				html+= '<td style="display:none;" name="pictureVote"><input type="hidden" id="pic_id_'+id+'" name="option_imgurlid['+id+']"><input type="text" id="imgurl_'+id+'"  class="form-control input-xsmall" name="option_imgurl['+id+']" style="float:left"><button data-toggle="modal" data-target="#stack'+id+'" style="float:left;" class="btn btn-default" type="button">浏览</button></td>';
				html+= '<td style="display:none;" name="pictureVote"><input type="text"  class="form-control input-xsmall" name="option_img_jumpurl['+id+']" ></td>';
			}
			html+= '<td><button class="btn btn-danger" onclick="delOpt(this)"  type="button">删除</button></td>';
			html+= '</tr>';
		$('#option_list').append(html);
		creatHtml(id);
		addselect();
	}

	function uploadimg(obj){
		var id = $(obj).attr('rel');
			str=$(obj).val(); 
			var k = str.substr(str.indexOf("."));
			if(k == '.jpg' || k == '.JPG' || k == '.PNG' || k == '.png' || k =='.gif' || k == '.GIF'){
				$("#check_file_"+id).html("");
				$("#upjpg_"+id).ajaxSubmit({
					type: 'post',
			        url: "{:U('File/uploadPicture',array('session_id'=>session_id()))}",
			        dataType: 'json',
					success: function(data) {
						//alert(data.status)
						if(data.status){
							$("#s_file_name_"+id).val(data.id);
        					src = data.url || '{$Think.config.BASE_URL}__ROOT__' + data.path;
        					
        					$("#fpicurl_"+id).val(src);
        					$("#pic_id_"+id).val(data.id);
						}else{
							$(".alert-danger").show().html(
									'<button class="close" data-close="alert"></button>'+data.info+'请重新选择图片'	
							);
						}
					},
					error:function(xhr){
						
					}
				});
			}else{
				$("#check_file_"+id).html("文件格式错误");
			}
	}
	
	function sumbimg(id){
		//var id = $(".active > input:first").attr('rel');
		var imgurl = $(".active").find("input").first().val();
		    if(imgurl){
			    var divid =  $(".active").find("input").first().parent().attr('id');
			    if(divid == 'tab3_1'){
			    	$("#pic_id_"+id).val(imgurl);
			    	$("#imgurl_"+id).val(imgurl);
				    $(".in").hide();
				    $("#stack"+id).hide();
				    $("#fpicurl_"+id).val('');
			    }
			    if(divid == 'tab1_1'){
			    	$("#imgurl_"+id).val(imgurl);
				    $(".in").hide();
				    $("#stack"+id).hide();
				    $("#fpicurl_"+id).val('');
			    }
		    }else{
		    	$(".active").find("#check_file_"+id).html("图片不能为空");
		    }
	}
	
	function delOpt(obj){
		$(obj).parents('tr').remove();
		addselect();
	}
	function imgvote(){
		var optionsRadios23=$("#optionsRadios23").attr('checked');
		var optionsRadios24=$("#optionsRadios24").attr('checked');
		if(optionsRadios23 == 'checked'){
			$("[name='pictureVote']").hide();
		}else if(optionsRadios24 == 'checked'){
			$("[name='pictureVote']").show();
		}
	}
	
	function formsubmit(){
		alert('ssss');
		var data=$("#form_sample_1").serialize();
		$.ajax({
			url:"{:U('Vote/saveVote')}",
			data:data,
			type:"POST",
			dataType:"json",
			success:function(msg){
				if(msg.status == 1){
					var msg = msg.info+",页面在三秒后自动跳转!!!";
					$.confirm({title:msg,modal: true, level:"success",buttons: {  
						   "确定": {
							   "class":"green",
							   "action":function() {
								   jumpurl();
							   }
						   }
					   }  
					});
					setTimeout("jumpurl()",3000);
				}else{
					var msg=msg.info+"请重新提交";
					$.confirm({title:msg,modal: true, level:"danger",buttons: {  
						   "确定": {
							   "class":"green",
							   "action":function() {
							   }
						   }
					   }  
					});
				}
			}
		});
		return false;
	}
	function jumpurl(){
		var url = "{:U('Vote/index')}";
		location.href=url;
	}
	$(function(){
		$("[name='optioned_type']").click(function(){
			var option_type = $(this).val();
			if(option_type == 2){
				$("#option_maxnum").show();
			}else{
				$("#option_maxnum").hide();
			}
		});
	})
	function addselect(){
		var i=0;
		$(".add_list").each(function(){
			i++;
		});
		//i = i-1;
		for(var key=1;key<i;key++){
    		if(key==1){
    			html = '<option selected value="'+key+'" >'+key+'</option>'
    		}else{
    			html+='<option value="'+key+'" >'+key+'</option>';
    		}
    		
    	}
		$("[name='option_number']").html(html);
	}
	jQuery(document).ready(function(){
		$("[name='vote_style']").change(function(){
			var source = $("[name='vote_style']").find("option:selected").attr("sou");
			$("#source").val(source);
			var code = $(this).val();
			$(this).parent().find('img').hide();
			$("[name='icon_"+code+"']").show();
		})
	})
	
	jQuery(document).ready(function(){
		var form2 = $('#form_sample_1');
        var error2 = $('.alert-danger', form2);
        var success2 = $('.alert-success', form2);
        form2.validate({
            errorElement: 'span', //default input error message container
            errorClass: 'help-inline', // default input error message class
            focusInvalid: false, // do not focus the last invalid input
            ignore: "",
            rules: {
            	title: {
                    minlength: 1,
                    maxlength: 54,
                    required: true
                },
                keyword: {
                	minlength: 1,
                    maxlength: 100,
                    required: true,
                },
                remark: {
                	minlength: 1,
                    maxlength: 200,
                },
                from: {
                    required: true,
                    date: true
                },
                to: {
                    required: true,
                    date: true
                },
                ep_lucky_number: {
                    number: true
                },
                peverday_maxnum: {
                    number: true
                },
                voteperson_maxnum: {
                    number: true
                },
                pic_id: {
                    required: true,
                },
            },
            invalidHandler: function (event, validator) { //display error alert on form submit              
                success2.hide();
                error2.show();
            },

            errorPlacement: function (error, element) { // render error placement for each input type
                var icon = $(element).parent('.input-icon').children('i');
                icon.removeClass('fa-check').addClass("fa-warning");  
                icon.attr("data-original-title", error.text()).tooltip({'container': 'body'});
            },

            highlight: function (element) { // hightlight error inputs
                $(element).closest('.form-group').addClass('has-error'); // set error class to the control group   
            },

            unhighlight: function (element) { // revert the change done by hightlight
                
            },

            success: function (label, element) {
                var icon = $(element).parent('.input-icon').children('i');
                $(element).closest('.form-group').removeClass('has-error').addClass('has-success'); // set success class to the control group
                icon.removeClass("fa-warning").addClass("fa-check");
            },

            submitHandler: function (form) {
                success2.show();
                error2.hide();
                formsubmit();
            }
        });
        return false;
	});
	//$(".jbox-body").css({"position":"fixed","height":"365px","width":"100%","top":"0px","left":"0px","right":"0px","bottom":"0px","z-index":"99999"})
</script>


<include file="Public/footer" />