.index0_left .col_2 .md_11077_140528 .md_bd .list_box ul li { float:left; margin-right:57px; width:160px;}
.md_11077_140528 .bai { background:url(http://p2.img.cctvpic.com/photoAlbum/templet/common/DEPA1373943033859711/index3_11077_140528.png) no-repeat #fff}
.index0_left .col_2 { width:594px; float:left; position:relative}
body .l, body .left {
	float:left;
	clear:none;
}
.index0_left .col_2 .md_11077_140528 .md_bd .list_box ul li .text { font-family:"宋体"; font-size:12px; color:#666666; line-height:30px; padding-bottom:12px}
a:hover, a:active {
	text-decoration:underline;
}
body, div, p, ul, ol, dl, dt, dd, li, form, input, table, img, h1, h2, h3, h4, h5, h6 {
	margin:0;
	padding:0;
}
.index0_left .col_2 .md_11077_140528 .md_bd .list_box ul li .img { position:relative;}
.column_wrapper {
	clear:both;
	margin:0 auto;
	text-align:left;
	width:960px;
	overflow:hidden;
}
.column_wrapper:after {
	clear:both;
	content:".";
	display:block;
	font-size:0;
	height:0;
	line-height:0;
	visibility:hidden;
}
em, b, i {
	font-style:normal;
}
ul:after, ol:after {
	clear:both;
	content:".";
	display:block;
	font-size:0;
	height:0;
	line-height:0;
	visibility:hidden;
}
.index0_left .col_2 .md_11077_140528 .md_bd .list_box ul li .tp { position:absolute; left:0; top:0;}
body {
	background:none repeat scroll 0 0 #F3F4F8;
	color:#333;
	margin:0;
	font-family:"";
	font-size:12px;
	margin-top:0;
}
.md_11077_140528 .md_hd .mh_option a { color:#1e5da4}
.index0_left .col_2 .md_11077_140528 .md_bd .list_box ul li:hover .tp a { background:url(http://p2.img.cctvpic.com/photoAlbum/templet/common/DEPA1373943033859711/index4_hover_11077_140528.png) no-repeat; }
.md_11077_140528 .md_hd .mh_title { margin:0; font-family:"微软雅黑"; font-size:18px; color:#535f6d; font-weight:normal;line-height:44px; padding-left:5px;}
.index0_left .col_2 .md_11077_140528 .md_bd .list_box ul li .tp a { display:block; background:url(http://p2.img.cctvpic.com/photoAlbum/templet/common/DEPA1373943033859711/index4_11077_140528.png) no-repeat; width:32px; height:32px;}
p {
	line-height:1.25em;
}
.md_11077_140528 .md_bd { margin:0; padding:0; background:none; border:none}
a:link, a:visited {
}
.md_11077_140528 .md_hd { background:url(http://p2.img.cctvpic.com/photoAlbum/templet/common/DEPA1373943033859711/index3_11077_140528.png) no-repeat; height:44px; padding:0; margin:0; border:none}
img, a img {
	border:0 none;
}
a.on:hover, a.cur:hover, .on a:hover, .cur a:hover {
	text-decoration:none;
}
body .c, body .c {
	text-align:center;
}
ul, ol {
	list-style-type:none;
}
.index0_left .col_2 .md_11077_140528 .md_bd .list_box ul li .text a { color:#666}
.clear_float, .clear {
	clear:both;
	font-size:1px;
	line-height:1px;
	height:1px;
	overflow:hidden;
}
.md_11077_140528 .md_hd .mh_option {font-family:"宋体"; font-size:12px; color:#1e5da4; background:url(http://p2.img.cctvpic.com/photoAlbum/templet/common/DEPA1373943033859711/index5_11077_140528.png) no-repeat 53px 16px; padding:0; margin:0; padding-right:24px; line-height:44px; font-weight:normal}
body .r, body .right {
	float:right;
	clear:none;
}
.vspace {
	height:10px;
	font-size:0px;
	line-height:0px;
	width:99%;
	clear:both;
}
.md_11077_140528 { border:none; background:none; margin:0; padding:0}
a {
	color:#000;
	text-decoration:none;
}
.index0_left .col_2 .md_11077_140528 .md_bd .list_box ul .end { margin:0}