<include file="Public/head" />
<include file="Public/top" />
<div class="clearfix">
	<div class="page-container">
	<include file="Public/left" />
	
	    <div class="page-content-wrapper">
		<div class="page-content">
			<!-- BEGIN SAMPLE PORTLET CONFIGURATION MODAL FORM-->
			<div aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" id="portlet-config" class="modal fade">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							<button aria-hidden="true" data-dismiss="modal" class="close" type="button"></button>
							<h4 class="modal-title">Modal title</h4>
						</div>
						<div class="modal-body">
							 Widget settings form goes here
						</div>
						<div class="modal-footer">
							<button class="btn blue" type="button">Save changes</button>
							<button data-dismiss="modal" class="btn default" type="button">Close</button>
						</div>
					</div>
					<!-- /.modal-content -->
				</div>
				<!-- /.modal-dialog -->
			</div>
			<!-- /.modal -->
			<!-- END SAMPLE PORTLET CONFIGURATION MODAL FORM-->
			<!-- BEGIN PAGE HEADER-->
			<!-- BEGIN PAGE HEAD -->
			<div class="page-head">
				<!-- BEGIN PAGE TITLE -->
				<!-- END PAGE TITLE -->
				<!-- BEGIN PAGE TOOLBAR -->
				<!--<div class="page-toolbar">
					 BEGIN THEME PANEL 
					<div class="btn-group btn-theme-panel">
						<a data-toggle="dropdown" class="btn dropdown-toggle" href="javascript:;">
						<i class="icon-settings"></i>
						</a>
						<div class="dropdown-menu theme-panel pull-right dropdown-custom hold-on-click">
							<div class="row">
								<div class="col-md-4 col-sm-4 col-xs-12">
									<h3>THEME</h3>
									<ul class="theme-colors">
										<li data-theme="default" class="theme-color theme-color-default active">
											<span class="theme-color-view"></span>
											<span class="theme-color-name">Dark Header</span>
										</li>
										<li data-theme="light" class="theme-color theme-color-light">
											<span class="theme-color-view"></span>
											<span class="theme-color-name">Light Header</span>
										</li>
									</ul>
								</div>
								<div class="col-md-8 col-sm-8 col-xs-12 seperator">
									<h3>LAYOUT</h3>
									<ul class="theme-settings">
										<li>
											 Theme Style
											<select class="layout-style-option form-control input-small input-sm">
												<option selected="selected" value="square">Square corners</option>
												<option value="rounded">Rounded corners</option>
											</select>
										</li>
										<li>
											 Layout
											<select class="layout-option form-control input-small input-sm">
												<option selected="selected" value="fluid">Fluid</option>
												<option value="boxed">Boxed</option>
											</select>
										</li>
										<li>
											 Header
											<select class="page-header-option form-control input-small input-sm">
												<option selected="selected" value="fixed">Fixed</option>
												<option value="default">Default</option>
											</select>
										</li>
										<li>
											 Top Dropdowns
											<select class="page-header-top-dropdown-style-option form-control input-small input-sm">
												<option value="light">Light</option>
												<option selected="selected" value="dark">Dark</option>
											</select>
										</li>
										<li>
											 Sidebar Mode
											<select class="sidebar-option form-control input-small input-sm">
												<option value="fixed">Fixed</option>
												<option selected="selected" value="default">Default</option>
											</select>
										</li>
										<li>
											 Sidebar Menu
											<select class="sidebar-menu-option form-control input-small input-sm">
												<option selected="selected" value="accordion">Accordion</option>
												<option value="hover">Hover</option>
											</select>
										</li>
										<li>
											 Sidebar Position
											<select class="sidebar-pos-option form-control input-small input-sm">
												<option selected="selected" value="left">Left</option>
												<option value="right">Right</option>
											</select>
										</li>
										<li>
											 Footer
											<select class="page-footer-option form-control input-small input-sm">
												<option value="fixed">Fixed</option>
												<option selected="selected" value="default">Default</option>
											</select>
										</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
					 END THEME PANEL 
				</div> -->
				<!-- END PAGE TOOLBAR -->
			</div>
			<!-- END PAGE HEAD -->
			<!-- BEGIN PAGE BREADCRUMB -->
			<!-- <ul class="page-breadcrumb breadcrumb">
				<li>
					<a href="#">投票</a>
					<i class="fa fa-circle"></i>
				</li>
			</ul> -->
			<!-- END PAGE BREADCRUMB -->
			<!-- END PAGE HEADER-->
			<!-- BEGIN PAGE CONTENT-->
			<!-- 注释 查询开始  -->
            <!-- <div class="row">
            	<div class="col-md-12">
                <div class="portlet box">
                	<div class="portlet-body form">
							<form role="form" class="form-horizontal">

								<button style="float:right;margin-right:50px;margin-top:10px" class="btn green" type="submit">查询</button>
								<div  class="form-body">
									<div  class="form-group">
										<div style="float:right;margin-right:60px" class="col-md-2">
											<input type="text" placeholder="请输入关键词查询" class="form-control input-medium">
										</div>
									</div>
										
								</div>
							</form>
						</div>
                </div>
            </div> -->
            <!-- 注释 查询结束  -->
            <!-- <ul class="page-breadcrumb breadcrumb">
				<li>
					<a href="index.html">首页</a>
					<i class="fa fa-circle"></i>
				</li>
				<li>
					<a href="{:addons_url('Research://Research/index')}">微调研</a>
					<i class="fa fa-circle"></i>
				</li>
				<li>
					<a href="#">调研列表</a>
				</li>
			</ul> -->
            <div class="row">
            	<div class="col-md-12">
                <div class="portlet box">
                	<!-- <div class="portlet-title">
                    </div> -->
                	<div class="portlet-body form">
							<form role="form" class="form-horizontal" method="POST" action="{:U('Research/index')}">
								<div class="form-body">
									<div class="form-group">
										<label class="col-md-offset col-md-1 control-label">关键词：</label>
										<div class="col-md-2">
											<input type="text" placeholder="关键词" name="keyword" class="form-control input-small" value="{$keyword}">
										</div>
                                        <label class="col-md-1 control-label">状态：</label>
										<div class="col-md-2">
											<select class="form-control input-inline input-small" name="type">
												<option value=''>全部</option>
												<option value="1" <if condition="$type eq 1">selected</if>>调研未开始</option>
												<option value="2" <if condition="$type eq 2">selected</if>>调研正在进行</option>
												<option value="3" <if condition="$type eq 3">selected</if>>调研已结束</option>
											</select>
										</div>
										<div class="col-md-1">
											<button class="btn blue" type="submit">查询</button>
										</div>
									</div>
								</div>
								<!-- <div class="form-actions">
									<div class="row">
										<div class="col-md-offset-5 col-md-7">
											<button class="btn green" type="submit">查询</button>
										</div>
									</div>
								</div> -->
							</form>
						</div>
                </div>
            </div>
			</div>
			
            <div class="row">
				<div class="col-md-12">
					<!-- BEGIN EXAMPLE TABLE PORTLET-->
					<div class="portlet box blue">
						<div class="portlet-title">
							<div class="caption">
								 <i class="fa fa-edit"></i>调研列表
							</div>
							<div class="tools">
								
							</div>
						</div>
						<div class="portlet-body">
						    <button style="margin-bottom:5px;" class="btn blue"  type="button" onclick="addurl()">新建调研</button>
            				<button style="margin-bottom:5px;" class="btn blue"  type="button" onclick="bothdelte()">批量删除</button>
							<table class="table table-striped table-hover table-bordered" id="sample_editable_1">
							<thead>
							<tr>
								<th><input type="checkbox" id="checkAll"></th>
								<!-- <th>投票ID</th> -->
								<th>关键词</th>
								<th>调研名称</th>
								<th>调研时间</th>
								<th>状态</th>
								<!-- <th>缩略图</th> -->
								<th>操作</th>
							</tr>
							</thead>
							<tbody>
							<foreach name="list" item="vo">
							<tr>
								<td><input type="checkbox" name="checkList" value="{$vo.id}"></td>
								<!-- <td>{$vo.id}</td> -->
								<td>{$vo.keyword}</td>
								<td>{$vo.title}</td>
								<td>{$vo.starttime|date='Y/m/d',###} - {$vo.endtime|date='Y/m/d',###}</td>
								<td><if condition="$vo.endtime lt time()">调研已结束 <elseif condition="$vo.starttime gt time()"/>调研未开始<else/>调研正在进行中</if></td>
								<!-- <td><img src="theme/assets/admin/layout4/img/avatar9.jpg" /></td> -->
								<td>
									<!-- <button class="btn btn-default" type="button" onclick="dateilurl({$vo.id})">查看</button> -->
	                                <a onclick='dateilurl({$vo.id})'><i title="查看" class="glyphicon glyphicon-eye-open"></i></a>
	                                <if condition="$vo.endtime gt time()">
	                                    <!-- <button class="btn btn-default" type="button" onclick="topiclist({$vo.id})">题目</button> -->
	                                    <a onclick="topiclist({$vo.id})"><i class="glyphicon glyphicon-list-alt" title="题目"></i></a>
	                                	<!-- <button class="btn btn-default" type="button" onclick="updateurl({$vo.id})">编辑</button> -->
	                                	<a  onclick="updateurl({$vo.id})"><i title="修改" class="glyphicon glyphicon-edit"></i></a>
	                                </if>
	                                <!-- <button class="btn btn-default" type="button" onclick='javascript:location.href="{:addons_url("Research://Research/chsetResearch",array("rid"=>$vo[id]))}"'>统计图表</button> -->
	                                <a onclick='javascript:location.href="{:U("Research/chsetResearch",array("rid"=>$vo[id]))}"'><i class="glyphicon glyphicon-stats" title="统计图表"></i></a>
	                                <!-- <button class="btn btn-default" type="button" onclick="deleterese(this)" rel="{$vo.id}">删除</button> -->
									<a onclick="deleterese(this)" rel="{$vo.id}"><i class="glyphicon glyphicon-trash delete" title="删除"></i></a>
								</td>
							</tr>
							</foreach>
							</tbody>
							</table>
							<div class="row">
								<div class="col-md-5 col-sm-12">
									<div class="dataTables_info" id="sample_editable_1_info" role="status" aria-live="polite">
									    当前是第 {$p} 页  总页数 {$totalpage}
									</div>
								</div>
								<div class="col-md-7 col-sm-12">
									<div class="dataTables_paginate paging_simple_numbers" id="sample_editable_1_paginate">
										  {$page}
									 </div>
								</div>
							</div>
						</div>
					</div>
					<!-- END EXAMPLE TABLE PORTLET-->
				</div>
			</div>
            
			<!-- END PAGE CONTENT-->
		</div>
		</div>
		</div>
		</div>
		<script>
			function addurl(type){
				var str = "{:U('Research/addRese')}";
				/*var url = str.replace(".html","")
				    url = url+"/type/"+type;*/
				    location.href=str;
			}
			function updateurl(id){
				var str = "{:U('Research/editRese')}";
				var url = str.replace(".html","")
				    url = url+"/id/"+id;
				    location.href=url;
			}
			function dateilurl(id){
				var str = "{:U('Research/dateilRese')}";
				var url = str.replace(".html","")
				    url = url+"/id/"+id;
				    location.href=url;
			}
			function topiclist(id){
				var str = "{:U('Research/topicList')}";
				var url = str.replace(".html","")
				    url = url+"/researchid/"+id;
				    location.href=url;
			}
			function deleterese (obj){
				var id = $(obj).attr('rel');
					$.confirm({  
					   title:"确定要删除这条投票？",
					   modal: true,  
					   level:"warning",
					   buttons: {  
						   "确定": {
							   "class":"green",
							   "action":function() {
								   $.ajax({
										url:"{:U('Research/deleteRese')}",
										type:'post',
										data:{id:id},
										dataType:'json',
										success:function(msg){
											if(msg.status==1){
												$(obj).parent().parent().remove();
											}
										}
								});
							   }
						   },
						   "取消": {
							   "class":"green",
							   "action":function() {}
						   }
					   }  
					});
			}
			function copyvote(obj){
				var voteid = $(obj).attr('rel');
					$.ajax({
							url:"{:U('Vote/copyVote')}",
							type:'post',
							data:{voteid:voteid},
							dataType:'json',
							success:function(msg){
								if(msg.status==1){
									$.confirm({title:msg.info,modal: true, level:"success",buttons: {  
											   "确定": {
												   "class":"green",
												   "action":function() {
													   location.reload();
												   }
											   }
										   }  
										});
									
								}else{
									$.confirm({title:msg.info,modal: true, level:"danger",buttons: {  
										   "确定": {
											   "class":"green",
											   "action":function() {
											   }
										   }
									   }  
									});
								}
							}
					});
			}
			function endrese(obj){
				var id = $(obj).attr('rel');
				$.confirm({  
					   title:"确定要结束这条投票？",
					   modal: true,  
					   level:"warning",
					   buttons: {  
						   "确定": {
							   "class":"green",
							   "action":function() {
								   $.ajax({
										url:"{:U('Vote/endVote')}",
										type:'post',
										data:{id:id},
										dataType:'json',
										success:function(msg){
											if(msg.status == 1){
												$(obj).hide();
											}
										}
								});
							   }
						   },
						   "取消": {
							   "class":"green",
							   "action":function() {}
						   }
					   }  
					});
			}
			
			
			
			
			function bothdelte(){
				var idstr = getCheckBoxValue();
				if(idstr==''){
					$.confirm({title:"你还没有选择删除的调研，请选择后删除",modal: true,level:"warning",buttons: {  
						   "确定": {"class":"green","action":function() {}}
					   }  
					});
				}else{
					$.confirm({  
						   title:"确定要删除选中的调研？",
						   modal: true,  
						   level:"warning",
						   buttons: {  
							   "确定": {
								   "class":"green",
								   "action":function() {
									   $.ajax({
											url:"{:U('Research/deleteRese')}",
											type:'post',
											data:{id:idstr},
											dataType:'json',
											success:function(msg){
												if(msg.status==1){
													location.reload();
												}
											}
									});
								   }
							   },
							   "取消": {
								   "class":"green",
								   "action":function() {}
							   }
						   }  
						});
				}
				
			}
		</script>

<include file="Public/footer" />