body .l, body .left {
	float:left;
	clear:none;
}
a:hover, a:active {
	text-decoration:underline;
}
body, div, p, ul, ol, dl, dt, dd, li, form, input, table, img, h1, h2, h3, h4, h5, h6 {
	margin:0;
	padding:0;
}
.column_wrapper {
	clear:both;
	margin:0 auto;
	text-align:left;
	width:960px;
	overflow:hidden;
}
.index0_right .text_box2 ul li a { border:none; padding:0}
.column_wrapper:after {
	clear:both;
	content:".";
	display:block;
	font-size:0;
	height:0;
	line-height:0;
	visibility:hidden;
}
.index0_right .text_box2 ul .end { margin:0}
em, b, i {
	font-style:normal;
}
ul:after, ol:after {
	clear:both;
	content:".";
	display:block;
	font-size:0;
	height:0;
	line-height:0;
	visibility:hidden;
}
body {
	background:none repeat scroll 0 0 #F3F4F8;
	color:#333;
	margin:0;
	font-family:"";
	font-size:12px;
	margin-top:0;
}
.index0_right .text_box2 ul li { border:none; height:60px; margin-right:20px; padding-bottom:10px; float:left;}
.index0_right { position:relative; float:left; width:221px; padding-top:83px;}
p {
	line-height:1.25em;
}
a:link, a:visited {
}
img, a img {
	border:0 none;
}
a.on:hover, a.cur:hover, .on a:hover, .cur a:hover {
	text-decoration:none;
}
body .c, body .c {
	text-align:center;
}
ul, ol {
	list-style-type:none;
}
.index0_right .text_box2 ul { padding-top:9px;}
.clear_float, .clear {
	clear:both;
	font-size:1px;
	line-height:1px;
	height:1px;
	overflow:hidden;
}
body .r, body .right {
	float:right;
	clear:none;
}
.vspace {
	height:10px;
	font-size:0px;
	line-height:0px;
	width:99%;
	clear:both;
}
a {
	color:#000;
	text-decoration:none;
}