<!--[if lt IE 9]>
<script src="__PUBLIC__/Home/static/theme/assets/global/plugins/respond.min.js"></script>
<script src="__PUBLIC__/Home/static/theme/assets/global/plugins/excanvas.min.js"></script>
<![endif]-->
<!-- BEGIN PAGE LEVEL PLUGINS  公用-->
<script src="__PUBLIC__/Home/static/theme/assets/global/plugins/jquery-migrate.min.js" type="text/javascript"></script>
<!-- IMPORTANT! Load jquery-ui.min.js before bootstrap.min.js to fix bootstrap tooltip conflict with jquery ui tooltip -->
<script src="__PUBLIC__/Home/static/theme/assets/global/plugins/jquery-ui/jquery-ui.min.js"
        type="text/javascript"></script>
<script src="__PUBLIC__/Home/static/theme/assets/global/plugins/bootstrap/js/bootstrap.min.js"
        type="text/javascript"></script>
<script src="__PUBLIC__/Home/static/theme/assets/global/plugins/bootstrap-hover-dropdown/bootstrap-hover-dropdown.min.js"
        type="text/javascript"></script>
<script src="__PUBLIC__/Home/static/theme/assets/global/plugins/jquery-slimscroll/jquery.slimscroll.min.js"
        type="text/javascript"></script>
<script src="__PUBLIC__/Home/static/theme/assets/global/plugins/jquery.blockui.min.js" type="text/javascript"></script>
<script src="__PUBLIC__/Home/static/theme/assets/global/plugins/jquery.cokie.min.js" type="text/javascript"></script>
<script src="__PUBLIC__/Home/static/theme/assets/global/plugins/uniform/jquery.uniform.min.js"
        type="text/javascript"></script>
<script src="__PUBLIC__/Home/static/theme/assets/global/plugins/bootstrap-switch/js/bootstrap-switch.min.js"
        type="text/javascript"></script>
<!-- END CORE PLUGINS -->

<!-- BEGIN PAGE LEVEL PLUGINS  图表-->
<script type="text/javascript" src="__PUBLIC__/Home/static/theme/assets/global/plugins/select2/select2.min.js"></script>
<script type="text/javascript"
        src="__PUBLIC__/Home/static/theme/assets/global/plugins/datatables/media/js/jquery.dataTables.min.js"></script>
<script type="text/javascript"
        src="__PUBLIC__/Home/static/theme/assets/global/plugins/datatables/plugins/bootstrap/dataTables.bootstrap.js"></script>
<!-- END PAGE LEVEL PLUGINS -->

<!-- BEGIN PAGE LEVEL PLUGINS  下拉列表（特殊）-->
<script type="text/javascript"
        src="__PUBLIC__/Home/static/theme/assets/global/plugins/bootstrap-select/bootstrap-select.min.js"></script>
<script type="text/javascript"
        src="__PUBLIC__/Home/static/theme/assets/global/plugins/jquery-multi-select/js/jquery.multi-select.js"></script>
<!-- END PAGE LEVEL PLUGINS -->

<!-- BEGIN PAGE LEVEL PLUGINS 日期-->
<script type="text/javascript"
        src="__PUBLIC__/Home/static/theme/assets/global/plugins/bootstrap-datepicker/js/bootstrap-datepicker.js"></script>
<!-- <script type="text/javascript" src="__PUBLIC__/Home/static/theme/assets/global/plugins/bootstrap-datepicker/js/bootstrap-datepicker.min.js"></script> -->
<script type="text/javascript"
        src="__PUBLIC__/Home/static/theme/assets/global/plugins/bootstrap-timepicker/js/bootstrap-timepicker.min.js"></script>
<script type="text/javascript"
        src="__PUBLIC__/Home/static/theme/assets/global/plugins/clockface/js/clockface.js"></script>
<script type="text/javascript"
        src="__PUBLIC__/Home/static/theme/assets/global/plugins/bootstrap-daterangepicker/moment.min.js"></script>
<script type="text/javascript"
        src="__PUBLIC__/Home/static/theme/assets/global/plugins/bootstrap-daterangepicker/daterangepicker.js"></script>
<script type="text/javascript"
        src="__PUBLIC__/Home/static/theme/assets/global/plugins/bootstrap-colorpicker/js/bootstrap-colorpicker.js"></script>
<script type="text/javascript"
        src="__PUBLIC__/Home/static/theme/assets/global/plugins/bootstrap-datetimepicker/js/bootstrap-datetimepicker.min.js"></script>
<script type="text/javascript"
        src="__PUBLIC__/Home/static/theme/assets/global/plugins/bootstrap-datetimepicker/js/locales/bootstrap-datetimepicker.zh-CN.js"></script>
<script type="text/javascript"
        src="__PUBLIC__/Home/static/theme/assets/global/plugins/bootstrap-datepicker/locales/bootstrap-datepicker.zh-CN.min.js"></script>
<!-- END PAGE LEVEL PLUGINS -->

<!-- BEGIN PAGE LEVEL PLUGINS  弹出层-->
<script src="__PUBLIC__/Home/static/theme/assets/global/plugins/bootbox/bootbox.min.js" type="text/javascript"></script>
<!-- END PAGE LEVEL PLUGINS -->

<!-- BEGIN PAGE LEVEL SCRIPTS  树形-->
<script src="__PUBLIC__/Home/static/theme/assets/global/plugins/jstree/dist/jstree.js"></script>
<!-- END PAGE LEVEL SCRIPTS
<script src="__PUBLIC__/Home/static/theme/assets/admin/pages/scripts/ui-tree.js"></script> -->

<!-- BEGIN PAGE LEVEL PLUGINS  文本编辑器-->
<script src="__PUBLIC__/Home/static/theme/assets/global/plugins/bootstrap-wysihtml5/wysihtml5-0.3.0.js"
        type="text/javascript"></script>
<script src="__PUBLIC__/Home/static/theme/assets/global/plugins/bootstrap-wysihtml5/bootstrap-wysihtml5.js"
        type="text/javascript"></script>
<script src="__PUBLIC__/Home/static/theme/assets/global/plugins/bootstrap-markdown/lib/markdown.js"
        type="text/javascript"></script>
<script src="__PUBLIC__/Home/static/theme/assets/global/plugins/bootstrap-markdown/js/bootstrap-markdown.js"
        type="text/javascript"></script>
<script src="__PUBLIC__/Home/static/theme/assets/global/plugins/bootstrap-summernote/summernote.min.js"
        type="text/javascript"></script>
<!-- END PAGE LEVEL PLUGINS -->


<script src="__PUBLIC__/Home/static/js/ui-tree-test.js" type="text/javascript"></script><!--树形-->

<script src="__PUBLIC__/Home/static/js/list.js" type="text/javascript"></script><!--图片列表插件（自己封装）-->
<script src="__PUBLIC__/Home/static/js/addtest.js" type="text/javascript"></script><!--点击插入插件（自己封装）-->

<script src="__PUBLIC__/Home/static/js/metronictest.js" type="text/javascript"></script>

<!--<script src="__PUBLIC__/Home/static/js/components-dropdowns-test.js"></script> 下拉-->
<!--<script src="__PUBLIC__/Home/static/theme/assets/global/scripts/metronic.js" type="text/javascript"></script>-->
<script src="__PUBLIC__/Home/static/theme/assets/admin/layout4/scripts/layout.js" type="text/javascript"></script>
<!--<script src="__PUBLIC__/Home/static/theme/assets/admin/layout4/scripts/demo.js" type="text/javascript"></script>-->
<!--<script src="__PUBLIC__/Home/static/theme/assets/admin/pages/scripts/ecommerce-index.js"></script>-->
<script src="__PUBLIC__/Home/static/theme/assets/admin/pages/scripts/components-pickers.js"></script><!--日期-->

<script src="__PUBLIC__/Home/static/theme/assets/admin/pages/scripts/ui-alert-dialog-api.js"></script><!--弹出层-->

<script src="__PUBLIC__/Home/static/theme/assets/global/plugins/jquery-nestable/jquery.nestable.js"></script><!--拖动-->

<script src="__PUBLIC__/Home/static/theme/assets/admin/pages/scripts/components-editors.js"></script><!--文本编辑器-->

<script src="__PUBLIC__/Home/static/js/ui-nestabletest.js"></script><!--拖动-->


<!-- <script src="__PUBLIC__/Home/static/js/jquery.tablednd.js"></script><!--拖动-->
<!--测试-->
<!--<script src="metronictest.js" type="text/javascript"></script>-->
<script src="__PUBLIC__/Home/static/js/test_datatable.js" type="text/javascript"></script><!--表格-->
<script src="__PUBLIC__/Home/static/js/testui-alert-dialog-api.js" type="text/javascript"></script><!--弹出层-->
<script src="__PUBLIC__/Home/static/js/tools.js" type="text/javascript"></script><!--弹出层-->
<!-- END PAGE LEVEL SCRIPTS -->
<script>
    jQuery(document).ready(function () {
        $('[name=dateRangePicker]').daterangepicker({
            timePicker: true,
            timePickerIncrement: 1,
            timePicker24Hour: true,
            timePickerSeconds: true,
            linkedCalendars: false,
            locale: {
                applyLabel: '确定',
                cancelLabel: '取消',
                format: 'YYYY/MM/DD HH:mm:ss',
            },
        });
        ComponentsPickers.init();
        Layout.init(); // init current layout
        Metronic.init(); // init metronic core components
        /*
       //Demo.init(); // init demo features
       //EcommerceIndex.init();
       ComponentsPickers.init();
       TableEditable.init();
       UIAlertDialogApi.init();
       TestUIAlertDialogApi.init();
       UITree.init();
      // ComponentsDropdowns.init();
       ComponentsEditors.init();
       UINestable.init();



       new $.listtest({
           url:"tab_content.json",
           container:"#tab_2_1",
           pagesize:"4"
        });

        $.addtest({
            container:".autoadd",
            addcontainer:"#addclick",
            addbutton:"#add",
            bgcolor:"alert-info",
            inputname:"addname",
            defaultname:"请填写",
            listnum:[
                {cont:"123"},
                {cont:"234"}
            ]
        })
        */

        $("#select2_sample5").click(function () {
            $.flowWindow({
                "src": "treetest.html",
                "cancel": function () {
                },
                "successAction": function (data) {
                    var text = "";
                    for (var i = 0; i < data.length; i++) {
                        if (i >= data.length - 1) {
                            text += data[i];
                        } else {
                            text += data[i] + ",";
                        }

                    }
                    ;
                    $("#select2_sample5").val(text)
                }
            });
        });
    });


    function testConfirm() {
        $.confirm({
            title: "确定要删除这条信息？",
            modal: true,
            level: "warning",
            buttons: {
                "确定": {
                    "class": "blue",
                    "action": function () {
                        alert('确定');
                    }
                },
                "取消": {
                    "class": "blue",
                    "action": function () {
                        alert('取消');
                    }
                }
            }
        });

    }

    //选择图片
    function selectPicture(sfile, op) {
        $.jBox.tip("选择文件成功");
        $.jBox.close(true);
        if (op == '') {
            $("#litpic").val(sfile);
        } else {
            $("#tip_" + op).val(sfile);
        }
        $.post("__ROOT__/Admin/Public/getImgId", {img: sfile}, function (data) {

            if (data.status == 'succ') {
                if (op) {
                    $("#tip_url_" + op).val(data.id);
                } else {
                    $("#pic_id").val(data.id);
                }

            }
        }, 'json');
        if (op == '') {
            $('#litpic_show').html("<img src='" + sfile + "' width='120'>");
        }
    }

    $(function () {
        $('.BrowerPicture').click(function () {
            var uid = $(this).attr("rel");
            var op = '';
            op = $(this).attr("op");
            var url = '__ROOT__/Admin/Public/browseFile?stype=picture&uid=' + uid;
            if (op) {
                var url = '__ROOT__/Admin/Public/browseFile?stype=picture&uid=' + uid + '&op=' + op;
            }
            $.jBox("iframe:" + url, {
                    title: '图集',
                    width: 650,
                    height: 380,
                    buttons: {'关闭': true}
                }
            );
        });
        //全选/取消
        $("#check").click(function () {
            if ($(this).attr("checked") == "checked") {
                setCheckbox(true);
            } else {
                setCheckbox(false);
            }

        });


        /*
          列表中全选的js 和获取checkbox选中的值
        */
        $(function () {
            $("#checkAll").click(function () {
                if ($(this).attr("checked") == "checked") {
                    //$("input[name='checkList']").attr("checked",$(this).attr("checked"));
                    $("input[name='checkList']").parent().addClass("checked");
                } else {
                    $("input[name='checkList']").parent().removeClass("checked");
                }
            });
        });

        function getCheckBoxValue() {
            var str = '';
            $(".checked>input").each(function () {
                if ($(this).attr('id') != 'checkAll') {
                    str += $(this).val() + ',';
                }
            });
            str = str.substr(0, str.length - 1);
            return str;
        }
    });
    /*
      列表中全选的js 和获取checkbox选中的值
    */
    $(function () {
        $("#checkAll").click(function () {
            if ($(this).attr("checked") == "checked") {
                //$("input[name='checkList']").attr("checked",$(this).attr("checked"));
                $("input[name='checkList']").parent().addClass("checked");
            } else {
                $("input[name='checkList']").parent().removeClass("checked");
            }
        });
    });

    function getCheckBoxValue() {
        var str = '';
        $(".checked>input").each(function () {
            if ($(this).attr('id') != 'checkAll') {
                str += $(this).val() + ',';
            }
        });
        str = str.substr(0, str.length - 1);
        return str;
    }

    var Interact = {
        success_report: function (message) {
            $.confirm({
                title: message,
                level: 'success',
                buttons: {
                    "确定": {
                        class: "blue"
                    }
                }
            })
        },
        error_report: function (message) {
            $.confirm({
                title: message,
                level: 'danger',
                buttons: {
                    "确定": {
                        class: "blue"
                    }
                }
            })
        },
        warning_report: function (message, callback) {
            $.confirm({
                title: message,
                level: 'warning',
                buttons: {
                    "确定": {
                        class: "blue",
                        action: function () {
                            callback && callback();
                        }
                    },
                    "取消": {
                        class: "blue"
                    }
                }
            })
        },
        loading_report: function (message) {
            $.refreshWindow.open(message);
        },
        loading_close: function () {
            $.refreshWindow.close();
        }
    }


</script>
</body>
</html>