<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"><head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>{$title} - ctvit.com.cn</title>
<link href="__PUBLIC__/Home/yonghuzhongxinindex_files/style.css" rel="stylesheet" type="text/css">



<script src="__PUBLIC__/static/jquery-2.0.3.min.js" type="text/javascript"></script>
<script type="text/javaScript" src="__PUBLIC__/Home/yonghuzhongxinindex_files/cntvuc.js"></script>

<!--登录页面-->
<script src="__PUBLIC__/Home/userloginnew_files/staticPage.js" type="text/javascript"></script>
<script language="javascript" charset="UTF-8" src="__PUBLIC__/Home/userloginnew_files/login.js"></script>

<!--注册页面-->
<script src="__PUBLIC__/Home/userregister_files/formValidator-4.js" type="text/javascript" charset="UTF-8"></script>
<script src="__PUBLIC__/Home/userregister_files/formValidatorRegex.js" type="text/javascript" charset="UTF-8"></script>
<script src="__PUBLIC__/Home/userregister_files/DateTimeMask.js" type="text/javascript"></script>
<script src="__PUBLIC__/Home/userregister_files/theme.js" type="text/javascript"></script>
</head>
<body id="bid">
<!--顶部快速导航栏目-->
<!--END-->
<script language="javascript" charset="UTF-8" src="__PUBLIC__/Home/yonghuzhongxinindex_files/login.js"></script>


