<include file="Public/head"/>
<include file="Public/top"/>
<div class="clearfix">
    <div class="page-container">
        <include file="Public/left"/>

        <div class="page-content-wrapper">
            <div class="page-content">
                <!-- BEGIN SAMPLE PORTLET CONFIGURATION MODAL FORM-->
                <div aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" id="portlet-config"
                     class="modal fade">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button aria-hidden="true" data-dismiss="modal" class="close" type="button"></button>
                                <h4 class="modal-title">Modal title</h4>
                            </div>
                            <div class="modal-body">
                                Widget settings form goes here
                            </div>
                            <div class="modal-footer">
                                <button class="btn blue" type="button">Save changes</button>
                                <button data-dismiss="modal" class="btn default" type="button">Close</button>
                            </div>
                        </div>
                        <!-- /.modal-content -->
                    </div>
                    <!-- /.modal-dialog -->
                </div>
                <!-- /.modal -->
                <!-- END SAMPLE PORTLET CONFIGURATION MODAL FORM-->
                <!-- BEGIN PAGE HEADER-->
                <!-- BEGIN PAGE HEAD -->
                <div class="page-head">
                    <!-- BEGIN PAGE TITLE -->
                    <!-- END PAGE TITLE -->
                    <!-- BEGIN PAGE TOOLBAR -->
                    <!--<div class="page-toolbar">
                         BEGIN THEME PANEL
                        <div class="btn-group btn-theme-panel">
                            <a data-toggle="dropdown" class="btn dropdown-toggle" href="javascript:;">
                            <i class="icon-settings"></i>
                            </a>
                            <div class="dropdown-menu theme-panel pull-right dropdown-custom hold-on-click">
                                <div class="row">
                                    <div class="col-md-4 col-sm-4 col-xs-12">
                                        <h3>THEME</h3>
                                        <ul class="theme-colors">
                                            <li data-theme="default" class="theme-color theme-color-default active">
                                                <span class="theme-color-view"></span>
                                                <span class="theme-color-name">Dark Header</span>
                                            </li>
                                            <li data-theme="light" class="theme-color theme-color-light">
                                                <span class="theme-color-view"></span>
                                                <span class="theme-color-name">Light Header</span>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="col-md-8 col-sm-8 col-xs-12 seperator">
                                        <h3>LAYOUT</h3>
                                        <ul class="theme-settings">
                                            <li>
                                                 Theme Style
                                                <select class="layout-style-option form-control input-small input-sm">
                                                    <option selected="selected" value="square">Square corners</option>
                                                    <option value="rounded">Rounded corners</option>
                                                </select>
                                            </li>
                                            <li>
                                                 Layout
                                                <select class="layout-option form-control input-small input-sm">
                                                    <option selected="selected" value="fluid">Fluid</option>
                                                    <option value="boxed">Boxed</option>
                                                </select>
                                            </li>
                                            <li>
                                                 Header
                                                <select class="page-header-option form-control input-small input-sm">
                                                    <option selected="selected" value="fixed">Fixed</option>
                                                    <option value="default">Default</option>
                                                </select>
                                            </li>
                                            <li>
                                                 Top Dropdowns
                                                <select class="page-header-top-dropdown-style-option form-control input-small input-sm">
                                                    <option value="light">Light</option>
                                                    <option selected="selected" value="dark">Dark</option>
                                                </select>
                                            </li>
                                            <li>
                                                 Sidebar Mode
                                                <select class="sidebar-option form-control input-small input-sm">
                                                    <option value="fixed">Fixed</option>
                                                    <option selected="selected" value="default">Default</option>
                                                </select>
                                            </li>
                                            <li>
                                                 Sidebar Menu
                                                <select class="sidebar-menu-option form-control input-small input-sm">
                                                    <option selected="selected" value="accordion">Accordion</option>
                                                    <option value="hover">Hover</option>
                                                </select>
                                            </li>
                                            <li>
                                                 Sidebar Position
                                                <select class="sidebar-pos-option form-control input-small input-sm">
                                                    <option selected="selected" value="left">Left</option>
                                                    <option value="right">Right</option>
                                                </select>
                                            </li>
                                            <li>
                                                 Footer
                                                <select class="page-footer-option form-control input-small input-sm">
                                                    <option value="fixed">Fixed</option>
                                                    <option selected="selected" value="default">Default</option>
                                                </select>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                         END THEME PANEL
                    </div> -->
                    <!-- END PAGE TOOLBAR -->
                </div>
                <!-- END PAGE HEAD -->
                <!-- BEGIN PAGE BREADCRUMB -->
                <!-- <ul class="page-breadcrumb breadcrumb">
                    <li>
                        <a href="#">投票</a>
                        <i class="fa fa-circle"></i>
                    </li>
                </ul> -->
                <!-- END PAGE BREADCRUMB -->
                <!-- END PAGE HEADER-->
                <!-- BEGIN PAGE CONTENT-->

                <div class="row">
                    <div class="col-md-12">
                        <!-- BEGIN EXAMPLE TABLE PORTLET-->
                        <div class="portlet box blue">
                            <div class="portlet-title">
                                <div class="caption">
                                    <i class="fa fa-edit"></i>模块列表
                                </div>
                            </div>
                            <style>
                                .table-bordered th {
                                    text-align: center
                                }
                            </style>
                            <div class="portlet-body">
                                <button style="margin-bottom:5px;" class="btn blue" id="module-add" type="button">注册模块</button>

                                <table class="table table-striped table-hover table-bordered" id="sample_editable_1">
                                    <thead>
                                    <tr>
                                        <th width="50px">序号</th>
                                        <th width="100px">模块名称</th>
                                        <th width="160px">模块代码</th>
                                        <th width="160px">操作日期</th>
                                        <th>操作</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <notempty name="modules">
                                        <foreach name="modules" item="vo" key="key">
                                            <tr>
                                                <td>{$key + 1}</td>
                                                <td>{$vo.module_name}</td>
                                                <td>{$vo.module_code}</td>
                                                <td>{$vo.operator_time|date="Y-m-d H:i:s",###}</td>
                                                <td>
                                                    <a><i module_id="{$vo.id}" class="glyphicon glyphicon-edit module-edit" title="编辑"></i></a>
                                                    <a><i module_id="{$vo.id}" class="glyphicon glyphicon-trash module-delete" title="删除"></i></a>
                                                </td>
                                            </tr>
                                        </foreach>
                                        <else/>
                                        <td colspan="5" class="text-center"> aOh! 暂时还没有内容!</td>
                                    </notempty>
                                    </tbody>
                                </table>
                                <div class="row">
                                    <div class="col-md-5 col-sm-12">
                                        <div class="dataTables_info" id="sample_editable_1_info" role="status"
                                             aria-live="polite">
                                            当前是第 {$data['page']['p']} 页 总页数 {$data['page']['totalPage']}
                                        </div>
                                    </div>
                                    <div class="col-md-7 col-sm-12">
                                        <div class="dataTables_paginate paging_simple_numbers"
                                             id="sample_editable_1_paginate">
                                            {$data['page']['show']}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- END EXAMPLE TABLE PORTLET-->
                    </div>
                </div>

                <!-- END PAGE CONTENT-->
            </div>
        </div>
    </div>
</div>

<script src="__STATIC__/thinkbox/jquery.thinkbox.js"></script>

<script type="text/javascript">
    $(function () {
        //注册模块
        $("#module-add").on('click', function () {
            var url = "{:U('Module/addEdit')}";
            window.location.href = url;
        })
        //编辑
        $(".module-edit").on('click', function () {
            var module_id = $(this).attr('module_id');
            var url = "{:U('Module/addEdit')}";
            url = url + '&module_id=' + module_id;
            window.location.href = url;
        })
        //删除
        $(".module-delete").on('click', function () {
            var $this = $(this);
            var module_id = $(this).attr('module_id');
            $.confirm({
                title: '确认删除当前模块吗？',
                level: 'warning',
                buttons: {
                    "确定": {
                        class: "blue",
                        action: function () {
                            $.ajax({
                                url: "{:U('Module/deleteModule')}",
                                type: 'GET',
                                data: {module_id:module_id},
                                dataType: 'JSON',
                                success: function (res) {
                                    console.log(res);
                                    if (res.status == 1) {
                                        $this.parent().parent().parent().remove();
                                    } else {
                                        $.confirm({
                                            title: res.msg,
                                            level: 'warning',
                                            buttons: {
                                                "确定": {
                                                    class: "blue"
                                                }
                                            }
                                        })
                                    }
                                },
                                error: function (e) {
                                    alert(e.statusText);
                                }
                            })
                        }
                    },
                    "取消": {
                        "class":"green",
                        "action":function() {}
                    }
                }
            })
        })
    });
</script>

<include file="Public/footer"/>