<include file="Public/head"/>
<include file="Public/top"/>
<div class="clearfix">
    <div class="page-container">
        <include file="Public/left"/>
        <div class="page-content-wrapper">
            <!--图片上传需要引入的js-->
            <script type="text/javascript" src="__PUBLIC__/static/uploadify/jquery.uploadify.min.js"></script>
            <script src="__PUBLIC__/Home/interact/js/jquery.form.js" type="text/javascript"></script>
            <style>
                .qa-btn-select-img-div {
                    float: left;
                    position: relative;
                }
                .qa-btn-select-img {
                    cursor: pointer;
                    font-size: 30px;
                    height: 30px;
                    left: 0;
                    opacity: 0;
                    outline: medium none;
                    position: absolute;
                    top: 0;
                    width: 81px;
                }
                /*问答内容*/
                .qa-content {
                    display: none;
                }
                /*新增选项*/
                .qa-options-table {
                    margin: 10px 0px 5px 0px;
                    display: table;
                }
                .qa-options td {
                    padding: 10px 5px;
                    background-color: #f4f4f4;
                }
                .qa-options input {
                    margin-bottom: 0;
                }

                .jbox-body {
                    z-index: 99999;
                !important
                }
            </style>
            <!-- BEGIN CONTAINER -->
            <!-- <div class="page-container"> -->
            <!-- <div class="page-content-wrapper"> -->
            <div class="page-content">
                <!-- BEGIN SAMPLE PORTLET CONFIGURATION MODAL FORM-->
                <div class="modal fade" id="portlet-config" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
                     aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                                <h4 class="modal-title">Modal title</h4>
                            </div>
                            <div class="modal-body">
                                Widget settings form goes here
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn blue">Save changes</button>
                                <button type="button" class="btn default" data-dismiss="modal">Close</button>
                            </div>
                        </div>
                        <!-- /.modal-content -->
                    </div>
                    <!-- /.modal-dialog -->
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <!-- BEGIN VALIDATION STATES-->
                        <div class="portlet box blue">
                            <div class="portlet-title">
                                <div class="caption">
                                    <i class="fa fa-gift"></i>{$data['pageTitle']}
                                </div>
                                <div class="tools">
                                    <button class="btn btn-default" id="qa-btn-goBack" type="button">返回</button>
                                </div>
                            </div>
                            <div class="portlet-body form">
                                <!-- BEGIN FORM-->
                                <form id="qa-form" class="form-horizontal" enctype="multipart/form-data">
                                    <div class="form-body">
                                        <div class="alert alert-danger display-hide" style="margin-bottom: 15px;">
                                            <button data-close="alert" class="close"></button>
                                            <span></span>
                                        </div>
                                        <!--
                                            qa_options_type : 1 纯文字单选
                                            qa_options_type : 2 纯文字多选
                                            qa_options_type : 3 纯图片单选
                                            qa_options_type : 4 纯图片多选
                                            qa_options_type : 5 图文单选
                                            qa_options_type : 6 图文多选
                                            qa_options_type : 7 连线单连
                                            qa_options_type : 8 连线多连
                                            qa_options_type : 9 联想题
                                            qa_options_type : 10 图文无选项题
                                            qa_options_type : 11 填空题
                                            qa_options_type : 12 宫格题

                                        -->
                                        <div class="form-group">
                                            <label class="col-md-3 control-label">问答类型<span class="required"> * </span></label>
                                            <div class="col-md-9">
                                                <select class="form-control input-inline input-small" name="qa-select-type">
                                                    <option value="1" qa_options_type="1" qa_Type="qa-trueFalse">对错题</option>
                                                    <option value="2" qa_options_type="1" qa_Type="qa-chooseOne">单选题</option>
                                                    <option value="3" qa_options_type="1" qa_Type="qa-distinguish">辨识题</option>
                                                    <option value="4" qa_options_type="5" qa_Type="qa-imageText">图文题</option>
                                                    <option value="5" qa_options_type="2" qa_Type="qa-choose">多选题</option>
                                                    <option value="6" qa_options_type="1" qa_Type="qa-audioVisual">视听题</option>
                                                    <option value="7" qa_options_type="7" qa_Type="qa-line">文字连线</option>
                                                    <option value="8" qa_options_type="9" qa_Type="qa-association">联想题</option>
                                                    <option value="9" qa_options_type="10" qa_Type="qa-notOption">无选项题</option>
                                                    <option value="10" qa_options_type="11" qa_Type="qa-fillBlank">填空题</option>
                                                    <option value="11" qa_options_type="12" qa_Type="qa-square">宫格题</option>
                                                    <!--<option value="12" qa_options_type="12" qa_Type="qa-square">十二宫格</option>
                                                    <option value="13" qa_options_type="12" qa_Type="qa-square">填字宫格</option>-->
                                                    <option value="14" qa_options_type="7" qa_Type="qa-line">图文连线</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-3 control-label">答题时区<span class="required"> * </span></label>
                                            <div class="col-md-9">
                                                <input type="text" name="dateRangePicker" class="form-control input-inline input-large"  placeholder="答题时间区间"  readonly="" />
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-3 control-label">答题时长<span class="required"> * </span></label>
                                            <div class="col-md-9">
                                                <input type="text" name="qa-countdown" class="form-control input-inline input-medium" value="0" style="width: 220px !important;" />S
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-3 control-label">答案公布<span class="required"> * </span></label>
                                            <div class="col-md-9">
                                                <input type="text" name="qa-res-time" class="form-control input-inline input-large"  placeholder="答案公布时间"  readonly="" />
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label col-md-3">问答题面<span class="required"> * </span></label>
                                            <div class="col-md-9">
                                                <textarea name="qa-subject" cols="40" rows="3" class="form-control input-inline input-medium"></textarea>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label col-md-3">二级题面<span class="required"> &nbsp;</span></label>
                                            <div class="col-md-9">
                                                <textarea name="qa-title" cols="40" rows="3" class="form-control input-inline input-medium"></textarea>
                                            </div>
                                        </div>
                                        <div class="form-group" id="qa-subject-img-area" style="display: none;">
                                            <label class="control-label col-md-3">问答图片<span class="required"> &nbsp; </span></label>
                                            <div class="col-md-9">
                                                <!--<button style="float:left;" data-toggle="modal" class="btn btn-default qa-btn-select-img qa-btn-select-subject" type="button">浏览</button>-->
                                                <div class="qa-btn-select-img-div">
                                                    <img alt="" src="Public/Home/interact/images/liune.jpg">
                                                    <input type="file" file_type="img" name="download" class="qa-btn-select-img qa-btn-select-img-subject" />
                                                    <input type="hidden" name="qa-subject-img-id" value="" />
                                                    <span class="qa-upload-progress"></span>
                                                </div>
                                                <img style="width:50px;height:50px;" class="qa-subject-img-view">
                                                <button data-toggle="modal" class="btn qa-btn-subject-img-delete" type="button">删除</button>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label col-md-3">问答选项<span class="required"> * </span></label>
                                            <div class="col-md-9">
                                                <button class="btn btn-default" id="qa-btn-addOptions" type="button">添加选项</button>
                                                <button class="btn btn-default" id="qa-btn-lineSelectOptions" type="button" style="display: none;">配对选项</button>
                                                <button class="btn btn-default" id="qa-btn-addAnswer" type="button" style="display: none;">添加答案</button>
                                                <div id="qa-options-area"></div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label col-md-3">答案排序<span class="required"> * </span></label>
                                            <div class="col-md-9">
                                                <label for="qa-answer-sort-yes">
                                                    <input type="radio" id="qa-answer-sort-yes" name="qa-answer-sort" value="1">可以排序
                                                </label>
                                                <label for="qa-answer-sort-no">
                                                    <input type="radio" id="qa-answer-sort-no" name="qa-answer-sort" value="0" checked>不可排序
                                                </label>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label col-md-3">题目序号<span class="required"> &nbsp; </span></label>
                                            <div class="col-md-9">
                                                <textarea name="qa-extend" cols="40" rows="3" class="form-control input-inline input-medium"></textarea>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label col-md-3">主持人点评<span class="required"> &nbsp; </span></label>
                                            <div class="col-md-9">
                                                <textarea name="qa-extend-zcr" cols="40" rows="3" class="form-control input-inline input-medium"></textarea>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label col-md-3">备注<span class="required"> &nbsp; </span></label>
                                            <div class="col-md-9">
                                                <!--<textarea name="qa-remark" cols="40" rows="3" class="form-control input-inline input-medium"></textarea>-->
                                                <select class="form-control input-inline input-small" name="qa-remark">
                                                    <option value="">选择是否最末题</option>
                                                    <option value="END">本组最后一题</option>
                                                    <option value="STAGE_END">本期最后一题</option>
                                                </select>
                                            </div>
                                        </div>
                                        <include file="Module/bind" />
                                        <input type="hidden" name="stage-id" value="{$data['pageParam']['stage_id']}" />
                                        <input type="hidden" name="group-id" value="{$data['pageParam']['group_id']}" />
                                        <input type="hidden" name="qa-id" value="{$data['pageInfo']['id']}" />
                                        <input type="hidden" name="qa-created" value="{$data['pageInfo']['qa_created']}" />

                                        <div class="form-actions">
                                            <div class="row">
                                                <div class="col-md-offset-4  col-md-7">
                                                    <button type="button" id="qa-btn-submit" class="btn blue">保存</button>
                                                    <button type="reset" class="btn default">重置</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                                <!-- END FORM-->
                            </div>
                        </div>
                        <!-- END VALIDATION STATES-->
                    </div>
                </div>
                <!-- END PAGE CONTENT-->

                <!-- 创建浮层的html start -->
                <!-- javascript生成弹窗HTML -->
                <!-- 创建浮层的html end -->
            </div>
        </div>
    </div>
</div>
<!-- </div> -->
<!-- END CONTENT -->
<!-- </div> -->
<!-- END CONTAINER -->
<!-- BEGIN FOOTER -->
<script type="text/javascript"
        src="__PUBLIC__/Home/static/theme/assets/global/plugins/jquery-validation/js/jquery.validate.min.js"></script>
<!-- END PAGE LEVEL STYLES -->
<script>

    $(function () {
        $('[name=qa-res-time]').daterangepicker({
            timePicker: true,
            timePickerIncrement: 1,
            timePicker24Hour:true,
            timePickerSeconds:true,
            linkedCalendars:false,
            singleDatePicker:true,
            locale : {
                applyLabel : '确定',
                cancelLabel : '取消',
                format: 'YYYY/MM/DD HH:mm:ss',
            },
        });
        //自动获取答题时间
        $("input[name='dateRangePicker']").on('apply.daterangepicker',function (m,e) {
            var qa_countdown = (new Date(e.endDate._d)).getTime() - (new Date(e.startDate._d)).getTime();
            $("input[name='qa-countdown']").val(Math.floor(qa_countdown / 1000));
        })
        //选项区域初始化
        $("select[name='qa-select-type']").on('change',function () {
            $("#qa-options-area").empty();
            var qaOptionType = $("select[name='qa-select-type']").find("option:selected").attr('qa_options_type');
            qaOptionType = Number(qaOptionType);
            //连线
            $.inArray(qaOptionType,[7,8]) != -1 ? $("#qa-btn-lineSelectOptions").show() && $(".col-md-3").css('width','11%') : $("#qa-btn-lineSelectOptions").hide() && $(".col-md-3").css('width','25%');
            //图片
            $.inArray(qaOptionType,[5,6]) != -1 ? $("#qa-subject-img-area").show() : $("#qa-subject-img-area").hide();
            //添加答案
            $.inArray(qaOptionType,[9,10,11]) != -1 ? $("#qa-btn-addAnswer").show() : $("#qa-btn-addAnswer").hide();
        })

        //添加选项
        $("#qa-btn-addOptions").on('click',function () {
            var qaOptionType = $("select[name='qa-select-type']").find("option:selected").attr('qa_options_type');
            if ($("#qa-options-area .qa-options-table").length < 1) {
                var optionsTable = getQaOptionsTable(qaOptionType);
                $("#qa-options-area").append(optionsTable);
            }

            if (qaOptionType == 12) {
                var initNumber = 0;
            } else {
                var initNumber = '@';
            }
            var thisNumber = $("#qa-options-area .qa-options-table .qa-options-number").length > 0 ? $("#qa-options-area .qa-options-table .qa-options-number:last").val() : initNumber;
            if ($.isNumeric(thisNumber) && thisNumber%1 == 0) {
                var nextNumber = Number(thisNumber) + 1;
            } else {
                var thisNumberCode = thisNumber.charCodeAt(0);
                var nextNumberCode = Number(thisNumberCode) + 1;
                var nextNumber = String.fromCharCode(nextNumberCode);
                var nextNumber_2 = nextNumber.toLowerCase();
            }
            var options = getQaOptions(qaOptionType,nextNumber,nextNumber_2);
            $("#qa-options-area .qa-options-table tbody").append(options);
        })

        //修改选项序号
        $(".qa-options-number").live('blur',function () {
            var newOptionNumber = $(this).val();
            $(this).parents('tr').find("input[name='qa-options-title']").attr('this_qa_options_number',newOptionNumber);
            $(this).parents('tr').find("input[name='qa-options-checkbox']").val(newOptionNumber);
        })

        //删除选项
        $(".qa-btn-options-delete").live('click',function () {
            $(this).parent().parent().remove();
        })

        //删除题目图片
        $(".qa-btn-subject-img-delete").on('click',function() {
            $("input[name='qa-subject-img-id']").val('');
            $(".qa-subject-img-view").attr('src','');
        })

        //连线配对项展示
        $("#qa-btn-lineSelectOptions").on('click',function () {
            var qaLineOptions = $("#qa-options-area .qa-options-table .qa-options-number-right");
            var lineSelectOptions = '<option>请配对右编号</option>';
            $(qaLineOptions).each(function (k,v) {
                lineSelectOptions += '<option class="qa-line-options" value="' + $(v).val() + '">' + $(v).val() + '</option>';
            })
            $("#qa-options-area .qa-options-table select[name='qa-line-select']").html(lineSelectOptions);
        })

        //添加答案
        $("#qa-btn-addAnswer").on('click',function () {
            var answerNumber = $("#qa-options-area .qa-addAnswer .qa-addAnswer-number:last").attr('qa-addAnswer-number');
                answerNumber = answerNumber ? Number(answerNumber) + 1 : 1;
            var answerDivHtml = '<div class="qa-addAnswer"></div>';
            var answerHtml  = '<div style="margin-top: 10px;">';
                answerHtml += '<span class="qa-addAnswer-number" qa-addAnswer-number="'+answerNumber+'">答案'+answerNumber+'：</span>';
                answerHtml += '<input type="text" class="form-control input-inline input-medium" name="qa-options-answer" value="" />';
                answerHtml += '<span><button class="btn btn-danger qa-btn-options-delete" type="button">删除</button></span></div>';
            $("#qa-options-area .qa-addAnswer").length == 0 &&  $("#qa-options-area").append(answerDivHtml);
            $("#qa-options-area .qa-addAnswer").append(answerHtml);
        })
        
        //上传图片
        $(".qa-btn-select-img").live('change',function () {
            uploadFile(this);
        })

        //宫格题答案展示
        $("input[name='qa-options-checkbox']").live('click',function () {
            var thisValue = $(this).parents('tr').find(".qa-options-number").val();
            var thisTitle = $(this).parents('tr').find("input[name='qa-options-title']").val();
            if ($(this).attr('checked') == 'checked') {
                $("#qa-btn-addAnswer").click();
                $("#qa-options-area .qa-addAnswer .qa-btn-options-delete").hide();
                $("#qa-options-area .qa-addAnswer input[name='qa-options-answer']:last").val(thisValue).attr('disabled','disabled');
                var answerView = '<span class="qa-options-answer-view" style="margin-left: -150px;">'+thisTitle+'<span>';
                $("#qa-options-area .qa-addAnswer input[name='qa-options-answer']:last").after(answerView);
            } else {
                $("#qa-options-area .qa-addAnswer input[name='qa-options-answer']").each(function(k,v) {
                    $(v).val() == thisValue && $(v).parent().remove();
                })
            }
        })

        //返回首页
        $("#qa-btn-goBack").on('click',function () {
            //var url = "{:U('Qa/index')}" + '&stage_id=' + "{$data['pageParam']['stage_id']}" + '&group_id=' + "{$data['pageParam']['group_id']}";
            window.location.href = document.referrer;
        })

        //编辑页面初始化
        initEditPage();

        //提交表单
        $("#qa-btn-submit").on('click',function () {
            var data = getQaData();
            if (data) {
                $.ajax({
                    url: "{:U('Qa/saveQa')}",
                    type: 'POST',
                    dataType: 'JSON',
                    data: data,
                    context: this,
                    timeout: 20000,
                    beforeSend: function () {
                        $(this).attr('disabled', true).text('保存中...');
                    },
                    complete: function () {
                        $(this).attr('disabled', false).text('保存');
                    },
                    success: function (res) {
                        console.log(res);
                        if (res.status == 1) {
                            $.confirm({
                                title: '保存成功',
                                level: 'success',
                                buttons: {
                                    "确定": {
                                        class:"blue",
                                        action:function() {
                                            //var url = "{:U('Qa/index')}" + '&stage_id=' + "{$data['pageParam']['stage_id']}" + '&group_id=' + "{$data['pageParam']['group_id']}";
                                            window.location.href = document.referrer;
                                        }
                                    }
                                }
                            })
                        } else {
                            $.confirm({
                                title: res.info,
                                level: 'warning',
                                buttons: {
                                    "确定": {
                                        class:"blue"
                                    }
                                }
                            })
                        }

                    },
                    error: function (e) {
                        $.confirm({
                            title: e.statusText,
                            level: 'danger',
                            buttons: {
                                "确定": {
                                    class:"blue"
                                }
                            }
                        })
                    }
                })
            }
        })

    })

    //初始化编辑页面
    function initEditPage() {
        var pageInfo = '{$data["pageInfo"]}';
        if (pageInfo) {
            pageInfo = JSON.parse(pageInfo);
            console.log(pageInfo);
            //类型
            $("select[name='qa-select-type'] option").each(function (key,value) {
                $(this).val() == pageInfo['qa_type'] && $(this).attr('selected',true);
            })
            var qaOptionType = $("select[name='qa-select-type']").find("option:selected").attr('qa_options_type');
            //答题时区
            $("input[name='dateRangePicker']").val(pageInfo['qa_time']);
            //时长
            $("input[name='qa-countdown']").val(pageInfo['qa_countdown']);
            //答案公布时间
            $("input[name='qa-res-time']").val(pageInfo['qa_res_time']);
            //题面
            $("textarea[name='qa-subject']").val(pageInfo['qa_subject']);
            //二级题面
            $("textarea[name='qa-title']").val(pageInfo['qa_title']);
            //题面图片
            if (qaOptionType == 5 || qaOptionType == 6) {
                $("#qa-subject-img-area").show();
                pageInfo['qa_subject_img'] != 0 && $("#qa-subject-img-area .qa-subject-img-view").attr('src',pageInfo['qa_subject_img_view']);
                pageInfo['qa_subject_img'] != 0 && $("#qa-subject-img-area input[name='qa-subject-img-id']").val(pageInfo['qa_subject_img']);
            }
            //问答选项按钮
            if (qaOptionType == 7 || qaOptionType == 8) {
                $("#qa-btn-lineSelectOptions").show() && $(".col-md-3").css('width','11%');
            } else if (qaOptionType == 9 || qaOptionType == 10 || qaOptionType == 11) {
                $("#qa-btn-addAnswer").show();
            }
            //答案排序
            $("input:radio[name='qa-answer-sort'][value='"+pageInfo['qa_answer_sort']+"']").attr('checked',true);
            //嘉宾扩展信息
            $("textarea[name='qa-extend']").val(pageInfo['qa_extend']);
            //主持人扩展信息
            $("textarea[name='qa-extend-zcr']").val(pageInfo['qa_extend_zcr']);
            //备注
            $("[name='qa-remark']").val(pageInfo['qa_remark']);
            //选项
            if (qaOptionType != 10) {
                var optionsTable = getQaOptionsTable(qaOptionType);
                $("#qa-options-area").append(optionsTable);
                if (qaOptionType == 7 || qaOptionType == 8) {
                    var upperCase_of_options = [];
                    var lowerCase_of_options = [];
                    for (var i = 0; i < pageInfo['qa_options'].length;i++) {
                        var option_number = pageInfo['qa_options'][i]['option_number'];
                        if (option_number.charCodeAt(0) >= 65 && option_number.charCodeAt(0) <= 90) {
                            upperCase_of_options.push(pageInfo['qa_options'][i]);
                        } else if (option_number.charCodeAt(0) >= 97 && option_number.charCodeAt(0) <= 122) {
                            lowerCase_of_options.push(pageInfo['qa_options'][i]);
                        }
                    }
                    for (var i = 0,j = 0; i < upperCase_of_options.length;) {
                        var optionsHtml = getQaOptions(qaOptionType,upperCase_of_options[i]['option_number'],lowerCase_of_options[i]['option_number']);
                        $("#qa-options-area .qa-options-table tbody").append(optionsHtml);

                        upperCase_of_options[i]['option_title'] && $("#qa-options-area .qa-options-table input[name='qa-options-title']").eq(j).val(upperCase_of_options[i]['option_title']);
                        upperCase_of_options[i]['option_img'] != 0 && $("#qa-options-area .qa-options-table .qa-options-img-view").eq(j).attr('src',upperCase_of_options[i]['option_img_view']);
                        upperCase_of_options[i]['option_img'] != 0 && $("#qa-options-area .qa-options-table input[name='qa-options-img-id']").eq(j).val(upperCase_of_options[i]['option_img']);

                        lowerCase_of_options[i]['option_title'] && $("#qa-options-area .qa-options-table input[name='qa-options-title']").eq(j+1).val(lowerCase_of_options[i]['option_title']);
                        lowerCase_of_options[i]['option_img'] != 0 && $("#qa-options-area .qa-options-table .qa-options-img-view").eq(j+1).attr('src',lowerCase_of_options[i]['option_img_view']);
                        lowerCase_of_options[i]['option_img'] != 0 && $("#qa-options-area .qa-options-table input[name='qa-options-img-id']").eq(j+1).val(lowerCase_of_options[i]['option_img']);
                        
                        i++;
                        j = j + 2;
                    }

                } else {
                    for (var i = 0; i < pageInfo['qa_options'].length;i++) {
                        var optionsHtml = getQaOptions(qaOptionType,pageInfo['qa_options'][i]['option_number'],pageInfo['qa_options'][i]['option_number'].toLowerCase());
                        $("#qa-options-area .qa-options-table tbody").append(optionsHtml);
                        pageInfo['qa_options'][i]['option_title'] && $("#qa-options-area .qa-options-table input[name='qa-options-title']:last").val(pageInfo['qa_options'][i]['option_title']);
                        pageInfo['qa_options'][i]['option_img'] != 0 && $("#qa-options-area .qa-options-table .qa-options-img-view:last").attr('src',pageInfo['qa_options'][i]['option_img_view']);
                        pageInfo['qa_options'][i]['option_img'] != 0 && $("#qa-options-area .qa-options-table input[name='qa-options-img-id']:last").val(pageInfo['qa_options'][i]['option_img']);
                    }
                }
            }

            //选项答案
            if (qaOptionType == 7 || qaOptionType == 8) {
                $("#qa-btn-lineSelectOptions").click();
                $.each(pageInfo['qa_right_key'],function (k,v) {
                    $.each(v,function (ke,vo) {
                        $("#qa-options-area .qa-options-table select[name='qa-line-select']").each(function (key,value) {
                            if ($(value).attr('this_qa_options_number') == ke) {
                                $(value).find('option').each(function () {
                                    $(this).val() == vo && $(this).attr('selected',true);
                                })
                            }
                        })
                    })
                })
            } else if (qaOptionType == 9 || qaOptionType == 10 || qaOptionType == 11) {
                if (pageInfo['qa_right_key']) {
                    $.each(pageInfo['qa_right_key'],function (k,v) {
                        $("#qa-btn-addAnswer").click();
                        $("#qa-options-area .qa-addAnswer input[name='qa-options-answer']:last").val(v);
                    })
                }
            } else if (qaOptionType == 12) {
                if (pageInfo['qa_right_key']) {
                    $.each(pageInfo['qa_right_key'],function (k,v) {
                        console.log();
                        $("#qa-options-area .qa-options-table input[name='qa-options-checkbox'][value="+v+"]").each(function () {
                            if (!$(this).is(':checked')){
                                $(this).click();
                                return false;
                            }
                        })
                    })
                }
            } else {
                if (pageInfo['qa_right_key']) {
                    $.each(pageInfo['qa_right_key'],function (k,v) {
                        $("#qa-options-area .qa-options-table input[name='qa-options-answer'][value="+v+"]").attr('checked',true);
                    })
                }
            }

            //绑定模块
            if(pageInfo['qa_bind_modules'] && pageInfo['qa_bind_modules'].length > 0) {
                $.each(pageInfo['qa_bind_modules'],function (k,v) {
                    $.each(v,function (module_name,module_id) {
                        $("select[name='modules-bind-name']").eq(k).find("option").each(function (key,vo) {
                            if ($(vo).val() == module_name) {
                                $(vo).attr('selected',true) && $(vo).parents('select').trigger('change');
                            }
                        })
                        var timer = setTimeout(function () {
                            $("select[name='modules-bind-id']").eq(k).find("option").each(function (key,vo) {
                                if ($(vo).val() == module_id) {
                                    $(vo).attr('selected',true);
                                }
                            })
                        },1500);
                    })
                    if (k < pageInfo['qa_bind_modules'].length -1) {
                        $(".modules-bind-add").click();
                    }
                })
            }

            //隐藏域赋值
            $("input[name='qa-created']").val(pageInfo['qa_created']);
            $("input[name='qa-id']").val(pageInfo['id']);
        }
    }

    //获取问答选项表格
    function getQaOptionsTable(optionsTableType) {
        var html = '<table cellspacing="1" cellpadding="0" class="qa-options-table">';
        html += '<tbody>';
        html += '<tr class="qa-options-table-head">';

        //纯文字单选 / 多选
        if (optionsTableType == 1 || optionsTableType == 2) {
            html += '<td>序号</td><td>标题</td><td>是否正确</td><td>操作</td>';

            //纯图片单选 / 多选
        } else if (optionsTableType == 3 || optionsTableType == 4) {
            html += '<td>序号</td><td>图片链接地址</td><td>预览</td><td>是否正确</td><td>操作</td>';

            //图文单选 / 多选
        } else if (optionsTableType == 5 || optionsTableType == 6) {
            html += '<td>序号</td><td>标题</td><td>图片链接地址</td><td>预览</td><td>是否正确</td><td>操作</td>';

            //连线单连 / 多连
        } else if (optionsTableType == 7 || optionsTableType == 8) {
            html += '<td>左序号</td><td>左标题</td><td>左图片</td><td>右序号</td><td>右标题</td><td>右图片</td><td>配对答案</td><td>操作</td>';

            //联想
        } else if (optionsTableType == 9) {
            html += '<td>序号</td><td>提示</td><td>操作</td>';

            //填空
        } else if (optionsTableType == 11) {
            html += '<td>序号</td><td>内容</td><td>操作</td>';
            
            //宫格
        } else if (optionsTableType == 12) {
             html += '<td>序号</td><td>宫格内容(从上到下从左至右)</td><td>是否正确</td><td>操作</td>';
        }
            html += '</tbody>';
        html += '</table>';
        return html;
    }

    //获取问答选项
    function getQaOptions(optionType,nextNumber,nextNumber_2) {
        //纯文字单选 / 多选
        if (optionType == 1 || optionType == 2) {
            var html  = '<tr class="qa-options">';
            html += '<td><input type="text" class="form-control input-xsmall qa-options-number" value="'+nextNumber+'" /></td>';
            html += '<td><input type="text" class="form-control input-inline input-medium" name="qa-options-title" this_qa_options_number="'+nextNumber+'" value="" /></td>';
            if (optionType == 1) {
                html += '<td><input type="radio" name="qa-options-answer" style="width: 20px;height: 20px;" value="'+nextNumber+'"></td>';
            } else if (optionType == 2) {
                html += '<td><input type="checkbox" class="form-control input-xsmall" name="qa-options-answer" value="'+nextNumber+'"></td>';
            }
            html += '<td><button class="btn btn-danger qa-btn-options-delete" type="button">删除</button></td>';
            html += '</tr>';

            //纯图片单选 / 多选
        } else if (optionType == 3 || optionType == 4) {
            var html  = '<tr class="qa-options">';
            html += '<td><input type="text" class="form-control input-xsmall qa-options-number" value="'+nextNumber+'" /></td>';
            html += '<td>';
            /*html += '<input type="text" class="form-control input-xsmall" style="float:left">';*/
            /*html += '<button style="float:left;" data-toggle="modal" class="btn btn-default qa-btn-select-img qa-btn-select-img-options" type="button">浏览</button>';*/
            html += '<div class="qa-btn-select-img-div">';
            html += '<img alt="" src="Public/Home/interact/images/liune.jpg">';
            html += '<input type="file" file_type="img" name="download" class="qa-btn-select-img qa-btn-select-img-options" />';
            html += '<input type="hidden" name="qa-options-img-id" this_qa_options_number="'+nextNumber+'" />';
            html += '<span class="qa-upload-progress"></span>';
            html += '</div>';
            html += '</td>';
            html += '<td><img style="width:50px;height:50px;" class="qa-options-img-view"></td>';
            if (optionType == 3) {
                html += '<td><input type="radio" name="qa-options-answer" style="width: 20px;height: 20px;" value="'+nextNumber+'"></td>';
            } else if (optionType == 4) {
                html += '<td><input type="checkbox" class="form-control input-xsmall" name="qa-options-answer" value="'+nextNumber+'"></td>';
            }
            html += '<td><button class="btn btn-danger qa-btn-options-delete" type="button">删除</button></td>';
            html += '</tr>';

            // 图文单选 / 多选
        } else if (optionType == 5 || optionType == 6) {
            var html  = '<tr class="qa-options">';
            html += '<td><input type="text" class="form-control input-xsmall qa-options-number" value="'+nextNumber+'" /></td>';
            html += '<td><input type="text" class="form-control input-inline input-medium" name="qa-options-title" this_qa_options_number="'+nextNumber+'" value="" /></td>';
            html += '<td>';
            /*html += '<input type="text" class="form-control input-xsmall" style="float:left">';*/
            /*html += '<button style="float:left;" data-toggle="modal" class="btn btn-default" type="button">浏览</button>';*/
            html += '<div class="qa-btn-select-img-div">';
            html += '<img alt="" src="Public/Home/interact/images/liune.jpg">';
            html += '<input type="file" file_type="img" name="download" class="qa-btn-select-img qa-btn-select-img-options" />';
            html += '<input type="hidden" name="qa-options-img-id" this_qa_options_number="'+nextNumber+'" />';
            html += '<span class="qa-upload-progress"></span>';
            html += '</div>';
            html += '</td>';
            html += '<td><img style="width:50px;height:50px;" class="qa-options-img-view"></td>';
            if (optionType == 5) {
                html += '<td><input type="radio" name="qa-options-answer" style="width: 20px;height: 20px;" value="'+nextNumber+'"></td>';
            } else if (optionType == 6) {
                html += '<td><input type="checkbox" class="form-control input-xsmall" name="qa-options-answer" value="'+nextNumber+'"></td>';
            }
            html += '<td><button class="btn btn-danger qa-btn-options-delete" type="button">删除</button></td>';
            html += '</tr>';

            // 连线单连 / 多连
        } else if (optionType == 7 || optionType == 8) {
            var html  = '<tr class="qa-options">';
            html += '<td><input type="text" class="form-control input-xsmall qa-options-number qa-options-number-left" style="width: 40px !important;height: 40px !important;" disabled value="'+nextNumber+'" /></td>';
            html += '<td><input type="text" class="form-control input-inline input-medium" name="qa-options-title" this_qa_options_number="'+nextNumber+'" style="width: 140px !important;height: 40px !important;" value="" /></td>';
            html += '<td>';
            html += '<div class="qa-btn-select-img-div">';
            html += '<img alt="" src="Public/Home/interact/images/liune.jpg" style="display:block;">';
            html += '<input type="file" file_type="img" name="download" class="qa-btn-select-img qa-btn-select-img-line qa-btn-select-img-options" />';
            html += '<input type="hidden" name="qa-options-img-id" this_qa_options_number="'+nextNumber+'" />';
            html += '<img style="width:50px;height:50px;" class="qa-options-img-view">';
            html += '<span class="qa-upload-progress"></span>';
            html += '</div>';
            html += '</td>';
            html += '<td><input type="text" class="form-control input-xsmall qa-options-number qa-options-number-right" style="width: 40px !important;height: 40px !important;" disabled value="'+nextNumber_2+'" /></td>';
            html += '<td><input type="text" class="form-control input-inline input-medium" name="qa-options-title" this_qa_options_number="'+nextNumber_2+'" style="width: 140px !important;height: 40px !important;" value="" /></td>';
            html += '<td>';
            html += '<div class="qa-btn-select-img-div">';
            html += '<img alt="" src="Public/Home/interact/images/liune.jpg" style="display:block;">';
            html += '<input type="file" file_type="img" name="download" class="qa-btn-select-img qa-btn-select-img-line qa-btn-select-img-options" />';
            html += '<input type="hidden" name="qa-options-img-id" this_qa_options_number="'+nextNumber_2+'" />';
            html += '<img style="width:50px;height:50px;" class="qa-options-img-view">';
            html += '<span class="qa-upload-progress"></span>';
            html += '</div>';
            html += '</td>';
            html += '<td><input type="text" class="form-control input-xsmall qa-options-number" style="width: 40px !important;height: 40px !important;display: inline-block" disabled value="'+nextNumber+'" />';
            html += '--';
            if (optionType == 7) {
                html += '<select class="form-control input-inline input-small" name="qa-line-select" this_qa_options_number="'+nextNumber+'" style="width: 130px !important;height: 40px !important;">';
            } else if (optionType == 8) {
                html += '<select class="form-control input-inline input-small" name="qa-line-select" this_qa_options_number="'+nextNumber+'" multiple="multiple" style="width: 130px !important;height: 40px !important;">';
            }
            html += '<option value="">请配对右编号</option>';
            html += '</select></td>';
            html += '<td><button class="btn btn-danger qa-btn-options-delete" type="button">删除</button></td>';
            html += '</tr>';

            //联想
        } else if(optionType == 9) {
            var html  = '<tr class="qa-options">';
            html += '<td><input type="text" class="form-control input-xsmall qa-options-number" style="width: 40px !important;height: 40px !important;" value="'+nextNumber+'" /></td>';
            html += '<td><input type="text" class="form-control input-inline input-medium" name="qa-options-title" this_qa_options_number="'+nextNumber+'" style="height: 40px !important;" value="" /></td>';
            html += '<td><button class="btn btn-danger qa-btn-options-delete" type="button">删除</button></td>';
            html += '</tr>';

            //填空
        } else if(optionType == 11) {
            var html  = '<tr class="qa-options">';
            html += '<td><input type="text" class="form-control input-xsmall qa-options-number" style="width: 40px !important;height: 40px !important;" value="'+nextNumber+'" /></td>';
            html += '<td><input type="text" class="form-control input-inline input-medium" name="qa-options-title" this_qa_options_number="'+nextNumber+'" style="height: 40px !important;" value="" /></td>';
            html += '<td><button class="btn btn-danger qa-btn-options-delete" type="button">删除</button></td>';
            html += '</tr>';
        
            //宫格
        } else if(optionType == 12) {
            var html  = '<tr class="qa-options">';
            html += '<td><input type="text" class="form-control input-xsmall qa-options-number" value="'+nextNumber+'" /></td>';
            html += '<td><input type="text" class="form-control input-inline input-medium" name="qa-options-title" this_qa_options_number="'+nextNumber+'" value="" /></td>';
            html += '<td><input type="checkbox" class="form-control input-xsmall" name="qa-options-checkbox" value="'+nextNumber+'"></td>';
            html += '<td><button class="btn btn-danger qa-btn-options-delete" type="button">删除</button></td>';
            html += '</tr>';
        }
        return html;
    }
    
    //获取表单数据
    function getQaData() {
        var data = {
            stageId : $("input[name='stage-id']").val(),
            groupId : $("input[name='group-id']").val(),
            qaType : $("select[name='qa-select-type']").val(),
            qaTypeName : $("select[name='qa-select-type'] option:selected").text(),
            qaTime: $("input[name='dateRangePicker']").val(),
            qaResTime: $("input[name='qa-res-time']").val(),
            qaCountdown : $("input[name='qa-countdown']").val(),
            qaSubject : $("textarea[name='qa-subject']").val(),
            qaTitle : $("textarea[name='qa-title']").val(),
            qaSubjectImg : $("input[name='qa-subject-img-id']").val(),
            qaOptions : [],
            qaOptionsImg : [],
            qaAnswer : [],
            qaAnswerSort : $("input[name='qa-answer-sort']:checked").val(),
            qaExtend : $("textarea[name='qa-extend']").val(),
            qaExtendZcr : $("textarea[name='qa-extend-zcr']").val(),
            qaRemark : $("[name='qa-remark']").val(),
            qaBindModules : [],
            qaCreated : $("input[name='qa-created']").val(),
            qaId : $("input[name='qa-id']").val(),
        }
        $("#qa-options-area .qa-options-table input[name='qa-options-title']").each(function (k,v) {
            var qa_options_title = {};
            qa_options_title[$(v).attr('this_qa_options_number')] = $(v).val();
            data['qaOptions'].push(qa_options_title);
        })
        $("#qa-options-area .qa-options-table input[name='qa-options-img-id']").each(function (k,v) {
            if ($(v).val().replace(/\s+/g, "").length > 0) {
                var qa_options_img = {};
                qa_options_img[$(v).attr('this_qa_options_number')] = $(v).val();
                data['qaOptionsImg'].push(qa_options_img);
            }
        })
        var qaOptionType = $("select[name='qa-select-type']").find("option:selected").attr('qa_options_type');
        if (qaOptionType == 7 || qaOptionType == 8) {
            $("#qa-options-area .qa-options-table select[name='qa-line-select']").each(function (k,v) {
                var qa_line_select = {};
                var qa_line_select_val = $(v).val();
                if (qa_line_select_val) {
                    qa_line_select[$(v).attr('this_qa_options_number')] = qa_line_select_val;
                    data['qaAnswer'].push(qa_line_select);
                }
            })
        } else if (qaOptionType == 9 || qaOptionType == 10 || qaOptionType == 11 || qaOptionType == 12) {
            $("#qa-options-area .qa-addAnswer input[name='qa-options-answer']").each(function (k,v) {
                data['qaAnswer'].push($(v).val());
            })
        } else {
            $("#qa-options-area .qa-options-table input[name='qa-options-answer']:checked").each(function (k,v) {
                data['qaAnswer'].push($(v).val());
            })
        }
        $("select[name='modules-bind-name']").each(function (k,v) {
            var modules_bind = {};
            var module_bind_name = $(this).val();
            var module_bind_id = $(this).parents('.modules-bind-row').find("select[name='modules-bind-id']").val();
            if (module_bind_name && module_bind_id) {
                modules_bind[module_bind_name] = module_bind_id;
                data['qaBindModules'].push(modules_bind);
            }
        })

        console.log(data);

        if (data.qaSubject.replace(/\s+/g, "").length === 0) {
            $(".display-hide").show().find('span').html('请输入有效问答题面!');
            $("textarea[name='qa-subject']").focus();
            return false;
        }
        if (qaOptionType != 10 && $.isEmptyObject(data.qaOptions) && $.isEmptyObject(data.qaOptionsImg)) {
            $(".display-hide").show().find('span').html('请输入有效问答选项!');
            return false;
        }
        if (qaOptionType != 9 && qaOptionType != 10 && qaOptionType != 11 && $.isEmptyObject(data.qaAnswer)) {
            $(".display-hide").show().find('span').html('请选择有效问答答案!');
            return false;
        }

        $(".display-hide").hide();

        return data;
    }

    //异步上传文件
    function uploadFile(obj){
        var file = $(obj).val();
        var fileType = $(obj).attr('file_type').toLowerCase();
        var fileExtension = file.substr(file.indexOf(".") + 1).toLowerCase();
        var fileFormat = {
            img : ['png','jpg','gif','jpeg'],
            audio : ['mp3','aac'],
            video : ['mp4','avi','mov'],
            txt : ['txt']
        }

        if (fileFormat.hasOwnProperty(fileType) && $.inArray(fileExtension,fileFormat[fileType]) >= 0) {
            $("#qa-form").ajaxSubmit({
                url: "{:U('File/uploadPicture')}",
                type: 'POST',
                data:{uid:'scdh'},
                dataType: 'JSON',
                beforeSend: function() {
                    $(obj).parent().find(".qa-upload-progress").html("0%");
                },
                uploadProgress: function(event, position, total, percentComplete) {
                    $(obj).parent().find(".qa-upload-progress").html(percentComplete+"%");
                },
                complete: function () {
                    $(obj).parent().find(".qa-upload-progress").html('');
                },
                success: function(msg) {
                    console.log(msg);
                    if (msg.status == 1) {
                        if ($(obj).hasClass('qa-btn-select-img-subject')) {
                            $("input[name='qa-subject-img-id']").val(msg.id);
                            $(".qa-subject-img-view").attr('src','__ROOT__' + msg.path);
                        } else if ($(obj).hasClass('qa-btn-select-img-options')) {
                            $(obj).parent().find("input[name='qa-options-img-id']").val(msg.id);
                            var imgViewObj = $(obj).hasClass('qa-btn-select-img-line') ? $(obj).parent().find(".qa-options-img-view") : $(obj).parent().parent().parent().find(".qa-options-img-view");
                            imgViewObj.attr('src','__ROOT__' + msg.path);
                        }
                    } else {
                        $.confirm({
                            title: '上传失败，请重新尝试！',
                            level: 'warning',
                            buttons: {
                                "确定": {
                                    class:"blue"
                                }
                            }
                        })
                    }
                },
                error:function(e){
                    $.confirm({
                        title: e.statusText,
                        level: 'warning',
                        buttons: {
                            "确定": {
                                class:"blue"
                            }
                        }
                    })
                }
            });
        } else {
            $.confirm({
                title: '上传文件格式有误！',
                level: 'warning',
                buttons: {
                    "确定": {
                        class:"blue"
                    }
                }
            })
        }
    }


</script>


<include file="Public/footer"/>
