<include file="Public/head"/>
<include file="Public/top"/>
<div class="clearfix">
    <div class="page-container">
        <include file="Public/left"/>

        <div class="page-content-wrapper">
            <div class="page-content">
                <!-- BEGIN SAMPLE PORTLET CONFIGURATION MODAL FORM-->
                <div aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" id="portlet-config"
                     class="modal fade">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button aria-hidden="true" data-dismiss="modal" class="close" type="button"></button>
                                <h4 class="modal-title">Modal title</h4>
                            </div>
                            <div class="modal-body">
                                Widget settings form goes here
                            </div>
                            <div class="modal-footer">
                                <button class="btn blue" type="button">Save changes</button>
                                <button data-dismiss="modal" class="btn default" type="button">Close</button>
                            </div>
                        </div>
                        <!-- /.modal-content -->
                    </div>
                    <!-- /.modal-dialog -->
                </div>
                <!-- /.modal -->
                <!-- END SAMPLE PORTLET CONFIGURATION MODAL FORM-->
                <!-- BEGIN PAGE HEADER-->
                <!-- BEGIN PAGE HEAD -->
                <div class="page-head">
                    <!-- BEGIN PAGE TITLE -->
                    <!-- END PAGE TITLE -->
                    <!-- BEGIN PAGE TOOLBAR -->
                    <!--<div class="page-toolbar">
                         BEGIN THEME PANEL
                        <div class="btn-group btn-theme-panel">
                            <a data-toggle="dropdown" class="btn dropdown-toggle" href="javascript:;">
                            <i class="icon-settings"></i>
                            </a>
                            <div class="dropdown-menu theme-panel pull-right dropdown-custom hold-on-click">
                                <div class="row">
                                    <div class="col-md-4 col-sm-4 col-xs-12">
                                        <h3>THEME</h3>
                                        <ul class="theme-colors">
                                            <li data-theme="default" class="theme-color theme-color-default active">
                                                <span class="theme-color-view"></span>
                                                <span class="theme-color-name">Dark Header</span>
                                            </li>
                                            <li data-theme="light" class="theme-color theme-color-light">
                                                <span class="theme-color-view"></span>
                                                <span class="theme-color-name">Light Header</span>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="col-md-8 col-sm-8 col-xs-12 seperator">
                                        <h3>LAYOUT</h3>
                                        <ul class="theme-settings">
                                            <li>
                                                 Theme Style
                                                <select class="layout-style-option form-control input-small input-sm">
                                                    <option selected="selected" value="square">Square corners</option>
                                                    <option value="rounded">Rounded corners</option>
                                                </select>
                                            </li>
                                            <li>
                                                 Layout
                                                <select class="layout-option form-control input-small input-sm">
                                                    <option selected="selected" value="fluid">Fluid</option>
                                                    <option value="boxed">Boxed</option>
                                                </select>
                                            </li>
                                            <li>
                                                 Header
                                                <select class="page-header-option form-control input-small input-sm">
                                                    <option selected="selected" value="fixed">Fixed</option>
                                                    <option value="default">Default</option>
                                                </select>
                                            </li>
                                            <li>
                                                 Top Dropdowns
                                                <select class="page-header-top-dropdown-style-option form-control input-small input-sm">
                                                    <option value="light">Light</option>
                                                    <option selected="selected" value="dark">Dark</option>
                                                </select>
                                            </li>
                                            <li>
                                                 Sidebar Mode
                                                <select class="sidebar-option form-control input-small input-sm">
                                                    <option value="fixed">Fixed</option>
                                                    <option selected="selected" value="default">Default</option>
                                                </select>
                                            </li>
                                            <li>
                                                 Sidebar Menu
                                                <select class="sidebar-menu-option form-control input-small input-sm">
                                                    <option selected="selected" value="accordion">Accordion</option>
                                                    <option value="hover">Hover</option>
                                                </select>
                                            </li>
                                            <li>
                                                 Sidebar Position
                                                <select class="sidebar-pos-option form-control input-small input-sm">
                                                    <option selected="selected" value="left">Left</option>
                                                    <option value="right">Right</option>
                                                </select>
                                            </li>
                                            <li>
                                                 Footer
                                                <select class="page-footer-option form-control input-small input-sm">
                                                    <option value="fixed">Fixed</option>
                                                    <option selected="selected" value="default">Default</option>
                                                </select>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                         END THEME PANEL
                    </div> -->
                    <!-- END PAGE TOOLBAR -->
                </div>
                <!-- END PAGE HEAD -->
                <!-- BEGIN PAGE BREADCRUMB -->
                <!-- <ul class="page-breadcrumb breadcrumb">
                    <li>
                        <a href="#">竞猜</a>
                        <i class="fa fa-circle"></i>
                    </li>
                </ul> -->
                <!-- END PAGE BREADCRUMB -->
                <!-- END PAGE HEADER-->
                <!-- BEGIN PAGE CONTENT-->
                <!-- 注释 查询开始  -->
                <!-- 注释 查询结束  -->
                <div class="row">
                    <div class="col-md-12">
                        <!-- BEGIN EXAMPLE TABLE PORTLET-->
                        <div class="portlet box blue">
                            <div class="portlet-title">
                                <div class="caption">
                                    <i class="fa fa-edit"></i>{$data['pageTitle']}
                                </div>
                            </div>
                            <div class="portlet-body">
                                <button style="margin-bottom:5px;" class="btn blue" type="button" id="group-add">新建分组</button>
                                <button style="margin-bottom:5px;" class="btn blue" type="button" id="group-both-open" stage_id="{$data['pageParam']['stage_id']}">开启所有分组</button>
                                <button style="margin-bottom:5px;" class="btn blue" type="button" id="group-both-close" stage_id="{$data['pageParam']['stage_id']}">关闭所有分组</button>
                                <table class="table table-striped table-hover table-bordered" id="sample_editable_1">
                                    <thead>
                                        <tr>
                                            <th>序号</th>
                                            <th>所属期数</th>
                                            <th>分组名称</th>
                                            <th>分组ID</th>
                                            <th>分组类型</th>
                                            <!--<th width="180px;">使用区间</th>-->
                                            <th width="100px;">更新时间</th>
                                            <th width="220px;">备注</th>
                                            <!--<th>状态</th>
                                            <th>虚拟榜单</th>-->
                                            <th>操作</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    <notempty name="data['pageInfo']">
                                        <foreach name="data['pageInfo']" item="vo" key="key">
                                            <tr>
                                                <td>{$key + 1}</td>
                                                <td>{$data['stage_info']['stage_name']}</td>
                                                <td>{$vo.group_title}</td>
                                                <td>{$vo.id}</td>
                                                <td>{$vo.group_type_name}</td>
                                                <!--<td>{$vo.group_time}</td>-->
                                                <td>{$vo.group_updated|date="Y-m-d H:i:s",###}</td>
                                                <td>{$vo.group_remark}</td>                                                      
                                                <!--<if condition="$vo.group_init eq '1'">
                                                    <td style="color: red;">初始化</td>
                                                <else />
                                                    <td>未初始化</td> 
                                                </if>  
                                                <td>
	                                                <if condition="$vo.is_false eq '1'">
	                                                    <a href="javascript:void(0);" id="{$vo.id}" status=0  onclick="changeStatus(this)">关闭</a>
	                                                <else />
	                                                    <a href="javascript:void(0);" id="{$vo.id}" status=1  onclick="changeStatus(this)">开启</a>
	                                                </if>
                                                </td>     -->
                                                <td>
                                                    <if condition="$vo.group_status eq 0">
                                                        <a><i group_id="{$vo.id}" group_init="{$vo.group_init}" group_status="1" class="glyphicon glyphicon-play group-switch" title="点击开启本轮次"></i></a>
                                                    <else/>
                                                        <a><i group_id="{$vo.id}" group_init="{$vo.group_init}" group_status="0" class="glyphicon glyphicon-stop group-switch" title="点击关闭本轮次"></i></a>
                                                    </if>
                                                    <!--<a><i group_id="{$vo.id}" stage_id="{$vo.stage_id}" class="glyphicon glyphicon-ok group-init" title="初始化"></i></a>-->
                                                    <a><i group_id="{$vo.id}" class="glyphicon glyphicon-edit group-edit" title="编辑"></i></a>
                                                    <a><i group_id="{$vo.id}" stage_id="{$vo.stage_id}" class="glyphicon glyphicon-wrench group-maintenance" title="维护数据"></i></a>
                                                    <a><i group_id="{$vo.id}" group_status="{$vo.group_status}" class="glyphicon glyphicon-trash group-delete" title="删除"></i></a>
                                                    <!--<a class="glyphicon glyphicon-export group-export" title="导出" href="{:U('Group/exportList',array('group_id'=>$vo['id']))}"></a>-->
                                                </td>
                                            </tr>
                                        </foreach>
                                        <else/>
                                        <td colspan="10" class="text-center"> aOh! 暂时还没有内容!</td>
                                    </notempty>
                                    </tbody>
                                </table>
                                <div class="row">
                                    <div class="col-md-5 col-sm-12">
                                        <div class="dataTables_info" id="sample_editable_1_info" role="status"
                                             aria-live="polite">
                                            当前是第 {$data['page']['p']} 页 总页数 {$data['page']['totalPage']}
                                        </div>
                                    </div>
                                    <div class="col-md-7 col-sm-12">
                                        <div class="dataTables_paginate paging_simple_numbers"
                                             id="sample_editable_1_paginate">
                                            {$data['page']['show']}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- END EXAMPLE TABLE PORTLET-->
                    </div>
                </div>

                <!-- END PAGE CONTENT-->
            </div>
        </div>
    </div>
</div>
<script>
    $(function () {
        //添加分组
        $("#group-add").on('click', function () {
            var url = "{:U('Group/addEdit')}" + "&stage_id=" + "{$data['pageParam']['stage_id']}";
            window.location.href = url;
        })
        //维护数据
        $(".group-maintenance").on('click', function () {
            var group_id = $(this).attr('group_id');
            var stage_id = $(this).attr('stage_id');
            var url = "{:U('Qa/index')}" + '&stage_id=' + stage_id + '&group_id=' + group_id;
            window.location.href = url;
        })
        //编辑数据
        $(".group-edit").on('click', function () {
            var group_id = $(this).attr('group_id');
            var url = "{:U('Group/addEdit')}";
            url = url + '&group_id=' + group_id;
            window.location.href = url;
        })

        //修改状态
        function changeStatus(obj){
            var url = "{:U('Group/changeStatus')}";
            var id = $(obj).attr("id");
            var status = $(obj).attr("status");
            $.ajax({
                url:url,
                data:{status:status,id:id},
                type:'post',
                dataType:'json',
                beforeSend: function () {
                    // 禁用按钮防止重复提交
                    $(obj).attr({ disabled: "disabled" });
                    $.refreshWindow.open("请稍后...");
                },
                success:function(msg){
                    $.refreshWindow.close();
                    if(msg.code==1){
                        location.replace(location.href);
                    }else{
                        alert(msg.message);
                    }
                }
            });
        }
        //初始化分组
        $(".group-init").on('click', function () {
            var data = {
                stage_id:$(this).attr('stage_id'),
                group_id:$(this).attr('group_id')
            }
            $.confirm({
                title: '确认初始化当前分组答题统计数据吗？',
                level: 'warning',
                buttons: {
                    "确定": {
                        class: "blue",
                        action: function () {
                            $.ajax({
                                url: "{:U('Group/initGroup')}",
                                type: 'POST',
                                dataType: 'JSON',
                                data: data,
                                timeout: 20000,
                                success: function (msg) {
                                    console.log(msg);
                                    if (msg.status == 1) {
                                        window.location.reload();
                                    } else {
                                        $.confirm({
                                            title: msg.info,
                                            level: 'warning',
                                            buttons: {
                                                "确定": {
                                                    class: "blue",
                                                    action: function () {
                                                        if (msg.status == -2) {
                                                            window.location.href = "{:U('Player/index')}";
                                                        }
                                                    }
                                                }
                                            }
                                        })
                                    }
                                },
                                error: function () {
                                    $.confirm({
                                        title: '操作失败，请联系开发人员',
                                        level: 'warning',
                                        buttons: {
                                            "确定": {
                                                class: "blue"
                                            }
                                        }
                                    })
                                }
                            })
                        }
                    },
                    "取消": {
                        "class":"green",
                        "action":function() {}
                    }
                }
            })
        })
        //开启关闭分组
        $(".group-switch").on('click', function () {
            /*var group_init = $(this).attr('group_init');
            var this_flag = true;*/
            var data = {
                group_id: $(this).attr('group_id'),
                group_status: $(this).attr('group_status')
            }
            var title = data['group_status'] == 1 ? '确认开启当前分组？' : '确认关闭当前分组？';

            /*if (data['group_status'] == 1) {
            	if (group_init != 1) {
	                $.confirm({
	                    title: '当前分组未初始化，请先初始化，再执行该操作',
	                    level: 'danger',
	                    buttons: {
	                        "确定": {
	                            class: "blue"
	                        }
	                    }
	                })
	                return false;
	            }
                $('.group-switch').each(function (k, v) {
                    if ($(this).attr('group_status') == 0) {
                        this_flag = false;
                        $.confirm({
                            title: '当前已有其他开启分组，请先手动关闭已开启分组，再执行该操作',
                            level: 'danger',
                            buttons: {
                                "确定": {
                                    class: "blue"
                                }
                            }
                        })
                    }
                })
            }

            if (!this_flag) {
                return false;
            }*/

            $.confirm({
                title: title,
                level: 'warning',
                buttons: {
                    "确定": {
                        class: "blue",
                        action: function () {
                            $.ajax({
                                url: "{:U('Group/switchGroup')}",
                                type: 'POST',
                                dataType: 'JSON',
                                data: data,
                                timeout: 20000,
                                success: function (msg) {
                                    console.log(msg);
                                    if (msg.status == 1) {
                                        window.location.reload();
                                    } else {
                                        $.confirm({
                                            title: msg.info,
                                            level: 'danger',
                                            buttons: {
                                                "确定": {
                                                    class: "blue",
                                                }
                                            }
                                        })
                                    }
                                },
                                error: function (e) {
                                    $.confirm({
                                        title: e.statusText,
                                        level: 'warning',
                                        buttons: {
                                            "确定": {
                                                class: "blue"
                                            }
                                        }
                                    })
                                }
                            })
                        }
                    },
                    "取消": {
                        "class":"green",
                        "action":function() {}
                    }
                }
            })
        })
        //批量开启 批量关闭
        $("#group-both-open,#group-both-close").on('click',function () {
             var status = $(this).attr('id') == 'group-both-open' ? 1 : 0;
             var stage_id = $(this).attr('stage_id');
             var title = status == 1 ? '您确认开启所有分组？' : '您确认关闭所有分组？';
             $.confirm({
                title: title,
                level: 'danger',
                buttons: {
                    "确定": {
                        class: "blue",
                        action: function () {
                            $.ajax({
                                url: "{:U('Group/switchAllGroup')}",
                                type: 'POST',
                                dataType: 'JSON',
                                data: {status:status,stage_id:stage_id},
                                timeout: 20000,
                                success: function (msg) {
                                    console.log(msg);
                                    if (msg.status == 1) {
                                        window.location.reload();
                                    } else {
                                        $.confirm({
                                            title: msg.info,
                                            level: 'danger',
                                            buttons: {
                                                "确定": {
                                                    class: "blue",
                                                }
                                            }
                                        })
                                    }
                                },
                                error: function (e) {
                                    $.confirm({
                                        title: e.statusText,
                                        level: 'warning',
                                        buttons: {
                                            "确定": {
                                                class: "blue"
                                            }
                                        }
                                    })
                                }
                            })
                        }
                    },
                    "取消": {
                        "class":"green",
                        "action":function() {}
                    }
                }
             })
        })
        //删除
        $(".group-delete").on('click', function () {
            var this_group_status = $(this).attr('group_status');
            var this_group_id = $(this).attr('group_id');
            var this_flag = true;
            var $this  = this;

            if (this_group_status == 1) {
                this_flag = false;
                $.confirm({
                    title: '当前分组正在开启中，请关闭后再执行删除操作',
                    level: 'danger',
                    buttons: {
                        "确定": {
                            class: "blue"
                        }
                    }
                })
            }
            if (!this_flag) {
                return false;
            }

            $.confirm({
                title: '确认删除当前分组吗？',
                level: 'warning',
                buttons: {
                    "确定": {
                        class: "blue",
                        action: function () {
                            $.ajax({
                                url: "{:U('Group/deleteGroup')}",
                                type: 'GET',
                                data: {group_id:this_group_id},
                                dataType: 'JSON',
                                success: function (msg) {
                                    console.log(msg);
                                    if (msg.status == 1) {
                                        $($this).parent().parent().parent().remove();
                                    } else if (msg.status == -2) {
                                        $.confirm({
                                            title: '当前分组正在开启中，请关闭后再执行删除操作!',
                                            level: 'danger',
                                            buttons: {
                                                "确定": {
                                                    class: "blue"
                                                }
                                            }
                                        })
                                    } else {
                                        $.confirm({
                                            title: '删除失败，请重新尝试',
                                            level: 'warning',
                                            buttons: {
                                                "确定": {
                                                    class: "blue"
                                                }
                                            }
                                        })
                                    }
                                },
                                error: function (e) {
                                    $.confirm({
                                        title: e.statusText,
                                        level: 'warning',
                                        buttons: {
                                            "确定": {
                                                class: "blue"
                                            }
                                        }
                                    })
                                }
                            })
                        }
                    },
                    "取消": {
                        "class":"green",
                        "action":function() {}
                    }
                }
            })
        })
    })
</script>

<include file="Public/footer"/>