<include file="Public/head" />
<!--图片上传需要引入的js-->
<script type="text/javascript" src="__PUBLIC__/static/uploadify/jquery.uploadify.min.js"></script>
<!-- BEGIN CONTAINER -->
<!-- <div class="page-container"> -->
	<!-- <div class="page-content-wrapper"> -->
		<div class="page-content">
			<!-- BEGIN SAMPLE PORTLET CONFIGURATION MODAL FORM-->
			<!-- /.modal -->
			<!-- END SAMPLE PORTLET CONFIGURATION MODAL FORM-->
			<!-- BEGIN PAGE HEADER-->
			<!-- BEGIN PAGE HEAD -->
			<!-- <div class="page-head">
				BEGIN PAGE TITLE
				<div class="page-title">
					<h1>Form Validation <small>form validation</small></h1>
				</div>
			</div> -->
			<!-- END PAGE HEAD -->
			<!-- BEGIN PAGE BREADCRUMB -->
			<!-- <ul class="page-breadcrumb breadcrumb">
				<li>
					<a href="index.html">Home</a>
					<i class="fa fa-circle"></i>
				</li>
				<li>
					<a href="#">Form Stuff</a>
					<i class="fa fa-circle"></i>
				</li>
				<li>
					<a href="#">Form Validation</a>
				</li>
			</ul> -->
			<!-- END PAGE BREADCRUMB -->
			<!-- END PAGE HEADER-->
			<!-- BEGIN PAGE CONTENT-->
			
			<div class="row">
				<div class="col-md-12">
					<!-- BEGIN VALIDATION STATES-->
					<div class="portlet box blue">
						<div class="portlet-title">
							<div class="caption">
								<i class="fa fa-gift"></i>抽奖设置
							</div>
							<div class="tools">
								<!-- <a href="javascript:;" class="collapse">
								</a>
								<a href="#portlet-config" data-toggle="modal" class="config">
								</a>
								<a href="javascript:;" class="reload">
								</a>
								<a href="javascript:;" class="remove">
								</a> -->
								<button class="btn btn-default" onclick="goback()" type="button">返回</button>
							</div>
						</div>
						<div class="portlet-body form">
							<!-- BEGIN FORM-->
							<form id="form_bonus" class="form-horizontal">
							<input type="hidden" name="bonus_id" id="bonus_id" value="{$data.id}">
							<input type="hidden" name="uid" value="{$uid}">
								<div class="form-body">
									<div class="alert alert-danger display-hide">
										<button class="close" data-close="alert"></button>
										您填写的表单信息有误，请检查一下！
									</div>
									<div class="alert alert-success display-hide">
										<button class="close" data-close="alert"></button>
										信息无误，验证通过！
									</div>
								<div class="form-group " style="margin-top:10px;">
									<label class="control-label col-md-3">幸运转盘活动标题</label>
									<div class="col-md-9">
										<input type="text" name="bonus_title" id="bonus_title" value="{$data.bonus_title}" placeholder="不超过50个字符" class="form-control input-inline input-medium">
										<span class="required" style="color:red">* </span>
										<span class="help-inline">不超过50个字符</span>
									</div>
								</div> 
								<div class="form-group">
									<label class="col-md-3 control-label">幸运转盘活动说明</label>
									<div class="col-md-9">
										<textarea rows="3" name="bonus_rules" id="bonus_rules" placeholder="不超过200个字符" class="form-control input-inline input-medium">{$data.bonus_rules}</textarea>
										<span class="required" style="color:red">* </span>
										<span class="help-inline">不超过200个字符</span>
									</div>
								</div>
								<div class="form-group">
									<label class="control-label col-md-3">中奖提示</label>
									<div class="col-md-9">
										<input type="text" name="wining_remark" id="wining_remark" value="{$data.wining_remark}" placeholder="不超过50个字符" class="form-control input-inline input-medium">
										<span class="required" style="color:red">* </span>
										<span class="help-inline">不超过50个字符</span>
									</div>
								</div> 
								<div class="form-group">
									<label class="col-md-3 control-label">领奖提示</label>
									<div class="col-md-9">
										<textarea rows="3" name="award_remark" id="award_remark" placeholder="不超过200个字符" class="form-control input-inline input-medium">{$data.award_remark}</textarea>
										<span class="required" style="color:red">* </span>
										<span class="help-inline">不超过200个字符</span>
									</div>
								</div>
								<div class="form-group">
									<label class="control-label col-md-3">抽奖活动时间</label>
									<div class="col-md-9">
										<div class="input-group input-large date-picker input-daterange" data-date="10/11/2012" data-date-format="mm/dd/yyyy">
											<input type="text" class="form-control" name="start_time" id="start_time" <if condition="$data.id neq 0">value="{$data.start_time|date='m/d/Y',###}" </if>>
											<span class="input-group-addon">到</span>
											<input type="text" class="form-control" name="end_time" id="end_time" <if condition="$data.id neq 0">value="{$data.end_time|date='m/d/Y',###}"</if>>
										</div>
									</div>
								</div>
								<div class="form-group">
									<label class="control-label col-md-3">每人每天抽奖次数</label>
									<div class="col-md-9">
										<input type="text" name="ep_bonus_number" id="ep_bonus_number" value="{$data.ep_bonus_number}" placeholder="请填写整数，如果不填则表示无限制" class="form-control input-inline input-medium">
										<span class="required" style="color:red">* </span>
										<span class="help-inline">请填写整数，如果不填则表示无限制</span>
									</div>
								</div>
								<div class="form-group">
									<label class="control-label col-md-3">活动期间内每人总抽奖次数</label>
									<div class="col-md-9">
										<input type="text" name="bonus_number" id="bonus_number" value="{$data.bonus_number}" placeholder="请填写整数，如果不填则表示无限制" class="form-control input-inline input-medium">
										<span class="required" style="color:red">* </span>
										<span class="help-inline">请填写整数，如果不填则表示无限制</span>
									</div>
								</div>
								<div class="form-group">
									<label class="control-label col-md-3">背景图片</label>
									<div class="col-md-9">
									   <div class="upload-img-box" id="litpic_show" style="float:left;padding-right:1px;">
									   <if condition="$bonusimginfo">
                                            <img width="120" height="120" src="{$bonusimginfo.path}"/>
                                       </if>
									   </div>
										<div class="controls uploadrow" title="点击修改图片" style="width:100px;height:32px;background:url(__PUBLIC__/Home/interact/images/shangchuan.png) no-repeat;float:left;overflow:hidden">
                           					<input type="file" id="upload_picture_picurl">
                           					<input type="hidden" name="picurl" value="{$data.background}" id="cover_id_picurl"/>
                         					</div>
                         					<input name="picurl" type="hidden" id="pic_id" value="{$data.background}" >
                         					<script type="text/javascript">
											//上传图片
						    				/* 初始化上传插件 */

											$("#upload_picture_picurl").uploadify({
						        				"height"          : 32,
						        				"swf"             : "__PUBLIC__/static/uploadify/uploadify.swf",
						        				"fileObjName"     : "download",
						        				"buttonText"      : "",
						        				"uploader"        : "{:U('home/File/uploadPicture')}",
						        				"width"           : 100,
						        				'removeTimeout'	  : 1,
						        				'fileTypeExts'	  : '*.jpg; *.png; *.gif;',
						        				"onUploadStart"   : function(file){
						        					var element = {};
						        					element.uid = "{$uid}";
						        					/*
						        					 element.uname = 'xxx';
						        					*/
						        					$("#upload_picture_picurl").uploadify('settings','formData',element);
						        				},
						        				"onUploadSuccess" : uploadPicturepicurl
						        			});
											function uploadPicturepicurl(file, data){
												var data = eval("(" + data +")");
                                                //console.log(testdata);
                                                //var data = $.parseJSON(data);
						    					var src = '';
						        				if(data.status){
						        					$("#cover_id_picurl").val(data.id);
						        					src = data.url || '__ROOT__' + data.path;
						        					/*$("#cover_id_picurl").parent().find('.upload-img-box').show().html(
						        						'<div class="upload-pre-item"><img width="120" height="120" src="' + src + '"/></div>'
						        					);*/
						        					$("#litpic_show").show().html('<img width="120" height="120" src="' + src + '"/>');
													$("#pic_id").val(data.id);
						        					$('.weixin-cover-pic').attr('src',src);
						        				} else {
						        					$(".alert-danger").show().html(
						        						'<button class="close" data-close="alert"></button>'+data.info+'请重新选择图片'	
						        					)
						        					/*updateAlert(data.info);
						        					setTimeout(function(){
						                				$('#top-alert').find('button').click();
						               					$(that).removeClass('disabled').prop('disabled',false);
						            					},1500);*/
						        				}
						    			    }
											</script>    
										<button  class="btn btn-default BrowerPicture" data-toggle="modal" type="button" rel="{$uid}" style="margin-left:5px;">选择站内图片</button>	        
										<span class="required" style="color:red">* </span>
										<span class="help-inline">
										建议尺寸:宽540像素,高300像素或等比图片</span>
									</div>
								</div>
								<div class="form-group">
									<label class="col-md-3 control-label">是否允许重复中奖</label>
									<div class="col-md-9">
										<div class="radio-list">
											<label class="radio-inline">
											<input type="radio" name="is_repeat" value="0">否</label>
											<label class="radio-inline">
											<input type="radio" name="is_repeat" value="1" checked>是</label>											</div>
									</div>
								</div>
								<div class="form-group">
									<label class="control-label col-md-3">重复抽奖说明</label>
									<div class="col-md-9">
										<input type="text" name="repeat_note" id="repeat_note" value="{$data.repeat_note}" placeholder="重复抽奖说明" class="form-control input-inline input-medium">
										<span class="required" style="color:red">* </span>
										<span class="help-inline">重复抽奖说明</span>
									</div>
								</div>
								<div class="form-group">
									<label class="control-label col-md-3">活动结束公告主题</label>
									<div class="col-md-9">
										<input type="text" name="end_topic" id="end_topic" value="{$data.end_topic}" placeholder="幸运大转盘活动已经结束了" class="form-control input-inline input-medium">
										<span class="required" style="color:red">* </span>
										<span class="help-inline">请不要多于50字!</span>
									</div>
								</div>
								<div class="form-group">
									<label class="col-md-3 control-label">活动结束说明</label>
									<div class="col-md-9">
										<textarea rows="3" name="end_remark" id="end_remark" class="form-control input-inline input-medium" placeholder="亲，活动已经结束，请继续关注我们的后续活动哦。">{$data.end_remark}</textarea>
										<span class="required" style="color:red">* </span>
										<span class="help-inline">活动结束公告主题</span>
									</div>
								</div>
								<div class="form-group">
                                    <label class="control-label col-md-3">抢红包有效时长</label>
                                    <div class="col-md-9">
                                        <input type="text" name="timelong" id="timelong" value="{$data.timelong}" placeholder="有效时长" class="form-control input-inline input-medium">
                                        <span class="required" style="color:red">* </span>
                                        <span class="help-inline">请写整数,单位(秒)</span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-3">该红包总金额</label>
                                    <div class="col-md-9">
                                        <input type="text" name="bonussum" id="bonussum" value="{$data['bonussum']/100}" placeholder="红包总金额" class="form-control input-inline input-medium">
                                        <span class="required" style="color:red">* </span>
                                        <span class="help-inline">单位(元)</span>
                                    </div>
                                </div>
								<style>
                                 .form-action{margin:0px;padding:20px 10px;}
                                </style>
								<div class="form-action">
									<div class="row">
										<div class="col-md-offset-4 col-md-7">
											<button type=submit class="btn blue">提交</button>
											<button type="reset" class="btn default">取消</button>
										</div>
									</div>
								</div>
							</form>
							<!-- END FORM-->
						</div>
					</div>
					<!-- END VALIDATION STATES-->
				</div>
			</div>
			<!-- END PAGE CONTENT-->
		</div>
</div>
	<!-- </div> -->
	<!-- END CONTENT -->
<!-- </div> -->
<!-- END CONTAINER -->
<!-- BEGIN FOOTER -->
<script type="text/javascript" src="__PUBLIC__/Home/static/theme/assets/global/plugins/jquery-validation/js/jquery.validate.min.js"></script>
<!-- END PAGE LEVEL STYLES -->

<script>
	function formsubmit(){
	    var data = $("#form_bonus").serialize();
	    $.ajax({
	        url:"{:U('Bonus/modify')}",
	        data:data,
	        type:"POST",
	        dataType:"json",
	        success:function(msg){
	            if(msg.status == 1){
	                var msg = msg.info+",页面在三秒后自动跳转!!!";
	                $.confirm({title:msg,modal: true, level:"success",buttons: {  
	                       "确定": {
	                           "class":"blue",
	                           "action":function() {
	                        	   goback();
	                           }
	                       }
	                   }  
	                });
	                setTimeout("goback()",3000);
	            }else{
	                var msg=msg.info+"请重新提交";
	                $.confirm({title:msg,modal: true, level:"danger",buttons: {  
	                       "确定": {
	                           "class":"blue",
	                           "action":function() {
	                           }
	                       }
	                   }  
	                });
	            }
	        }
	    });
	    return false;
	}
	   function goback(){
	        location.href = "{:U('Bonus/index')}";
	    }
	jQuery(document).ready(function(){
		var form2 = $('#form_bonus');
        var error2 = $('.alert-danger', form2);
        var success2 = $('.alert-success', form2);
        form2.validate({
            errorElement: 'span', //default input error message container
            errorClass: 'help-inline', // default input error message class
            focusInvalid: false, // do not focus the last invalid input
            ignore: "",
            rules: {
            	bonus_title: {
                    minlength: 1,
                    maxlength: 50,
                    required: true
                },
                bonus_rules: {
                	minlength: 1,
                    maxlength: 200,
                    required: true,
                },
                wining_remark: {
                	minlength: 1,
                    maxlength: 50,
                    required: true,
                },
                award_remark: {
                	minlength: 1,
                    maxlength: 200,
                    required: true,
                },
                start_time: {
                    required: true,
                    date: true
                },
                end_time: {
                    required: true,
                    date: true
                },
                ep_bonus_number: {
                    number: true
                },
                bonus_number: {
                    number: true
                },
                picurl: {
                    required: false,
                },
                end_topic: {
                    required: true,
                },
                end_remark: {
                    required: true,
                },
                timelong: {
                	number: true,
                    minlength: 1,
                    maxlength: 10,
                    required: true,
                },
            },
            invalidHandler: function (event, validator) { //display error alert on form submit              
                success2.hide();
                error2.show();
            },

            errorPlacement: function (error, element) { // render error placement for each input type
                var icon = $(element).parent('.input-icon').children('i');
                icon.removeClass('fa-check').addClass("fa-warning");  
                icon.attr("data-original-title", error.text()).tooltip({'container': 'body'});
            },

            highlight: function (element) { // hightlight error inputs
                $(element).closest('.form-group').addClass('has-error'); // set error class to the control group   
            },

            unhighlight: function (element) { // revert the change done by hightlight
                
            },

            success: function (label, element) {
                var icon = $(element).parent('.input-icon').children('i');
                $(element).closest('.form-group').removeClass('has-error').addClass('has-success'); // set success class to the control group
                icon.removeClass("fa-warning").addClass("fa-check");
            },

            submitHandler: function (form) {
                success2.show();
                error2.hide();
                formsubmit();
               // form.submit();
            }
        });
	});	
</script>
<link id="skin" rel="stylesheet" href="__PUBLIC__/static/jq_plugins/jBox/Skins2/Blue/jbox.css" />
<script type="text/javascript" src="__PUBLIC__/static/jq_plugins/jBox/jquery.jBox-2.3.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/static/jq_plugins/jBox/i18n/jquery.jBox-zh-CN.js"></script>
<script type="text/javascript" src="__PUBLIC__/Home/interact/js/common.js"></script>
<include file="Public/footer" />