<include file="Public/head" />
<div class="page-content">
    <!-- BEGIN SAMPLE PORTLET CONFIGURATION MODAL FORM-->
    <!-- /.modal -->
    <!-- END SAMPLE PORTLET CONFIGURATION MODAL FORM-->
    <!-- BEGIN PAGE HEADER-->
    <!-- BEGIN PAGE HEAD -->
    <div class="page-head">
        <!-- BEGIN PAGE TITLE -->
        <!-- END PAGE TITLE -->
        <!-- BEGIN PAGE TOOLBAR -->
        <!--<div class="page-toolbar">
             BEGIN THEME PANEL 
            <div class="btn-group btn-theme-panel">
                <a data-toggle="dropdown" class="btn dropdown-toggle" href="javascript:;">
                <i class="icon-settings"></i>
                </a>
                <div class="dropdown-menu theme-panel pull-right dropdown-custom hold-on-click">
                    <div class="row">
                        <div class="col-md-4 col-sm-4 col-xs-12">
                            <h3>THEME</h3>
                            <ul class="theme-colors">
                                <li data-theme="default" class="theme-color theme-color-default active">
                                    <span class="theme-color-view"></span>
                                    <span class="theme-color-name">Dark Header</span>
                                </li>
                                <li data-theme="light" class="theme-color theme-color-light">
                                    <span class="theme-color-view"></span>
                                    <span class="theme-color-name">Light Header</span>
                                </li>
                            </ul>
                        </div>
                        <div class="col-md-8 col-sm-8 col-xs-12 seperator">
                            <h3>LAYOUT</h3>
                            <ul class="theme-settings">
                                <li>
                                     Theme Style
                                    <select class="layout-style-option form-control input-small input-sm">
                                        <option selected="selected" value="square">Square corners</option>
                                        <option value="rounded">Rounded corners</option>
                                    </select>
                                </li>
                                <li>
                                     Layout
                                    <select class="layout-option form-control input-small input-sm">
                                        <option selected="selected" value="fluid">Fluid</option>
                                        <option value="boxed">Boxed</option>
                                    </select>
                                </li>
                                <li>
                                     Header
                                    <select class="page-header-option form-control input-small input-sm">
                                        <option selected="selected" value="fixed">Fixed</option>
                                        <option value="default">Default</option>
                                    </select>
                                </li>
                                <li>
                                     Top Dropdowns
                                    <select class="page-header-top-dropdown-style-option form-control input-small input-sm">
                                        <option value="light">Light</option>
                                        <option selected="selected" value="dark">Dark</option>
                                    </select>
                                </li>
                                <li>
                                     Sidebar Mode
                                    <select class="sidebar-option form-control input-small input-sm">
                                        <option value="fixed">Fixed</option>
                                        <option selected="selected" value="default">Default</option>
                                    </select>
                                </li>
                                <li>
                                     Sidebar Menu
                                    <select class="sidebar-menu-option form-control input-small input-sm">
                                        <option selected="selected" value="accordion">Accordion</option>
                                        <option value="hover">Hover</option>
                                    </select>
                                </li>
                                <li>
                                     Sidebar Position
                                    <select class="sidebar-pos-option form-control input-small input-sm">
                                        <option selected="selected" value="left">Left</option>
                                        <option value="right">Right</option>
                                    </select>
                                </li>
                                <li>
                                     Footer
                                    <select class="page-footer-option form-control input-small input-sm">
                                        <option value="fixed">Fixed</option>
                                        <option selected="selected" value="default">Default</option>
                                    </select>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
             END THEME PANEL 
        </div> -->
        <!-- END PAGE TOOLBAR -->
    </div>
    <!-- END PAGE HEAD -->
    <!-- BEGIN PAGE BREADCRUMB -->
    <!-- END PAGE BREADCRUMB -->
    <!-- END PAGE HEADER-->
    <!-- BEGIN PAGE CONTENT-->
    <!-- 注释 查询开始  -->
          <!--<div class="row">
            <div class="col-md-12">
              <div class="portlet box">
                <div class="portlet-body form">
                <form role="form" class="form-horizontal">
                    <button style="float:right;margin-right:50px;margin-top:10px" class="btn green" type="submit">查询</button>
                    <div  class="form-body">
                        <div  class="form-group">
                            <div style="float:right;margin-right:60px" class="col-md-2">
                                <input type="text" placeholder="请输入关键词查询" class="form-control input-medium">
                            </div>
                        </div>
                    </div>
                </form>
            </div>
              </div>
          </div>-->
          <!-- 注释 查询结束  -->
    <div class="row">
        <div class="col-md-12">
            <!-- BEGIN VALIDATION STATES-->
            <div class="portlet box blue">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-gift"></i>新建奖项
                    </div>
                    <div class="tools">
                        <!-- <a href="javascript:;" class="collapse">
                        </a>
                        <a href="#portlet-config" data-toggle="modal" class="config">
                        </a>
                        <a href="javascript:;" class="reload">
                        </a>
                        <a href="javascript:;" class="remove">
                        </a> -->
                        <button class="btn btn-default" onclick="goback()" type="button">返回</button>
                    </div>
                </div>
                <div class="portlet-body form">
                    <!-- BEGIN FORM-->
                    <form id="form_bonus" method="POST" class="form-horizontal">
                        <input type="hidden" name="bonus_id" value="{$bonus_id}" />
                        <div class="form-body">
                            <div class="alert alert-danger display-hide">
                                <button class="close" data-close="alert"></button>
                                您填写的表单信息有误，请检查一下！
                            </div>
                            <div class="alert alert-success display-hide">
                                <button class="close" data-close="alert"></button>
                                信息无误，验证通过！
                            </div>
                        </div>
                        <div class="form-group " style="margin-left:-10px; margin-right:-15px;margin-top:10px;">
                            <div class="col-md-10" style="width:100%;">
                                <p class="lead" style="padding-left:15px;">奖项设置，所有奖品中奖概率相加不能大于100%</p>
                                <style>
                                    .add_list_table{margin:10px 0px 5px 0px;}
                                    .add_list td {padding: 10px 5px;}
                                    .add_list input {margin-bottom: 0;}
                                    .jbox-body{z-index:99999;!important}
                                </style>
                                <table class="add_list_table" id="option_list">
                                    <notempty name="prizes">
                                        <foreach name="prizes" item="vo">
                                            <tr class="add_list">
                                                <td>
                                                    <lable>{$vo.title}</lable>
                                                    <input type="hidden" name="id[]" value="{$vo.id}">
                                                    <input type="hidden" name="title[]" value="{$vo.title}">
                                                </td>
                                                <td><input type="text"  class="form-control"   style="width:200px" placeholder="不超过50个字符" name="name[]" id="name[]" value="{$vo.name}"></td>
                                                <td>红包总数</td>
                                                <td><input type="text"  class="form-control" placeholder="必填，0为无限制" name="num[]" id="num[]" value="{$vo.totalnum}"></td>
                                                <td>红包区间</td>
	                                            <td>
	                                                <input style="width:140px;float:left" type="text"  class="form-control" placeholder="必填,最小单位(分)" name="min[]" id="min[]" value="{$vo['min']/100}">
	                                                <span style="float:left">元 </span>　　　　
	                                                <span style="float:left"> 　~　 </span>
	                                                <input style="width:140px;float:left" type="text"  class="form-control" placeholder="必填,最小单位(分)" name="max[]" id="max[]" value="{$vo['max']/100}">
	                                                <span style="float:left">元 </span>
	                                            </td>
                                                <td  style="display:none">中奖概率</td>
                                                <td  style="display:none">
                                                    <div class="input-group">
                                                        <input type="text"  class="form-control" placeholder="必填，请填写0-100之间的数字" name="chance[]" id="chance[]" value="{$vo.chance}">
                                                        <div class="input-group-addon">%</div>
                                                    </div>
                                                </td>
                                                <td><a class="danger" href="javascript:void(0);" onclick="delOpt(this)" ><i title="删除" class="glyphicon glyphicon-trash delete"></i></a></td>
                                            </tr>
                                        </foreach>
                                    <else />
                                        <tr class="add_list">
                                            <td>
                                                <lable>一等奖</lable>
                                                <input type="hidden" name="title[]" value="一等奖">
                                            </td>
                                            <td><input  style="width:200px" type="text"  class="form-control" style="width:300px;" placeholder="不超过50个字符" name="name[]" id="name[]" value=""></td>
                                            <td>红包总数</td>
                                            <td><input type="text"  class="form-control" placeholder="必填，0为无限制" name="num[]" id="num[]" value="0"></td>
                                            <td>红包区间</td>
                                            <td>
                                                <input style="width:140px;float:left" type="text"  class="form-control" placeholder="必填,最小单位(分)" name="min[]" id="min[]">
                                                <span style="float:left">元 </span>　　　　
                                                <span style="float:left"> 　~　 </span>
                                                <input style="width:140px;float:left" type="text"  class="form-control" placeholder="必填,最小单位(分)" name="max[]" id="max[]">
                                                <span style="float:left">元 </span>
                                            </td>
                                            <td  style="display:none">中奖概率</td>
                                            <td style="display:none">
                                                <div class="input-group">
                                                    <input type="text"  class="form-control" placeholder="必填，请填写0-100之间的数字" name="chance[]" id="chance[]" value="20">
                                                    <div class="input-group-addon">%</div>
                                                </div>
                                            </td>
                                            <td><a class="danger" href="javascript:void(0);" onclick="delOpt(this)" ><i title="删除" class="glyphicon glyphicon-trash delete"></i></button></td>
                                        </tr>
                                        <!-- <tr class="add_list">
                                            <td>
                                                <lable>二等奖</lable>
                                                <input type="hidden" name="title[]" value="二等奖">
                                            </td>
                                            <td><input type="text"  class="form-control" style="width:300px;" placeholder="不超过50个字符" name="name[]" id="name[]" value=""></td>
                                            <td>奖品数量</td>
                                            <td><input type="text"  class="form-control" placeholder="必填，0为无限制" name="num[]" id="num[]" value="0"></td>
                                            <td>中奖概率</td>
                                            <td>
                                                <div class="input-group">
                                                    <input type="text"  class="form-control" placeholder="必填，请填写0-100之间的数字" name="chance[]" id="chance[]" value="">
                                                    <div class="input-group-addon">%</div>
                                                </div>
                                            </td>
                                            <td><a class="danger" href="javascript:void(0);" onclick="delOpt(this)" ><i title="删除" class="glyphicon glyphicon-trash delete"></i></a></td>
                                        </tr>
                                        <tr class="add_list">
                                            <td>
                                                <lable>三等奖</lable>
                                                <input type="hidden" name="title[]" value="三等奖">
                                            </td>
                                            <td><input type="text"  class="form-control" style="width:300px;" placeholder="不超过50个字符" name="name[]" id="name[]" value=""></td>
                                            <td>奖品数量</td>
                                            <td><input type="text"  class="form-control" placeholder="必填，0为无限制" name="num[]" id="num[]" value="0"></td>
                                            <td>中奖概率</td>
                                            <td>
                                                <div class="input-group">
                                                    <input type="text"  class="form-control" placeholder="必填，请填写0-100之间的数字" name="chance[]" id="chance[]" value="">
                                                    <div class="input-group-addon">%</div>
                                                </div>
                                            </td>
                                            <td><a class="danger" href="javascript:void(0);" onclick="delOpt(this)" ><i title="删除" class="glyphicon glyphicon-trash delete"></i></a></td>
                                        </tr> -->
                                    </notempty>
                                </table>
                                <button  class="btn blue" onclick="addopt();" type="button">+添加选项</button>
                            </div>
                        </div> 
                        <style>
                                 .form-action{margin:0px;padding:20px 10px;}
                                </style>
                        <div class="form-action">
                            <div class="row">
                                <div class="col-md-offset-5 col-md-6">
                                    <button type=submit class="btn blue">保存</button>
                                </div>
                            </div>
                        </div>
                    </form>
                    <!-- END FORM-->
                </div>
            </div>
            <!-- END VALIDATION STATES-->
        </div>
    </div>
    <!-- END PAGE CONTENT-->
</div>
<script type="text/javascript" src="__PUBLIC__/Home/static/theme/assets/global/plugins/jquery-validation/js/jquery.validate.min.js"></script>
<script type="text/javascript">
function formsubmit(){
    var data = $("#form_bonus").serialize();
    $.ajax({
        url:"{:U('Bonusprize/modify')}",
        data:data,
        type:"POST",
        dataType:"json",
        success:function(msg){
            if(msg.status == 1){
                var msg = msg.info+",页面在三秒后自动跳转!!!";
                $.confirm({title:msg,modal: true, level:"success",buttons: {  
                       "确定": {
                           "class":"blue",
                           "action":function() {
                               goback();
                           }
                       }
                   }  
                });
                setTimeout("goback()",3000);
            }else{
                var msg=msg.info+"请重新提交";
                $.confirm({title:msg,modal: true, level:"danger",buttons: {  
                       "确定": {
                           "class":"blue",
                           "action":function() {
                           }
                       }
                   }  
                });
            }
        }
    });
    return false;
}
function goback(){
    location.href = "{:U('Bonus/index')}";
}
jQuery(document).ready(function(){
    var form2 = $('#form_bonus');
    var error2 = $('.alert-danger', form2);
    var success2 = $('.alert-success', form2);
    form2.validate({
        errorElement: 'span', //default input error message container
        errorClass: 'help-inline', // default input error message class
        focusInvalid: false, // do not focus the last invalid input
        ignore: "",
        rules: {
            bonus_title: {
                minlength: 1,
                maxlength: 50,
                required: true
            },
            bonus_rules: {
                minlength: 1,
                maxlength: 200,
                required: true,
            },
            wining_remark: {
                minlength: 1,
                maxlength: 50,
                required: true,
            },
        },
        invalidHandler: function (event, validator) { //display error alert on form submit              
            success2.hide();
            error2.show();
        },

        errorPlacement: function (error, element) { // render error placement for each input type
            var icon = $(element).parent('.input-icon').children('i');
            icon.removeClass('fa-check').addClass("fa-warning");  
            icon.attr("data-original-title", error.text()).tooltip({'container': 'body'});
        },

        highlight: function (element) { // hightlight error inputs
            $(element).closest('.form-group').addClass('has-error'); // set error class to the control group   
        },

        unhighlight: function (element) { // revert the change done by hightlight
            
        },

        success: function (label, element) {
            var icon = $(element).parent('.input-icon').children('i');
            $(element).closest('.form-group').removeClass('has-error').addClass('has-success'); // set success class to the control group
            icon.removeClass("fa-warning").addClass("fa-check");
        },

        submitHandler: function (form) {
            success2.show();
            error2.hide();
            formsubmit();
           // form.submit();
        }
    });
});
function addopt(){
    var prize_title = new Array();
    prize_title[0] = '一等奖';
    prize_title[1] = '二等奖';
    prize_title[2] = '三等奖';
    prize_title[3] = '四等奖';
    prize_title[4] = '五等奖';
    prize_title[5] = '六等奖';
    var i = 1;
    $('.danger').each(function(){
        i++;
    });
    var id = i - 1;
    if(id <=2){
	    var prize_title_in = prize_title[id];
	    var html = '<tr class="add_list">';
	        html+= '<td><lable>'+prize_title_in+'</lable><input type="hidden" name="title[]" value="'+prize_title_in+'"></td>';
	        html+= '<td><input type="text"  class="form-control " style="width:200px;" placeholder="不超过50个字符" name="name[]" id="name[]" value=""></td>';
	        html+= '<td>红包总数</td>';
	        html+= '<td><input type="text"  class="form-control" placeholder="必填，0为无限制" name="num[]" id="num[]" value="0"></td>';
	        html+= '<td>红包区间</td>';
	        html+= '<td><input style="width:140px;float:left" type="text"  class="form-control" placeholder="必填,最小单位(分)" name="min[]" id="min[]" value=""><span style="float:left">元 </span>　　　　<span style="float:left"> 　~　 </span><input style="width:140px;float:left" type="text"  class="form-control" placeholder="必填,最小单位(分)" name="max[]" id="max[]" value=""><span style="float:left">元 </span></td>';
	        html+= '<td   style="display:none">中奖概率</td>';
	        html+= '<td   style="display:none"><div class="input-group"><input type="text"  class="form-control" placeholder="必填，请填写0-100之间的数字" name="chance[]" id="chance[]" value=""><div class="input-group-addon">%</div></div></td>';
	        html+= '<td><a class="danger" href="javascript:void(0);" onclick="delOpt(this)" ><i title="删除" class="glyphicon glyphicon-trash delete"></i></a></td>';
	        html+= '</tr>';
	    $('#option_list').append(html);
    }else{
    	//alert("6个已经很多了,设置这么多奖品,你老板知道吗");
    	$.confirm({  
            title:"3个奖项已经足够多了!",
            modal: true,  
            level:"warning",
            buttons: {  
                "确定": {
                    "class":"blue"
                }
            }  
         });
    }
}
function delOpt(obj){
	if($("input[name='title[]']").length <= 1){
		//alert("最少设置3项奖品");
		$.confirm({  
            title:"最少设置一项奖品!",
            modal: true,  
            level:"warning",
            buttons: {  
                "确定": {
                    "class":"blue"
                }
            }  
         });
		return false;
	}
    $(obj).parents('tr').remove();
    var prize_title = new Array();
    prize_title[0] = '一等奖';
    prize_title[1] = '二等奖';
    prize_title[2] = '三等奖';
    prize_title[3] = '四等奖';
    prize_title[4] = '五等奖';
    prize_title[5] = '六等奖';
    var ct = 0;
    $("input[name='title[]']").each(function(){
       	$(this).val(prize_title[ct]);
       	$(this).prevAll('lable').text(prize_title[ct]);
       	++ct;
    });
}
 
</script>
<include file="Public/footer" />