<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title></title>
<link href="__PUBLIC__/Home/static/theme/assets/global/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css">
<script src="__PUBLIC__/Home/static/theme/assets/global/plugins/jquery.min.js" type="text/javascript"></script>
<link href="__PUBLIC__/Home/static/css/tools.css" rel="stylesheet" type="text/css"/>
<link href="__PUBLIC__/Home/static/theme/assets/global/css/components-rounded.css" id="style_components" rel="stylesheet" type="text/css"/>
<link href="__PUBLIC__/Home/static/theme/assets/global/css/plugins.css" rel="stylesheet" type="text/css"/>
</head>
<body>

<div class="row" style="width:99%;margin:0 auto;display:table;">
    <div class="col-md-12">
        <div class="portlet box blue">
            <div class="portlet-body form">
            		<div class="form-body">
            			<div class="form-group ">
            				<div class="col-md-9">
								<textarea id="code" style="height: 270px;width:	100%; visibility:inherit;" name="code" readonly="readonly">{$data}</textarea>
							</div>
            			</div>
            		</div>
            		<div class="form-actions">
									<div class="row" style="padding-top:10px;">
										<div class="col-md-offset-3 col-md-9">
											<input class="btn blue" type="button" value="返回" onclick="window.history.go(-1);">
										</div>
									</div>
					</div>
            </div>
        </div>
    </div>

</div>
</body>
</html>
