<include file="Public/head" xmlns="http://www.w3.org/1999/html"/>
<include file="Public/top" />
<div class="clearfix">
	<div class="page-container">
		<include file="Public/left" />

		<div class="page-content-wrapper">
			<div class="page-content">
				<!-- BEGIN SAMPLE PORTLET CONFIGURATION MODAL FORM-->
				<div aria-hidden="true" aria-labelledby="myModalLabel" role="dialog"
					tabindex="-1" id="portlet-config" class="modal fade">
					<div class="modal-dialog">
						<div class="modal-content">
							<div class="modal-header">
								<button aria-hidden="true" data-dismiss="modal" class="close"
									type="button"></button>
								<h4 class="modal-title">Modal title</h4>
							</div>
							<div class="modal-body">Widget settings form goes here</div>
							<div class="modal-footer">
								<button class="btn blue" type="button">Save changes</button>
								<button data-dismiss="modal" class="btn default" type="button">Close</button>
							</div>
						</div>
						<!-- /.modal-content -->
					</div>
					<!-- /.modal-dialog -->
				</div>
				<!-- /.modal -->
				<!-- END SAMPLE PORTLET CONFIGURATION MODAL FORM-->
				<!-- BEGIN PAGE HEADER-->
				<!-- BEGIN PAGE HEAD -->
				<div class="page-head">
					<!-- BEGIN PAGE TITLE -->
					<!-- END PAGE TITLE -->
					<!-- BEGIN PAGE TOOLBAR -->
					<!--<div class="page-toolbar">
           
					<!-- END PAGE TOOLBAR -->
				</div>
				<!-- END PAGE HEAD -->
				<!-- BEGIN PAGE BREADCRUMB -->
				<!-- END PAGE BREADCRUMB -->
				<!-- END PAGE HEADER-->
				<!-- BEGIN PAGE CONTENT-->

				<div class="row">
					<div class="col-md-12">
						<!-- BEGIN EXAMPLE TABLE PORTLET-->
						<div class="portlet box blue">
							<div class="portlet-title">
								<div class="caption">
	                                 <i class="fa fa-edit"></i>{$data['pageTitle']}
	                            </div>
							</div>
							<div class="portlet-body form">
								<div class="form-body">
									<div class="alert alert-danger display-hide">
										<button data-close="alert" class="close"></button>
										<span></span>
									</div>
								</div>
								<div class="modal-body">
									<div class="row">
										<div class="col-md-12">
											<form id="sortform" class="form-horizontal">
												<div class="form-group">
													<label class="control-label col-md-3">栏目名称<span class="required"> * </span></label>
													<div class="col-md-9">
														<input type="text" name="column-name" value="{$data['pageInfo']['column_name']}" maxlength="64" class="form-control input-inline input-medium"/>
													</div>
												</div>
										<!-- 		<div class="form-group">
													<label class="control-label col-md-3">栏目日期<span class="required"> * </span></label>
													<div class="col-md-9">
														<div class="input-group date date-picker" data-date-format="yyyy-mm-dd" data-date-start-date="+0d">
															<empty name="data['pageInfo']">
																<input type="text" name="column-date" readonly class="form-control input-inline input-medium"/>
															<else />
																<input type="text" name="column-date" value="{$data['pageInfo']['column_date']|date='Y-m-d',###}" readonly class="form-control input-inline input-medium"/>
															</empty>

															<button class="btn default" type="button" style="padding:10px 14px;"><i class="fa fa-calendar"></i></button>
														</div>
													</div>
												</div> -->
												<div class="form-group">
													<label class="control-label col-md-3">栏目备注<span class="required">&nbsp;&nbsp;</span></label>
													<div class="col-md-9">
														<textarea name="column-remark" cols="40" rows="4" maxlength="120" class="form-control input-inline input-medium">{$data['pageInfo']['column_remark']}</textarea>
													</div>
												</div>
												<notempty name="data['pageInfo']">
													<input type="hidden" name="column-id" value="{$data['pageInfo']['column_id']}" />
													<input type="hidden" name="column-created" value="{$data['pageInfo']['column_created']}" />
												</notempty>
												<div class="form-actions">
													<div class="row">
														<div class="col-md-offset-4 col-md-7">
															<button type="button" class="btn blue" id="save-form">保存</button>
															<button type="button" class="btn default go-back">返回</button>
														</div>
													</div>
												</div>
											</form>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<script type="text/javascript">
						$(function () {
                            //保存
                            $("#save-form").on('click',function () {
                                var data = {
                                    column_id : $("input[name='column-id']").val(),
                                    column_created : $("input[name='column-created']").val(),
                                    column_name : $("input[name='column-name']").val(),
                                    //column_date : $("input[name='column-date']").val(),
                                    column_remark : $("textarea[name='column-remark']").val()
								}

								if (data.column_name.replace(/\s+/g, "").length === 0) {
                                    $(".display-hide").show().find('span').html('请输入有效期数名称');
                                    $("input[name='column-name']").focus();
                                    return false;
                                }
                              /*  if (data.column_date.replace(/\s+/g, "").length === 0) {
                                    $(".display-hide").show().find('span').html('请选择有效期数日期');
                                    $("input[name='column-date']").focus();
                                    return false;
                                } 
								*/
                                $(".display-hide").hide();

                                $.ajax({
                                    url: "{:U('Column/saveColumn')}",
                                    type: 'POST',
                                    dataType: 'JSON',
                                    data: data,
                                    context: this,
                                    timeout: 20000,
                                    beforeSend: function () {
                                        $(this).attr('disabled', true).text('保存中...');
                                    },
                                    complete: function () {
                                        $(this).attr('disabled', false).text('保存');
                                    },
                                    success: function (msg) {
                                        console.log(msg);
                                        if (msg.status == 1) {
                                            $.confirm({
                                                title: '保存成功',
                                                level: 'success',
                                                buttons: {
                                                    "确定": {
                                                        class:"blue",
                                                        action:function() {
                                                            window.location.href = "{:U('Column/index')}";
                                                        }
                                                    }
                                                }
                                            })
										} else {
                                            $.confirm({
                                                title: '表单填写数据格式有误',
                                                level: 'warning',
                                                buttons: {
                                                    "确定": {
                                                        class:"blue"
                                                    }
                                                }
                                            })
										}

                                    },
                                    error: function () {
                                        $.confirm({
                                            title: '保存失败!请刷新后重新提交',
                                            level: 'danger',
                                            buttons: {
                                                "确定": {
                                                    class:"blue"
                                                }
                                            }
                                        })
                                    }
                                })
                            })
                        })

                        //返回
                        $(".go-back").on('click',function () {
                            window.location.href = "{:U('Column/index')}";
                        })

					</script>

				</div>
			</div>
			<!-- END EXAMPLE TABLE PORTLET-->
		</div>
	</div>

	<!-- END PAGE CONTENT-->
</div>



<include file="Public/footer" />