<include file="Public/head"/>
<include file="Public/top"/>
<div class="clearfix">
    <div class="page-container">
        <include file="Public/left"/>

        <div class="page-content-wrapper">
            <div class="page-content">
                <!-- BEGIN SAMPLE PORTLET CONFIGURATION MODAL FORM-->
                <div aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" id="portlet-config"
                     class="modal fade">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button aria-hidden="true" data-dismiss="modal" class="close" type="button"></button>
                                <h4 class="modal-title">Modal title</h4>
                            </div>
                            <div class="modal-body">
                                Widget settings form goes here
                            </div>
                            <div class="modal-footer">
                                <button class="btn blue" type="button">Save changes</button>
                                <button data-dismiss="modal" class="btn default" type="button">Close</button>
                            </div>
                        </div>
                        <!-- /.modal-content -->
                    </div>
                    <!-- /.modal-dialog -->
                </div>
                <!-- /.modal -->
                <!-- END SAMPLE PORTLET CONFIGURATION MODAL FORM-->
                <!-- BEGIN PAGE HEADER-->
                <!-- BEGIN PAGE HEAD -->
                <div class="page-head">
           
                </div>
                <!-- END PAGE HEAD -->
                <!-- BEGIN PAGE BREADCRUMB -->
                <!-- <ul class="page-breadcrumb breadcrumb">
                    <li>
                        <a href="#">投票</a>
                        <i class="fa fa-circle"></i>
                    </li>
                </ul> -->
                <!-- END PAGE BREADCRUMB -->
                <!-- END PAGE HEADER-->
                <!-- BEGIN PAGE CONTENT-->

                <!--<div class="row">
                    <div class="col-md-12">
                        <div class="portlet box">
                            &lt;!&ndash; <div class="portlet-title">
                            </div> &ndash;&gt;
                            <div class="portlet-body form">

                                <form role="form" class="form-horizontal search-form">
                                    <div class="form-body">
                                        <div class="form-group">
                                            <label class="col-md-2 control-label">栏目名称：</label>
                                            <div class="col-md-2" style="margin-right:100px;">
                                                <input type="text" placeholder="请输入栏目名称关键字" name="find_column_name" class="form-control input-medium search-input" value="{$data['pageFind']['stage_name']}">
                                            </div>
                                            <div class="col-md-2">
                                                <button class="btn blue" type="button" id="stage-search">查询</button>
                                            </div>
                                        </div>
                                    </div>
                                </form>

                            </div>
                        </div>
                    </div>
                </div>-->
                <div class="row">
                    <div class="col-md-12">
                        <!-- BEGIN EXAMPLE TABLE PORTLET-->
                        <div class="portlet box blue">
                            <div class="portlet-title">
                                <div class="caption">
                                    <i class="fa fa-edit"></i>{$data['pageTitle']}
                                </div>
                                <!-- <div class="tools">

                                </div> -->
                            </div>
                            <style>
                                .table-bordered th {
                                    text-align: center
                                }
                            </style>
                            <div class="portlet-body">
                                <button style="margin-bottom:5px;" class="btn blue" id="column-add" type="button">添加栏目
                                </button>

                                <table class="table table-striped table-hover table-bordered" id="sample_editable_1">
                                    <thead>
                                    <tr>
                                        <th width="50px">序号</th>
                                        <th width="160px">栏目ID</th>
                                        <th width="120px">栏目名称</th>
                                        <th width="120px">创建日期</th>
                                        <th width="150px">备注</th>
                                        <th>操作</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <notempty name="data['pageInfo']">
                                        <foreach name="data['pageInfo']" item="vo" key="key">
                                            <tr>
                                                <td style="width:5%;">{$key + 1}</td>
                                                <td style="width:15%;">{$vo.column_id}</td>
                                                <td style="width:10%;">{$vo.column_name}</td>
                                                <td style="width:10%;">{$vo.column_created|date="Y-m-d",###}</td>
                                                <td style="width:50%;">{$vo.column_remark}</td>
                                                <td style="width:10%;">
                                                    <if condition="$vo.column_status eq 0">
                                                        <a><i column_id="{$vo.column_id}" column_status="1" class="glyphicon glyphicon-play column-switch" title="点击开启当前期"></i></a>
                                                    <else/>
                                                        <a><i column_id="{$vo.column_id}" column_status="0" class="glyphicon glyphicon-stop column-switch" title="点击关闭当前期"></i></a>
                                                    </if>&nbsp;&nbsp;
                                                    <a><i column_id="{$vo.column_id}" class="glyphicon glyphicon-edit column-edit" title="编辑"></i></a>&nbsp;&nbsp;
                                                    <a><i column_id="{$vo.column_id}" class="glyphicon glyphicon-wrench column-maintenance" title="维护数据"></i></a>&nbsp;&nbsp;
                                                    <a><i column_id="{$vo.column_id}" column_status="{$vo.column_status}" class="glyphicon glyphicon-trash column-delete" title="删除"></i></a>
                                                </td>
                                            </tr>
                                        </foreach>
                                        <else/>
                                        <td colspan="6" class="text-center"> aOh! 暂时还没有内容!</td>
                                    </notempty>
                                    </tbody>
                                </table>
                                <div class="row">
                                    <div class="col-md-5 col-sm-12">
                                        <div class="dataTables_info" id="sample_editable_1_info" role="status"
                                             aria-live="polite">
                                            当前是第 {$data['page']['p']} 页 总页数 {$data['page']['totalPage']}
                                        </div>
                                    </div>
                                    <div class="col-md-7 col-sm-12">
                                        <div class="dataTables_paginate paging_simple_numbers"
                                             id="sample_editable_1_paginate">
                                            {$data['page']['show']}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- END EXAMPLE TABLE PORTLET-->
                    </div>
                </div>

                <!-- END PAGE CONTENT-->
            </div>
        </div>
    </div>
</div>

<script src="__STATIC__/thinkbox/jquery.thinkbox.js"></script>

<script type="text/javascript">
    $(function () {
        //添加期数
        $("#column-add").on('click', function () {
            var url = "{:U('Column/addEdit')}";
            window.location.href = url;
        })
        //开启关闭期数
        $(".column-switch").on('click', function () {
            var this_flag = true;
            var data = {
                column_id: $(this).attr('column_id'),
                column_status: $(this).attr('column_status')
            }
            var title = data['column_status'] == 1 ? '确认开启当前栏目？' : '确认关闭当前栏目？';
		   if (data['column_status'] == 1) {
						$('.column-switch').each(function (k, v) {
							if ($(this).attr('column_status') == 0) {
								this_flag = false;
								$.confirm({
									title: '当前已有其他开启栏目，请先手动关闭已开启栏目，再执行该操作',
									level: 'danger',
									buttons: {
										"确定": {
											class: "blue"
										}
									}
								})
							}
						})
					}
					if (!this_flag) {
						return false;
					}
           
            $.confirm({
                title: title,
                level: 'warning',
                buttons: {
                    "确定": {
                        class: "blue",
                        action: function () {
                            $.ajax({
                                url: "{:U('Column/switchColumn')}",
                                type: 'POST',
                                dataType: 'JSON',
                                data: data,
                                timeout: 20000,
                                success: function (msg) {
                                    console.log(msg);
                                    if (msg.status == 1) {
                                        window.location.reload();
                                    } else {
                                        $.confirm({
                                            title: '操作失败，请重新操作',
                                            level: 'warning',
                                            buttons: {
                                                "确定": {
                                                    class: "blue",
                                                    action: function () {
                                                        window.location.reload();
                                                    }
                                                }
                                            }
                                        })
                                    }
                                },
                                error: function () {
                                    $.confirm({
                                        title: '操作失败，请联系开发人员',
                                        level: 'warning',
                                        buttons: {
                                            "确定": {
                                                class: "blue"
                                            }
                                        }
                                    })
                                }
                            })
                        }
                    },
                    "取消": {
                        "class":"green",
                        "action":function() {}
                    }
                }
            })
        })
        //编辑
        $(".column-edit").on('click', function () {
            var column_id = $(this).attr('column_id');
            var url = "{:U('Column/addEdit')}";
            url = url + '&column_id=' + column_id;
            window.location.href = url;
        })
        //维护数据
        $(".column-maintenance").on('click', function () {
            var column_id = $(this).attr('column_id');
            var url = "{:U('Stage/index')}" + '&column_id=' + column_id;
            window.location.href = url;
        })
        //删除
        $(".column-delete").on('click', function () {
            var this_column_status = $(this).attr('column_status');
            var this_column_id = $(this).attr('column_id');
            var this_flag = true;
            var $this  = this;
			//alert(this_column_status);
            if (this_column_status == '1') {
                this_flag = false;
                $.confirm({
                    title: '当前栏目正在开启中，不能执行删除操作！',
                    level: 'danger',
                    buttons: {
                        "确定": {
                            class: "blue"
                        }
                    }
                })
            }
            if (!this_flag) {
                return false;
            }

            $.confirm({
                title: '确认删除当前栏目吗？',
                level: 'warning',
                buttons: {
                    "确定": {
                        class: "blue",
                        action: function () {
                            $.ajax({
                                url: "{:U('Column/deleteColumn')}",
                                type: 'GET',
                                data: {column_id:this_column_id},
                                dataType: 'JSON',
                                success: function (msg) {
                                    console.log(msg);
                                    if (msg.status == 1) {
                                        $($this).parent().parent().parent().remove();
                                    } else if (msg.status == -2) {
                                        $.confirm({
                                            title: '当前期正在开启中，请关闭后再执行删除操作!',
                                            level: 'danger',
                                            buttons: {
                                                "确定": {
                                                    class: "blue"
                                                }
                                            }
                                        })
                                    } else {
                                        $.confirm({
                                            title: '删除失败，请重新尝试',
                                            level: 'warning',
                                            buttons: {
                                                "确定": {
                                                    class: "blue"
                                                }
                                            }
                                        })
                                    }
                                },
                                error: function () {
                                    $.confirm({
                                        title: '删除失败，请刷新后重新尝试',
                                        level: 'warning',
                                        buttons: {
                                            "确定": {
                                                class: "blue"
                                            }
                                        }
                                    })
                                }
                            })
                        }
                    },
                    "取消": {
                        "class":"green",
                        "action":function() {}
                    }
                }
            })
        })

        //搜索
        $("#stage-search").on('click', function () {
            var find_column_name = $("input[name='find_column_name']").val();
            var url = "{:U('Column/index')}";
                url = url + '&find_column_name=' + find_column_name;
            window.location.href = url;
        })
    });
</script>

<include file="Public/footer"/>