<include file="Public/head"/>
<include file="Public/top"/>
<div class="clearfix">
    <div class="page-container">
        <include file="Public/left"/>
        <div class="page-content-wrapper">
            <div class="page-content">
                <!-- BEGIN SAMPLE PORTLET CONFIGURATION MODAL FORM-->
                <div aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" id="portlet-config"
                     class="modal fade">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button aria-hidden="true" data-dismiss="modal" class="close" type="button"></button>
                                <h4 class="modal-title">Modal title</h4>
                            </div>
                            <div class="modal-body">
                                Widget settings form goes here
                            </div>
                            <div class="modal-footer">
                                <button class="btn blue" type="button">Save changes</button>
                                <button data-dismiss="modal" class="btn default" type="button">Close</button>
                            </div>
                        </div>
                        <!-- /.modal-content -->
                    </div>
                    <!-- /.modal-dialog -->
                </div>
                <!-- /.modal -->
                <!-- END SAMPLE PORTLET CONFIGURATION MODAL FORM-->
                <!-- BEGIN PAGE HEADER-->
                <!-- BEGIN PAGE HEAD -->
                <div class="page-head">
                    <!-- BEGIN PAGE TITLE -->
                    <!-- END PAGE TITLE -->
                </div>
                <!-- END PAGE HEAD -->
                <!-- BEGIN PAGE BREADCRUMB -->
                <!-- END PAGE BREADCRUMB -->
                <!-- END PAGE HEADER-->
                <!-- BEGIN PAGE CONTENT-->

                <!--<div class="row">
                    <div class="col-md-12">
                        <div class="portlet box">
                        </div>
                    </div>
                </div>-->
                <div class="row">
                    <div class="col-md-12">
                        <!-- BEGIN EXAMPLE TABLE PORTLET-->
                        <div class="portlet box blue">
                            <div class="portlet-title">
                                <div class="caption">
                                    <i class="fa fa-edit"></i>问答统计
                                </div>
                            </div>
                            <div class="portlet-body">
                                <ul class="nav nav-tabs countTable">
                                    <li class='user-count <if condition="$tab eq 1">active</if>'>
                                        <a href="{:U('QaCount/index',array('tab'=>1))}" aria-expanded="ture">个人统计</a>
                                    </li>
                                    <li class='group-count <if condition="$tab eq 2">active</if>'>
                                        <a href="{:U('QaCount/index',array('tab'=>2))}" aria-expanded="ture">分组统计</a>
                                    </li>
                                    <li class='stage-count <if condition="$tab eq 3">active</if>'>
                                        <a href="{:U('QaCount/index',array('tab'=>3))}" aria-expanded="ture">分期统计</a>
                                    </li>
                                    <li class='total-count <if condition="$tab eq 4">active</if>'>
                                        <a href="{:U('QaCount/index',array('tab'=>4))}" aria-expanded="ture">总统计</a>
                                    </li>
                                </ul>
                                <if condition="$tab eq 1">
                                    <form role="form" class="form-horizontal">
                                        <div class="form-group">
                                            <div class="col-md-4">
                                                <input type="text" name="user-id" class="form-control input-medium" value="{$find_user_id}" placeholder="请输入用户登录的手机号">
                                            </div>
                                            <div class="col-md-2">
                                                <button class="btn blue" type="button" id="find-user-count">查找</button>
                                            </div>
                                        </div>
                                    </form>
                                    <if condition="$user_count neq null">
                                        <table class="table table-striped table-hover table-bordered">
                                            <thead>
                                            <tr>
                                                <th>总参与人数</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr><td>{$user_count.total_user}</td></tr>
                                            </tbody>
                                        </table>
                                        <notempty name="user_count.stage_count">
                                            <foreach name="user_count.stage_count" item="vo">
                                                <table class="table table-striped table-hover table-bordered">
                                                    <thead>
                                                    <tr>
                                                        <th colspan="2">{$vo.stage_name}</th>
                                                    </tr>
                                                    </thead>
                                                    <tbody>
                                                    <tr><th>分组</th><th>参与总人数</th></tr>
                                                    <foreach name="vo.group_count" item="item">
                                                        <tr><td>{$item.group_title}</td><td>{$item.group_user}</td></tr>
                                                    </foreach>
                                                    <tr><td>本期总人数</td><td>{$vo.stage_user}</td></tr>
                                                    </tbody>
                                                </table>
                                            </foreach>
                                        </notempty>
                                        <notempty name="user_count.user_ranking">
                                            <table class="table table-striped table-hover table-bordered">
                                                <thead>
                                                <tr><th colspan="6">我的成绩</th></tr>
                                                </thead>
                                                <tbody>
                                                <tr style="font-size: 15px;">
                                                    <th>个人信息:</th>
                                                    <th>{$user_count.user_ranking.user_info.user_id}</th>
                                                    <th>{$user_count.user_ranking.user_info.user_name}</th>
                                                    <th>{$user_count.user_ranking.user_info.user_phone}</th>
                                                    <th>
                                                        <neq name="user_count.user_ranking.user_info.user_head" value="">
                                                            <img src="{$user_count.user_ranking.user_info.user_head}" style="width: 50px;height: 50px;">
                                                        </neq>
                                                    </th>
                                                    <th>
                                                        <eq name="user_count.user_ranking.user_info.user_source" value="1">
                                                            APP
                                                        </eq>
                                                    </th>
                                                </tr>
                                                <tr><td>类别</td><td>排名</td><td>参与答题数</td><td>答对题数</td><td>答对用时</td><td>得分</td></tr>
                                                <tr style="font-weight: bold;">
                                                    <td>总排名</td>
                                                    <td>{$user_count.user_ranking.total.total_ranking}</td>
                                                    <td>{$user_count.user_ranking.total.total_score.answer_count}</td>
                                                    <td>{$user_count.user_ranking.total.total_score.answer_right_count}</td>
                                                    <td>{$user_count.user_ranking.total.total_score.answer_time_count}</td>
                                                    <td>{$user_count.user_ranking.total.total_score.answer_score_count}</td>
                                                </tr>
                                                <foreach name="user_count.user_ranking.stage" item="vo" key="ke">
                                                    <tr style="font-weight: bold;">
                                                        <td>{$vo['stage_name']}</td>
                                                        <td>{$vo['stage_ranking'] ? $vo['stage_ranking'] : '未参与'}</td>
                                                        <td>{$vo['stage_score']['answer_count'] ? $vo['stage_score']['answer_count'] : '未参与'}</td>
                                                        <td>{$vo['stage_score']['answer_right_count'] ? $vo['stage_score']['answer_right_count'] : '未参与'}</td>
                                                        <td>{$vo['stage_score']['answer_time_count'] ? $vo['stage_score']['answer_time_count'] : '未参与'}</td>
                                                        <td>{$vo['stage_score']['answer_score_count'] ? $vo['stage_score']['answer_score_count'] : '未参与'}</td>
                                                    </tr>
                                                    <foreach name="vo.group" item="item" key="key">
                                                        <tr style="font-size: 12px;color: grey;">
                                                            <td>{$item['group_title']}</td>
                                                            <td>{$item['group_ranking'] ? $item['group_ranking'] : '未参与'}</td>
                                                            <td>{$item['group_score']['answer_count'] ? $item['group_score']['answer_count'] : '未参与'}</td>
                                                            <td>{$item['group_score']['answer_right_count'] ? $item['group_score']['answer_right_count'] : '未参与'}</td>
                                                            <td>{$item['group_score']['answer_time_count'] ? $item['group_score']['answer_time_count'] : '未参与'}</td>
                                                            <td>{$item['group_score']['answer_score_count'] ? $item['group_score']['answer_score_count'] : '未参与'}</td>
                                                        </tr>
                                                    </foreach>
                                                </foreach>
                                                </tbody>
                                            </table>
                                        </notempty>
                                    </if>
                                </if>
                                <if condition="$tab eq 2 or $tab eq 3 or $tab eq 4">
                                    <form role="form" class="form-horizontal">
                                        <div class="form-group">
                                            <if condition="$tab eq 2 or $tab eq 3">
                                                <div class="col-md-2">
                                                    <select class="form-control input-inline input-small" name="select-stage">
                                                        <option value="">选择期数</option>
                                                        <foreach name="stage_list" item="item" key="key">
                                                            <option value="{$item.stage_id}"<if condition="$item.stage_id eq $find_stage_id">selected</if>>{$item.stage_name}</option>
                                                        </foreach>
                                                    </select>
                                                </div>
                                            </if>
                                            <if condition="$tab eq 2">
                                                <div class="col-md-2">
                                                    <select class="form-control input-inline input-small" name="select-group">
                                                        <option value="">选择分组</option>
                                                        <foreach name="group_list" item="item" key="key">
                                                            <option value="{$item.id}"<if condition="$item.id eq $find_group_id">selected</if>>{$item.group_title}</option>
                                                        </foreach>
                                                    </select>
                                                </div>
                                            </if>
                                        </div>
                                    </form>
                                    <table class="table table-striped table-hover table-bordered">
                                        <thead>
                                        <tr>
                                            <td>排名</td>
                                            <td>昵称</td>
                                            <td>ID</td>
                                            <td>电话</td>
                                            <td>答对题数</td>
                                            <td>答对总耗时</td>
                                        </tr>
                                        </thead>
                                        <tbody>
                                            <notempty name="count_list">
                                                <foreach name="count_list" item="vo" key="key">
                                                    <tr>
                                                        <td>{$p * 15 - 15 + $key + 1}</td>
                                                        <td>{$vo.user_name}</td>
                                                        <td>{$vo.user_id}</td>
                                                        <td>{$vo.user_phone}</td>
                                                        <td>{$vo.total_right}</td>
                                                        <td>{$vo.total_time}</td>
                                                    </tr>
                                                </foreach>
                                                <else />
                                                <tr><td colspan="6">暂无统计数据</td></tr>
                                            </notempty>
                                        </tbody>
                                    </table>
                                    <div class="row">
                                        <div class="col-md-5 col-sm-12">
                                            <div class="dataTables_info" id="sample_editable_1_info" role="status" aria-live="polite">
                                                当前是第 {$p} 页  总页数 {$totalPage}
                                            </div>
                                        </div>
                                        <div class="col-md-7 col-sm-12">
                                            <div class="dataTables_paginate paging_simple_numbers" id="sample_editable_1_paginate">
                                                {$show}
                                            </div>
                                        </div>
                                    </div>
                                </if>
                            </div>
                        </div>
                        <!-- END EXAMPLE TABLE PORTLET-->
                    </div>
                </div>
                <!-- END PAGE CONTENT-->
            </div>
        </div>
    </div>
</div>
<script>
    $(function () {
        $("select[name='select-stage']").on('change',function () {
            var tab = "{$tab}";
            var find_stage_id = $(this).val();
            if (find_stage_id) {
                var url = "{:U('QaCount/index')}" + "&tab=" + tab + "&find_stage_id=" + find_stage_id;
                window.location.href = url;
            }
        })
        $("select[name='select-group']").on('change',function () {
            var tab = "{$tab}";
            var find_stage_id = $("select[name='select-stage']").val();
            var find_group_id = $(this).val();
            if (find_stage_id && find_group_id) {
                var url = "{:U('QaCount/index')}" + "&tab=" + tab + "&find_stage_id=" + find_stage_id + "&find_group_id=" + find_group_id;
                window.location.href = url;
            }
        })
        $("#find-user-count").on('click',function () {
            var tab = "{$tab}";
            var user_id = $("input[name='user-id']").val();
            if (user_id.replace(/\s+/g, "").length > 0) {
                var url = "{:U('QaCount/index')}" + "&tab=" + tab + "&find_user_id=" + user_id;
                window.location.href = url;
            }
        })
    })
</script>
<include file="Public/footer"/>