<include file="Public/head" />
<include file="Public/top" />
<div class="clearfix">
    <div class="page-container">
    <include file="Public/left" />
    
        <div class="page-content-wrapper">
        <div class="page-content">
            <!-- BEGIN SAMPLE PORTLET CONFIGURATION MODAL FORM-->
            <div aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" id="portlet-config" class="modal fade">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button aria-hidden="true" data-dismiss="modal" class="close" type="button"></button>
                            <h4 class="modal-title">Modal title</h4>
                        </div>
                        <div class="modal-body">
                             Widget settings form goes here
                        </div>
                        <div class="modal-footer">
                            <button class="btn blue" type="button">Save changes</button>
                            <button data-dismiss="modal" class="btn default" type="button">Close</button>
                        </div>
                    </div>
                    <!-- /.modal-content -->
                </div>
                <!-- /.modal-dialog -->
            </div>
            <!-- /.modal -->
            <!-- END SAMPLE PORTLET CONFIGURATION MODAL FORM-->
            <!-- BEGIN PAGE HEADER-->
            <!-- BEGIN PAGE HEAD -->
            <div class="page-head">
            </div>
            <!-- END PAGE HEAD -->
            <!-- BEGIN PAGE BREADCRUMB -->
            <!-- END PAGE BREADCRUMB -->
            <!-- END PAGE HEADER-->
            <!-- BEGIN PAGE CONTENT-->
            <div class="row">
                <div class="col-md-12">
                    <div class="portlet box"><div class="portlet-body form">
                        <div calss="col-md-offset-3 form-body" style="line-height:5">
                            <a  style="margin-left:20px" class="btn btn-default" data-toggle="modal"  href="{:U('Comment/index')}">评论管理</a>
                            <a  class="btn btn-default  btn-primary" data-toggle="modal"  href="{:U('Comment/user')}">用户管理</a>
                            <a  class="btn btn-default" data-toggle="modal"  href="{:U('Comment/counttable')}">统计信息</a>
                            <a  class="btn btn-default" data-toggle="modal"  href="{:U('Comment/commentsettings')}">留言设置</a>
                        </div></div>
                    </div>
                </div>
            </div>
            <div class="row">
                <!-- <div class="col-md-12">
                    <img src="{$img}" alt="" style="width:100px;height:100px;">  <span>{$username}</span>
                </div> -->
                <div class="col-md-12">
                    <!-- BEGIN EXAMPLE TABLE PORTLET-->
                    <div class="portlet box blue">
                        <div class="portlet-title">
                            <div class="caption">
                                     <i class="fa fa-edit"></i>{$title}
                                </div>
                        </div>
                        <div class="portlet-body">
                            <img src="{$img}" alt="" style="width:100px;height:100px;">  <span>{$username}</span><div class="col-md-12" style="height:10px;"></div>
                            <table class="table table-striped table-hover table-bordered">
                                <thead>
                                    <tr>
                                        <th style="text-align:center">评论时间</th>
                                        <th style="text-align:center">所属板块</th>
                                        <th style="text-align:center">评论内容</th>
                                        <th style="text-align:center">操作</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <if condition="$total gt 0">
                                        <foreach name="commentlist" item="v" >
                                            <tr>
                                                <td>
                                                     {$v.commenttime|date="Y-m-d",###}
                                                </td>
                                                <td>
                                                     {$v.sort}
                                                </td>
                                                <td title="{$v.comment_content}">
                                                     {$v.comment_content|znsubstr=###,0,90}
                                                </td>
                                                <td>
                                                     <!-- <button class="btn btn-default" type="button" onclick="location.href='{:U('Comment/topicinfo',array('sid'=>$v['sid'],'tid'=>$v['topicid']))}'">回复</button>
                                                     <button class="btn btn-default top_com" commentid="{$v.comment_id}" it="{$v.is_top}" type="button"><if condition="$v.is_top eq 1">取消置顶<else />置顶</if></button>
                                                    <button commentid="{$v.comment_id}" uid="$uid" class="btn btn-default delete_com"  type="button">删除</button>
                                                    <button class="btn btn-default dropdown-toggle check_com" data-toggle="dropdown"><if condition="$v.status  eq 1">通过审核<else />未通过审核</if><i class="fa fa-angle-down"></i>
                                                    </button> -->
                                                    
                                                    
                                                    
                                                    
                                                    <a><i onclick="location.href='{:U('Comment/topicinfo',array('sid'=>$v['sid'],'tid'=>$v['topicid']))}'" class="icon-speech" title="回复"></i></a>
                                                    <!-- <button class="btn btn-default top_com" commentid="{$v.comment_id}" it="{$v.is_top}" type="button"><if condition="$v.is_top eq 1">取消置顶<else />置顶</if></button> -->
                                                    <a><i commentid="{$v.comment_id}" it="{$v.is_top}" <if condition="$v.is_top eq 1"> class="icon-pin font-green-sharp top_com" title="取消该评论置顶"<else /> class="icon-pin top_com" title="置顶该评论"</if>  ></i></a>
                                                    <a><i class="glyphicon glyphicon-trash delete_com" commentid="{$v.comment_id}" uid="$uid" title="删除"></i></a>
                                                    <if condition="$v.status  eq 1">
                                                    <a  onclick="changestatus(this,{$v.comment_id},0)"><i class="icon-check" title="通过审核"></i></a>
                                                    <else />
                                                    <a onclick="changestatus(this,{$v.comment_id},1)"><i class="icon-close" title="未通过审核"  ></i></a>
                                                    </if>
                                                    
                                                    
                                                    
                                                    <!-- <ul class="dropdown-menu pull-right" role="menu">
                                                        <li role="presentation">
                                                            <a role="menuitem" tabindex="-1" onclick="changestatus(this,{$v.comment_id},1)" href="javascript:;">
                                                            通过
                                                            </a>
                                                        </li>
                                                        <li role="presentation">
                                                            <a role="menuitem" tabindex="-1" onclick="changestatus(this,{$v.comment_id},0)" href="javascript:;">
                                                            不通过
                                                            </a>
                                                        </li>
                                                    </ul> -->
                                                </td>
                                            </tr>
                                        </foreach>
                                    <else />
                                        <tr>
                                           <td style="text-align:center" colspan="6">暂无数据</td>
                                        </tr>
                                    </if>
                                </tbody>
                            </table>
                            
                            <div class="row">
                                <div class="col-md-5 col-sm-12">
                                    <div class="dataTables_info" id="sample_editable_1_info" role="status" aria-live="polite">
                                        当前是第 {$p} 页  总页数 {$totalpage}
                                    </div>
                                </div>
                                <div class="col-md-7 col-sm-12">
                                    <div class="dataTables_paginate paging_simple_numbers" id="sample_editable_1_paginate">
                                          {$page}
                                     </div>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                    <!-- END EXAMPLE TABLE PORTLET-->
                </div>
            </div>
            
            <!-- END PAGE CONTENT-->
        </div>
        </div></div></div>
<include file="Public/footer" />
<script>
$('.delete_com').on('click',function (e) {
    var obj = this;
    e.preventDefault();
    bootbox.confirm({
         buttons: {  
            confirm: {  
                label: '确认',  
                className: 'btn-myStyle'  
            },  
            cancel: {  
                label: '取消',  
                className: 'btn-default'  
            }  
        },  
        message: '评论删除时会连同它的回复也一起删除,确认删除吗？',  
        callback: function(result) {  
            if(result) {
                $.post("{:U('Comment/delcomment')}",{comment_id:$(obj).attr("commentid")}, function(data) {
                    if (data.status == 'succ') {
                        var str = "{:U('Comment/usercomments')}";
                        var url = str.replace(".html","")
                        url = url+"/uid/"+$(obj).attr("uid");
                        location.href=url;
                    }else{
                        Metronic.alert({
                            container: "", // alerts parent container(by default placed after the page breadcrumbs)
                            place: "append", // append or prepent in container 
                            type: "info",  // alert's type
                            message: '删除评论失败,请刷新重试',  // alert's message
                            close: false, // make alert closable
                            reset: true, // close all previouse alerts first
                            focus: true, // auto scroll to the alert after shown
                            closeInSeconds: 2, // auto close after defined seconds
                            width:"col-md-offset-3 col-md-3",
                            fixed:"fixed",
                            icon: "" // put icon before the message
                        });
                    }
                },'json');
            }
        }
    });
});
function changestatus(obj,comment_id , statusval){
    $.post("{:U('Comment/changestatus')}",{comment_id:comment_id , status:statusval}, function(data) {
        if (data.status == 'succ') {
            location.reload();
        }else{
            Metronic.alert({
                container: "", // alerts parent container(by default placed after the page breadcrumbs)
                place: "append", // append or prepent in container 
                type: "info",  // alert's type
                message: '修改失败,请刷新重试',  // alert's message
                close: false, // make alert closable
                reset: true, // close all previouse alerts first
                focus: true, // auto scroll to the alert after shown
                closeInSeconds: 2, // auto close after defined seconds
                width:"col-md-offset-3 col-md-3",
                fixed:"fixed",
                icon: "" // put icon before the message
            });
        }
    },'json');
}
    //置顶
    $(".top_com").each(function() {
        var that = $(this);
        var handle = "{:U('Comment/commenttop')}";
        that.click(function() {
            var i = that.attr('commentid');
            var it = that.attr('it');
            var is_top;
            if (it == 0) {
                is_top = 1;
            }else{
                is_top = 0;
            };
            $.post(handle,{comment_id:i,is_top:is_top}, function(data) {
                if (data.status == 1) {
                    that.attr('it','0');
                    that.attr("class",'icon-pin ist_op');
                    that.attr("title",'置顶该评论');
                }else if(data.status == 2) {
                    that.attr('it','1');
                    that.attr("class",'icon-pin font-green-sharp ist_op');
                    that.attr("title",'取消该评论置顶');
                }else if(data.status == -1) {
                    Metronic.alert({
                        container: "", // alerts parent container(by default placed after the page breadcrumbs)
                        place: "append", // append or prepent in container 
                        type: "info",  // alert's type
                        message: data.msg,  // alert's message
                        close: false, // make alert closable
                        reset: true, // close all previouse alerts first
                        focus: true, // auto scroll to the alert after shown
                        closeInSeconds: 2, // auto close after defined seconds
                        width:"col-md-offset-3 col-md-3",
                        fixed:"fixed",
                        icon: "" // put icon before the message
                    });
                }
            },'json');
        });
    });
</script>