<include file="Public/head" />
<include file="Public/top" />
<div class="clearfix">
    <div class="page-container">
    <include file="Public/left" />
    
        <div class="page-content-wrapper">
        <div class="page-content">
            <!-- BEGIN SAMPLE PORTLET CONFIGURATION MODAL FORM-->
            <div aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" id="portlet-config" class="modal fade">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button aria-hidden="true" data-dismiss="modal" class="close" type="button"></button>
                            <h4 class="modal-title">Modal title</h4>
                        </div>
                        <div class="modal-body">
                             Widget settings form goes here
                        </div>
                        <div class="modal-footer">
                            <button class="btn blue" type="button">Save changes</button>
                            <button data-dismiss="modal" class="btn default" type="button">Close</button>
                        </div>
                    </div>
                    <!-- /.modal-content -->
                </div>
                <!-- /.modal-dialog -->
            </div>
            <!-- /.modal -->
            <!-- END SAMPLE PORTLET CONFIGURATION MODAL FORM-->
            <!-- BEGIN PAGE HEADER-->
            <!-- BEGIN PAGE HEAD -->
            <div class="page-head">
                <!-- BEGIN PAGE TITLE -->
                <!-- END PAGE TITLE -->
                <!-- BEGIN PAGE TOOLBAR -->
            </div>
            <!-- END PAGE HEAD -->
            <!-- BEGIN PAGE BREADCRUMB -->
            <!-- END PAGE BREADCRUMB -->
            <!-- END PAGE HEADER-->
            <!-- BEGIN PAGE CONTENT-->
            <div class="row">
                <div class="col-md-12">
                    <div class="portlet box "><div class="portlet-body form">
                        <div calss="col-md-offset-3 form-body" style="line-height:5">
                            <a  style="margin-left:20px" class="btn btn-default" data-toggle="modal"  href="{:U('Comment/index')}">评论管理</a>
                            <a  class="btn btn-default  btn-primary" data-toggle="modal"  href="{:U('Comment/user')}">用户管理</a>
                            <a  class="btn btn-default" data-toggle="modal"  href="{:U('Comment/counttable')}">统计信息</a>
                            <a  class="btn btn-default" data-toggle="modal"  href="{:U('Comment/commentsettings')}">留言设置</a>
                        </div></div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <!-- BEGIN EXAMPLE TABLE PORTLET-->
                    <div class="portlet box blue">
                        <div class="portlet-title">
                            <div class="caption">
                                     <i class="fa fa-edit"></i>{$title}
                                </div>
                        </div>
                        <div class="portlet-body">
                            <table class="table table-striped table-hover table-bordered">
                                <thead>
                                    <tr>
                                        <th style="text-align:center">头像</th>
                                        <th style="text-align:center">用户名称</th>
                                        <th style="text-align:center">最后评论</th>
                                        <th style="text-align:center">评论数量</th>
                                        <th style="text-align:center">操作</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <if condition="$total gt 0">
                                        <foreach name="userinfo" item="v" >
                                            <tr>
                                                <td>
                                                    <img src="{$v.user_head}" alt="" style="width:30px;height:30px">
                                                </td>
                                                <td>
                                                     {$v.user_name}
                                                </td>
                                                <td>
                                                     {$v.lastcomment|znsubstr=###,0,30}
                                                </td>
                                                <td>
                                                     {$v.total}
                                                </td>
                                                <td>
                                                    <!-- <button class="btn btn-default guanli" sid="{$v.uid}" type="button" onclick="location.href='{:U('Comment/usercomments',array('uid'=>$v['uid']))}'">查看评论</button> -->
                                                <a href='{:U('Comment/usercomments',array('uid'=>$v['uid']))}'><i class="glyphicon glyphicon-eye-open" title="查看"></i></a>
                                                </td>
                                            </tr>
                                        </foreach>
                                    <else />
                                        <tr>
                                           <td style="text-align:center" colspan="6">暂无数据</td>
                                        </tr>
                                    </if>
                                </tbody>
                            </table>
                            
                            <div class="row">
                                <div class="col-md-5 col-sm-12">
                                    <div class="dataTables_info" id="sample_editable_1_info" role="status" aria-live="polite">
                                        当前是第 {$p} 页  总页数 {$totalpage}
                                    </div>
                                </div>
                                <div class="col-md-7 col-sm-12">
                                    <div class="dataTables_paginate paging_simple_numbers" id="sample_editable_1_paginate">
                                          {$page}
                                     </div>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                    <!-- END EXAMPLE TABLE PORTLET-->
                </div>
            </div>
            
            <!-- END PAGE CONTENT-->
        </div>
        </div></div></div>
<include file="Public/footer" />

